{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svipatimpresobodega</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ svIpatImpresoBodega.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if svIpatImpresoBodega.fecha %}{{ svIpatImpresoBodega.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ svIpatImpresoBodega.cantidad }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if svIpatImpresoBodega.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svipatimpresobodega_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('svipatimpresobodega_edit', { 'id': svIpatImpresoBodega.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
