{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conceptoparametrotramites list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Anio</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conceptoParametroTramite in conceptoParametroTramites %}
            <tr>
                <td><a href="{{ path('conceptoparametrotramite_show', { 'id': conceptoParametroTramite.id }) }}">{{ conceptoParametroTramite.id }}</a></td>
                <td>{{ conceptoParametroTramite.anio }}</td>
                <td>{% if conceptoParametroTramite.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('conceptoparametrotramite_show', { 'id': conceptoParametroTramite.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('conceptoparametrotramite_edit', { 'id': conceptoParametroTramite.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conceptoparametrotramite_new') }}">Create a new conceptoParametroTramite</a>
        </li>
    </ul>
{% endblock %}
