{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvaucfgtipos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cvAuCfgTipo in cvAuCfgTipos %}
            <tr>
                <td><a href="{{ path('cvaucfgtipo_show', { 'id': cvAuCfgTipo.id }) }}">{{ cvAuCfgTipo.id }}</a></td>
                <td>{{ cvAuCfgTipo.nombre }}</td>
                <td>{% if cvAuCfgTipo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cvaucfgtipo_show', { 'id': cvAuCfgTipo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cvaucfgtipo_edit', { 'id': cvAuCfgTipo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvaucfgtipo_new') }}">Create a new cvAuCfgTipo</a>
        </li>
    </ul>
{% endblock %}
