{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvmedidacautelars list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecharegistro</th>
                <th>Fechainico</th>
                <th>Fechaexpiracion</th>
                <th>Fechalevantamiento</th>
                <th>Numerooficioinscripcion</th>
                <th>Numerooficiolevantamiento</th>
                <th>Numeroradicado</th>
                <th>Observacionesinscripcion</th>
                <th>Observacioneslevantamiento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cvMedidaCautelar in cvMedidaCautelars %}
            <tr>
                <td><a href="{{ path('cvmedidacautelar_show', { 'id': cvMedidaCautelar.id }) }}">{{ cvMedidaCautelar.id }}</a></td>
                <td>{% if cvMedidaCautelar.fechaRegistro %}{{ cvMedidaCautelar.fechaRegistro|date('Y-m-d') }}{% endif %}</td>
                <td>{% if cvMedidaCautelar.fechaInico %}{{ cvMedidaCautelar.fechaInico|date('Y-m-d') }}{% endif %}</td>
                <td>{% if cvMedidaCautelar.fechaExpiracion %}{{ cvMedidaCautelar.fechaExpiracion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if cvMedidaCautelar.fechaLevantamiento %}{{ cvMedidaCautelar.fechaLevantamiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ cvMedidaCautelar.numeroOficioInscripcion }}</td>
                <td>{{ cvMedidaCautelar.numeroOficioLevantamiento }}</td>
                <td>{{ cvMedidaCautelar.numeroRadicado }}</td>
                <td>{{ cvMedidaCautelar.observacionesInscripcion }}</td>
                <td>{{ cvMedidaCautelar.observacionesLevantamiento }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cvmedidacautelar_show', { 'id': cvMedidaCautelar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cvmedidacautelar_edit', { 'id': cvMedidaCautelar.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvmedidacautelar_new') }}">Create a new cvMedidaCautelar</a>
        </li>
    </ul>
{% endblock %}
