{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgauditorias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Token</th>
                <th>Fecha</th>
                <th>Datos</th>
                <th>Tipopeticion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgAuditorium in cfgAuditorias %}
            <tr>
                <td><a href="{{ path('cfgauditoria_show', { 'id': cfgAuditorium.id }) }}">{{ cfgAuditorium.id }}</a></td>
                <td>{{ cfgAuditorium.url }}</td>
                <td>{{ cfgAuditorium.token }}</td>
                <td>{% if cfgAuditorium.fecha %}{{ cfgAuditorium.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if cfgAuditorium.datos %}{{ cfgAuditorium.datos|join(', ') }}{% endif %}</td>
                <td>{{ cfgAuditorium.tipoPeticion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgauditoria_show', { 'id': cfgAuditorium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgauditoria_edit', { 'id': cfgAuditorium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgauditoria_new') }}">Create a new cfgAuditorium</a>
        </li>
    </ul>
{% endblock %}
