{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgtipomaquinarias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgTipoMaquinarium in vhloCfgTipoMaquinarias %}
            <tr>
                <td><a href="{{ path('vhlocfgtipomaquinaria_show', { 'id': vhloCfgTipoMaquinarium.id }) }}">{{ vhloCfgTipoMaquinarium.id }}</a></td>
                <td>{{ vhloCfgTipoMaquinarium.nombre }}</td>
                <td>{{ vhloCfgTipoMaquinarium.codigo }}</td>
                <td>{% if vhloCfgTipoMaquinarium.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfgtipomaquinaria_show', { 'id': vhloCfgTipoMaquinarium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlocfgtipomaquinaria_edit', { 'id': vhloCfgTipoMaquinarium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfgtipomaquinaria_new') }}">Create a new vhloCfgTipoMaquinarium</a>
        </li>
    </ul>
{% endblock %}
