{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvcfginteres list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Anio</th>
                <th>Mes</th>
                <th>Valor</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cvCfgIntere in cvCfgInteres %}
            <tr>
                <td><a href="{{ path('cvcfginteres_show', { 'id': cvCfgIntere.id }) }}">{{ cvCfgIntere.id }}</a></td>
                <td>{{ cvCfgIntere.anio }}</td>
                <td>{{ cvCfgIntere.mes }}</td>
                <td>{{ cvCfgIntere.valor }}</td>
                <td>{% if cvCfgIntere.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cvcfginteres_show', { 'id': cvCfgIntere.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cvcfginteres_edit', { 'id': cvCfgIntere.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvcfginteres_new') }}">Create a new cvCfgIntere</a>
        </li>
    </ul>
{% endblock %}
