{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvlccfgmotivos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cvLcCfgMotivo in cvLcCfgMotivos %}
            <tr>
                <td><a href="{{ path('cvlccfgmotivo_show', { 'id': cvLcCfgMotivo.id }) }}">{{ cvLcCfgMotivo.id }}</a></td>
                <td>{{ cvLcCfgMotivo.descripcion }}</td>
                <td>{{ cvLcCfgMotivo.tipo }}</td>
                <td>{% if cvLcCfgMotivo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cvlccfgmotivo_show', { 'id': cvLcCfgMotivo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cvlccfgmotivo_edit', { 'id': cvLcCfgMotivo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvlccfgmotivo_new') }}">Create a new cvLcCfgMotivo</a>
        </li>
    </ul>
{% endblock %}
