{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usercfggeneros list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Sigla</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userCfgGenero in userCfgGeneros %}
            <tr>
                <td><a href="{{ path('usercfggenero_show', { 'id': userCfgGenero.id }) }}">{{ userCfgGenero.id }}</a></td>
                <td>{{ userCfgGenero.nombre }}</td>
                <td>{{ userCfgGenero.sigla }}</td>
                <td>{% if userCfgGenero.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usercfggenero_show', { 'id': userCfgGenero.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('usercfggenero_edit', { 'id': userCfgGenero.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usercfggenero_new') }}">Create a new userCfgGenero</a>
        </li>
    </ul>
{% endblock %}
