{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgentidadjudicials list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigodivipo</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgEntidadJudicial in cfgEntidadJudicials %}
            <tr>
                <td><a href="{{ path('cfgentidadjudicial_show', { 'id': cfgEntidadJudicial.id }) }}">{{ cfgEntidadJudicial.id }}</a></td>
                <td>{{ cfgEntidadJudicial.nombre }}</td>
                <td>{{ cfgEntidadJudicial.codigoDivipo }}</td>
                <td>{% if cfgEntidadJudicial.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgentidadjudicial_show', { 'id': cfgEntidadJudicial.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgentidadjudicial_edit', { 'id': cfgEntidadJudicial.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgentidadjudicial_new') }}">Create a new cfgEntidadJudicial</a>
        </li>
    </ul>
{% endblock %}
