{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svsenialubicacion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ svSenialUbicacion.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if svSenialUbicacion.fecha %}{{ svSenialUbicacion.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Latitud</th>
                <td>{{ svSenialUbicacion.latitud }}</td>
            </tr>
            <tr>
                <th>Longitud</th>
                <td>{{ svSenialUbicacion.longitud }}</td>
            </tr>
            <tr>
                <th>Via1</th>
                <td>{{ svSenialUbicacion.via1 }}</td>
            </tr>
            <tr>
                <th>Numero1</th>
                <td>{{ svSenialUbicacion.numero1 }}</td>
            </tr>
            <tr>
                <th>Via2</th>
                <td>{{ svSenialUbicacion.via2 }}</td>
            </tr>
            <tr>
                <th>Numero2</th>
                <td>{{ svSenialUbicacion.numero2 }}</td>
            </tr>
            <tr>
                <th>Via3</th>
                <td>{{ svSenialUbicacion.via3 }}</td>
            </tr>
            <tr>
                <th>Numero3</th>
                <td>{{ svSenialUbicacion.numero3 }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ svSenialUbicacion.direccion }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ svSenialUbicacion.valor }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ svSenialUbicacion.cantidad }}</td>
            </tr>
            <tr>
                <th>Unidad</th>
                <td>{{ svSenialUbicacion.unidad }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svsenialubicacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('svsenialubicacion_edit', { 'id': svSenialUbicacion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
