{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgradioaccions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgRadioAccion in vhloCfgRadioAccions %}
            <tr>
                <td><a href="{{ path('vhlocfgradioaccion_show', { 'id': vhloCfgRadioAccion.id }) }}">{{ vhloCfgRadioAccion.id }}</a></td>
                <td>{{ vhloCfgRadioAccion.nombre }}</td>
                <td>{% if vhloCfgRadioAccion.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfgradioaccion_show', { 'id': vhloCfgRadioAccion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlocfgradioaccion_edit', { 'id': vhloCfgRadioAccion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfgradioaccion_new') }}">Create a new vhloCfgRadioAccion</a>
        </li>
    </ul>
{% endblock %}
