{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vehiculoremolques list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Pesobrutovehiculo</th>
                <th>Cargautilmaxima</th>
                <th>Rodaje</th>
                <th>Numeroejes</th>
                <th>Numerollantas</th>
                <th>Fichatecnica</th>
                <th>Altototal</th>
                <th>Largototal</th>
                <th>Anchototal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehiculoRemolque in vehiculoRemolques %}
            <tr>
                <td><a href="{{ path('vehiculoremolque_show', { 'id': vehiculoRemolque.id }) }}">{{ vehiculoRemolque.id }}</a></td>
                <td>{{ vehiculoRemolque.pesoBrutoVehiculo }}</td>
                <td>{{ vehiculoRemolque.cargaUtilMaxima }}</td>
                <td>{{ vehiculoRemolque.rodaje }}</td>
                <td>{{ vehiculoRemolque.numeroEjes }}</td>
                <td>{{ vehiculoRemolque.numeroLlantas }}</td>
                <td>{{ vehiculoRemolque.fichaTecnica }}</td>
                <td>{{ vehiculoRemolque.altoTotal }}</td>
                <td>{{ vehiculoRemolque.largoTotal }}</td>
                <td>{{ vehiculoRemolque.anchoTotal }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vehiculoremolque_show', { 'id': vehiculoRemolque.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vehiculoremolque_edit', { 'id': vehiculoRemolque.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vehiculoremolque_new') }}">Create a new vehiculoRemolque</a>
        </li>
    </ul>
{% endblock %}
