{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgempresaservicios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Gestionable</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgEmpresaServicio in cfgEmpresaServicios %}
            <tr>
                <td><a href="{{ path('cfgempresaservicio_show', { 'id': cfgEmpresaServicio.id }) }}">{{ cfgEmpresaServicio.id }}</a></td>
                <td>{{ cfgEmpresaServicio.nombre }}</td>
                <td>{% if cfgEmpresaServicio.gestionable %}Yes{% else %}No{% endif %}</td>
                <td>{% if cfgEmpresaServicio.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgempresaservicio_show', { 'id': cfgEmpresaServicio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgempresaservicio_edit', { 'id': cfgEmpresaServicio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgempresaservicio_new') }}">Create a new cfgEmpresaServicio</a>
        </li>
    </ul>
{% endblock %}
