{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bpcuentas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Nombre</th>
                <th>Costototal</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bpCuentum in bpCuentas %}
            <tr>
                <td><a href="{{ path('bpcuenta_show', { 'id': bpCuentum.id }) }}">{{ bpCuentum.id }}</a></td>
                <td>{{ bpCuentum.numero }}</td>
                <td>{{ bpCuentum.nombre }}</td>
                <td>{{ bpCuentum.costoTotal }}</td>
                <td>{% if bpCuentum.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bpcuenta_show', { 'id': bpCuentum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bpcuenta_edit', { 'id': bpCuentum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bpcuenta_new') }}">Create a new bpCuentum</a>
        </li>
    </ul>
{% endblock %}
