{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tramitesolicituds list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechasolicitud</th>
                <th>Observacion</th>
                <th>Documentacioncompleta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tramiteSolicitud in tramiteSolicituds %}
            <tr>
                <td><a href="{{ path('tramitesolicitud_show', { 'id': tramiteSolicitud.id }) }}">{{ tramiteSolicitud.id }}</a></td>
                <td>{% if tramiteSolicitud.fechaSolicitud %}{{ tramiteSolicitud.fechaSolicitud|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ tramiteSolicitud.observacion }}</td>
                <td>{% if tramiteSolicitud.documentacionCompleta %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tramitesolicitud_show', { 'id': tramiteSolicitud.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tramitesolicitud_edit', { 'id': tramiteSolicitud.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tramitesolicitud_new') }}">Create a new tramiteSolicitud</a>
        </li>
    </ul>
{% endblock %}
