{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlovehiculos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numerofactura</th>
                <th>Fechafactura</th>
                <th>Valor</th>
                <th>Numeromanifiesto</th>
                <th>Fechamanifiesto</th>
                <th>Cilindraje</th>
                <th>Modelo</th>
                <th>Motor</th>
                <th>Chasis</th>
                <th>Serie</th>
                <th>Vin</th>
                <th>Tipomatricula</th>
                <th>Numeropasajeros</th>
                <th>Capacidadcarga</th>
                <th>Tipoblindaje</th>
                <th>Nivelblindaje</th>
                <th>Empresablindadora</th>
                <th>Leasing</th>
                <th>Pignorado</th>
                <th>Cancelado</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloVehiculo in vhloVehiculos %}
            <tr>
                <td><a href="{{ path('vhlovehiculo_show', { 'id': vhloVehiculo.id }) }}">{{ vhloVehiculo.id }}</a></td>
                <td>{{ vhloVehiculo.numeroFactura }}</td>
                <td>{% if vhloVehiculo.fechaFactura %}{{ vhloVehiculo.fechaFactura|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ vhloVehiculo.valor }}</td>
                <td>{{ vhloVehiculo.numeroManifiesto }}</td>
                <td>{% if vhloVehiculo.fechaManifiesto %}{{ vhloVehiculo.fechaManifiesto|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ vhloVehiculo.cilindraje }}</td>
                <td>{{ vhloVehiculo.modelo }}</td>
                <td>{{ vhloVehiculo.motor }}</td>
                <td>{{ vhloVehiculo.chasis }}</td>
                <td>{{ vhloVehiculo.serie }}</td>
                <td>{{ vhloVehiculo.vin }}</td>
                <td>{{ vhloVehiculo.tipoMatricula }}</td>
                <td>{{ vhloVehiculo.numeroPasajeros }}</td>
                <td>{{ vhloVehiculo.capacidadCarga }}</td>
                <td>{{ vhloVehiculo.tipoBlindaje }}</td>
                <td>{{ vhloVehiculo.nivelBlindaje }}</td>
                <td>{{ vhloVehiculo.empresaBlindadora }}</td>
                <td>{% if vhloVehiculo.leasing %}Yes{% else %}No{% endif %}</td>
                <td>{% if vhloVehiculo.pignorado %}Yes{% else %}No{% endif %}</td>
                <td>{% if vhloVehiculo.cancelado %}Yes{% else %}No{% endif %}</td>
                <td>{% if vhloVehiculo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlovehiculo_show', { 'id': vhloVehiculo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlovehiculo_edit', { 'id': vhloVehiculo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlovehiculo_new') }}">Create a new vhloVehiculo</a>
        </li>
    </ul>
{% endblock %}
