{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlovehiculo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vhloVehiculo.id }}</td>
            </tr>
            <tr>
                <th>Numerofactura</th>
                <td>{{ vhloVehiculo.numeroFactura }}</td>
            </tr>
            <tr>
                <th>Fechafactura</th>
                <td>{% if vhloVehiculo.fechaFactura %}{{ vhloVehiculo.fechaFactura|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ vhloVehiculo.valor }}</td>
            </tr>
            <tr>
                <th>Numeromanifiesto</th>
                <td>{{ vhloVehiculo.numeroManifiesto }}</td>
            </tr>
            <tr>
                <th>Fechamanifiesto</th>
                <td>{% if vhloVehiculo.fechaManifiesto %}{{ vhloVehiculo.fechaManifiesto|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cilindraje</th>
                <td>{{ vhloVehiculo.cilindraje }}</td>
            </tr>
            <tr>
                <th>Modelo</th>
                <td>{{ vhloVehiculo.modelo }}</td>
            </tr>
            <tr>
                <th>Motor</th>
                <td>{{ vhloVehiculo.motor }}</td>
            </tr>
            <tr>
                <th>Chasis</th>
                <td>{{ vhloVehiculo.chasis }}</td>
            </tr>
            <tr>
                <th>Serie</th>
                <td>{{ vhloVehiculo.serie }}</td>
            </tr>
            <tr>
                <th>Vin</th>
                <td>{{ vhloVehiculo.vin }}</td>
            </tr>
            <tr>
                <th>Tipomatricula</th>
                <td>{{ vhloVehiculo.tipoMatricula }}</td>
            </tr>
            <tr>
                <th>Numeropasajeros</th>
                <td>{{ vhloVehiculo.numeroPasajeros }}</td>
            </tr>
            <tr>
                <th>Capacidadcarga</th>
                <td>{{ vhloVehiculo.capacidadCarga }}</td>
            </tr>
            <tr>
                <th>Tipoblindaje</th>
                <td>{{ vhloVehiculo.tipoBlindaje }}</td>
            </tr>
            <tr>
                <th>Nivelblindaje</th>
                <td>{{ vhloVehiculo.nivelBlindaje }}</td>
            </tr>
            <tr>
                <th>Empresablindadora</th>
                <td>{{ vhloVehiculo.empresaBlindadora }}</td>
            </tr>
            <tr>
                <th>Leasing</th>
                <td>{% if vhloVehiculo.leasing %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Pignorado</th>
                <td>{% if vhloVehiculo.pignorado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Cancelado</th>
                <td>{% if vhloVehiculo.cancelado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if vhloVehiculo.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlovehiculo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vhlovehiculo_edit', { 'id': vhloVehiculo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
