{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipocorrespondencias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoCorrespondencium in tipoCorrespondencias %}
            <tr>
                <td><a href="{{ path('tipocorrespondencia_show', { 'id': tipoCorrespondencium.id }) }}">{{ tipoCorrespondencium.id }}</a></td>
                <td>{{ tipoCorrespondencium.nombre }}</td>
                <td>{% if tipoCorrespondencium.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tipocorrespondencia_show', { 'id': tipoCorrespondencium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tipocorrespondencia_edit', { 'id': tipoCorrespondencium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipocorrespondencia_new') }}">Create a new tipoCorrespondencium</a>
        </li>
    </ul>
{% endblock %}
