{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svipatconsecutivo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ svIpatConsecutivo.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ svIpatConsecutivo.numero }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if svIpatConsecutivo.fecha %}{{ svIpatConsecutivo.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ svIpatConsecutivo.estado }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if svIpatConsecutivo.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svipatconsecutivo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('svipatconsecutivo_edit', { 'id': svIpatConsecutivo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
