{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvaudiencium</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cvAudiencium.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if cvAudiencium.fecha %}{{ cvAudiencium.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{% if cvAudiencium.hora %}{{ cvAudiencium.hora|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Objetivo</th>
                <td>{{ cvAudiencium.objetivo }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if cvAudiencium.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Apoderado</th>
                <td>{{ cvAudiencium.apoderado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvaudiencia_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cvaudiencia_edit', { 'id': cvAudiencium.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
