{% extends 'base.html.twig' %}

{% block body %}
    <h1>Frotrteprecio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ froTrtePrecio.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ froTrtePrecio.nombre }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ froTrtePrecio.valor }}</td>
            </tr>
            <tr>
                <th>Fechainicio</th>
                <td>{% if froTrtePrecio.fechaInicio %}{{ froTrtePrecio.fechaInicio|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Valorconcepto</th>
                <td>{{ froTrtePrecio.valorConcepto }}</td>
            </tr>
            <tr>
                <th>Valortotal</th>
                <td>{{ froTrtePrecio.valorTotal }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if froTrtePrecio.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('frotrteprecio_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
