{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userlicenciaconduccions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Numerorunt</th>
                <th>Fechaexpedicion</th>
                <th>Fechavencimiento</th>
                <th>Estado</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userLicenciaConduccion in userLicenciaConduccions %}
            <tr>
                <td><a href="{{ path('userlicenciaconduccion_show', { 'id': userLicenciaConduccion.id }) }}">{{ userLicenciaConduccion.id }}</a></td>
                <td>{{ userLicenciaConduccion.numero }}</td>
                <td>{{ userLicenciaConduccion.numeroRunt }}</td>
                <td>{% if userLicenciaConduccion.fechaExpedicion %}{{ userLicenciaConduccion.fechaExpedicion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if userLicenciaConduccion.fechaVencimiento %}{{ userLicenciaConduccion.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ userLicenciaConduccion.estado }}</td>
                <td>{% if userLicenciaConduccion.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('userlicenciaconduccion_show', { 'id': userLicenciaConduccion.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
