{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgchoquecons list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgChoqueCon in cfgChoqueCons %}
            <tr>
                <td><a href="{{ path('cfgchoquecon_show', { 'id': cfgChoqueCon.id }) }}">{{ cfgChoqueCon.id }}</a></td>
                <td>{{ cfgChoqueCon.nombre }}</td>
                <td>{% if cfgChoqueCon.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgchoquecon_show', { 'id': cfgChoqueCon.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgchoquecon_edit', { 'id': cfgChoqueCon.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgchoquecon_new') }}">Create a new cfgChoqueCon</a>
        </li>
    </ul>
{% endblock %}
