{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svcfgsenial</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ svCfgSenial.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ svCfgSenial.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ svCfgSenial.nombre }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ svCfgSenial.logo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svcfgsenial_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('svcfgsenial_edit', { 'id': svCfgSenial.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
