{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgadmactoadministrativos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Fecha</th>
                <th>Cuerpo</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgAdmActoAdministrativo in cfgAdmActoAdministrativos %}
            <tr>
                <td><a href="{{ path('cfgadmactoadministrativo_show', { 'id': cfgAdmActoAdministrativo.id }) }}">{{ cfgAdmActoAdministrativo.id }}</a></td>
                <td>{{ cfgAdmActoAdministrativo.numero }}</td>
                <td>{% if cfgAdmActoAdministrativo.fecha %}{{ cfgAdmActoAdministrativo.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ cfgAdmActoAdministrativo.cuerpo }}</td>
                <td>{% if cfgAdmActoAdministrativo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgadmactoadministrativo_show', { 'id': cfgAdmActoAdministrativo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgadmactoadministrativo_edit', { 'id': cfgAdmActoAdministrativo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgadmactoadministrativo_new') }}">Create a new cfgAdmActoAdministrativo</a>
        </li>
    </ul>
{% endblock %}
