{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgadmactoadministrativo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cfgAdmActoAdministrativo.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ cfgAdmActoAdministrativo.numero }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if cfgAdmActoAdministrativo.fecha %}{{ cfgAdmActoAdministrativo.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cuerpo</th>
                <td>{{ cfgAdmActoAdministrativo.cuerpo }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if cfgAdmActoAdministrativo.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgadmactoadministrativo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cfgadmactoadministrativo_edit', { 'id': cfgAdmActoAdministrativo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
