{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlomaquinarias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechaingreso</th>
                <th>Peso</th>
                <th>Cargarutilmaxima</th>
                <th>Numerollantas</th>
                <th>Numeroejes</th>
                <th>Alto</th>
                <th>Largo</th>
                <th>Ancho</th>
                <th>Tipodispositivo</th>
                <th>Numeroimportacion</th>
                <th>Numeroactivaciongps</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloMaquinarium in vhloMaquinarias %}
            <tr>
                <td><a href="{{ path('vhlomaquinaria_show', { 'id': vhloMaquinarium.id }) }}">{{ vhloMaquinarium.id }}</a></td>
                <td>{% if vhloMaquinarium.fechaIngreso %}{{ vhloMaquinarium.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ vhloMaquinarium.peso }}</td>
                <td>{{ vhloMaquinarium.cargarUtilMaxima }}</td>
                <td>{{ vhloMaquinarium.numeroLlantas }}</td>
                <td>{{ vhloMaquinarium.numeroEjes }}</td>
                <td>{{ vhloMaquinarium.alto }}</td>
                <td>{{ vhloMaquinarium.largo }}</td>
                <td>{{ vhloMaquinarium.ancho }}</td>
                <td>{{ vhloMaquinarium.tipoDispositivo }}</td>
                <td>{{ vhloMaquinarium.numeroImportacion }}</td>
                <td>{{ vhloMaquinarium.numeroActivacionGps }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlomaquinaria_show', { 'id': vhloMaquinarium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlomaquinaria_edit', { 'id': vhloMaquinarium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlomaquinaria_new') }}">Create a new vhloMaquinarium</a>
        </li>
    </ul>
{% endblock %}
