{% extends 'base.html.twig' %}

{% block body %}
    <h1>Limitacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for limitacion in limitacions %}
            <tr>
                <td><a href="{{ path('limitacion_show', { 'id': limitacion.id }) }}">{{ limitacion.id }}</a></td>
                <td>{{ limitacion.nombre }}</td>
                <td>{% if limitacion.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('limitacion_show', { 'id': limitacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('limitacion_edit', { 'id': limitacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('limitacion_new') }}">Create a new limitacion</a>
        </li>
    </ul>
{% endblock %}
