{% extends 'base.html.twig' %}

{% block body %}
    <h1>Limitacion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ limitacion.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ limitacion.nombre }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if limitacion.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('limitacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('limitacion_edit', { 'id': limitacion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
