{% extends 'base.html.twig' %}

{% block body %}
    <h1>Frofactramites list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Realizado</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for froFacTramite in froFacTramites %}
            <tr>
                <td><a href="{{ path('frofactramite_show', { 'id': froFacTramite.id }) }}">{{ froFacTramite.id }}</a></td>
                <td>{% if froFacTramite.realizado %}Yes{% else %}No{% endif %}</td>
                <td>{% if froFacTramite.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('frofactramite_show', { 'id': froFacTramite.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('frofactramite_edit', { 'id': froFacTramite.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('frofactramite_new') }}">Create a new froFacTramite</a>
        </li>
    </ul>
{% endblock %}
