{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvcdocursos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Identificacion</th>
                <th>Comparendo</th>
                <th>Activo</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cvCdoCurso in cvCdoCursos %}
            <tr>
                <td><a href="{{ path('cvcdocurso_show', { 'id': cvCdoCurso.id }) }}">{{ cvCdoCurso.id }}</a></td>
                <td>{% if cvCdoCurso.fecha %}{{ cvCdoCurso.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ cvCdoCurso.identificacion }}</td>
                <td>{{ cvCdoCurso.comparendo }}</td>
                <td>{% if cvCdoCurso.activo %}Yes{% else %}No{% endif %}</td>
                <td>{% if cvCdoCurso.createdAt %}{{ cvCdoCurso.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if cvCdoCurso.updatedAt %}{{ cvCdoCurso.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cvcdocurso_show', { 'id': cvCdoCurso.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cvcdocurso_edit', { 'id': cvCdoCurso.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvcdocurso_new') }}">Create a new cvCdoCurso</a>
        </li>
    </ul>
{% endblock %}
