{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svcfgsenialconectors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for svCfgSenialConector in svCfgSenialConectors %}
            <tr>
                <td><a href="{{ path('svcfgsenialconector_show', { 'id': svCfgSenialConector.id }) }}">{{ svCfgSenialConector.id }}</a></td>
                <td>{{ svCfgSenialConector.nombre }}</td>
                <td>{% if svCfgSenialConector.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('svcfgsenialconector_show', { 'id': svCfgSenialConector.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('svcfgsenialconector_edit', { 'id': svCfgSenialConector.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svcfgsenialconector_new') }}">Create a new svCfgSenialConector</a>
        </li>
    </ul>
{% endblock %}
