{% extends 'base.html.twig' %}

{% block body %}
    <h1>Casoinsumo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ casoInsumo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ casoInsumo.nombre }}</td>
            </tr>
            <tr>
                <th>Referencia</th>
                <td>{{ casoInsumo.referencia }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if casoInsumo.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ casoInsumo.valor }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ casoInsumo.tipo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('casoinsumo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('casoinsumo_edit', { 'id': casoInsumo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
