{% extends 'base.html.twig' %}

{% block body %}
    <h1>TramiteGeneral list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numeroqpl</th>
                <th>Fechainicial</th>
                <th>Fechafinal</th>
                <th>Estado</th>
                <th>Valor</th>
                <th>Numerolicencia</th>
                <th>Numerosustrato</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tramiteGeneral in tramiteGenerals %}
            <tr>
                <td><a href="{{ path('tramitegeneral_show', { 'id': tramiteGeneral.id }) }}">{{ tramiteGeneral.id }}</a></td>
                <td>{{ tramiteGeneral.numeroQpl }}</td>
                <td>{% if tramiteGeneral.fechaInicial %}{{ tramiteGeneral.fechaInicial|date('Y-m-d') }}{% endif %}</td>
                <td>{% if tramiteGeneral.fechaFinal %}{{ tramiteGeneral.fechaFinal|date('Y-m-d') }}{% endif %}</td>
                <td>{{ tramiteGeneral.estado }}</td>
                <td>{{ tramiteGeneral.valor }}</td>
                <td>{{ tramiteGeneral.numeroLicencia }}</td>
                <td>{{ tramiteGeneral.numeroSustrato }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tramitegeneral_show', { 'id': tramiteGeneral.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tramitegeneral_edit', { 'id': tramiteGeneral.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tramitegeneral_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
