{% extends 'base.html.twig' %}

{% block body %}
    <h1>TramiteGeneral</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tramiteGeneral.id }}</td>
            </tr>
            <tr>
                <th>Numeroqpl</th>
                <td>{{ tramiteGeneral.numeroQpl }}</td>
            </tr>
            <tr>
                <th>Fechainicial</th>
                <td>{% if tramiteGeneral.fechaInicial %}{{ tramiteGeneral.fechaInicial|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechafinal</th>
                <td>{% if tramiteGeneral.fechaFinal %}{{ tramiteGeneral.fechaFinal|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ tramiteGeneral.estado }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ tramiteGeneral.valor }}</td>
            </tr>
            <tr>
                <th>Numerolicencia</th>
                <td>{{ tramiteGeneral.numeroLicencia }}</td>
            </tr>
            <tr>
                <th>Numerosustrato</th>
                <td>{{ tramiteGeneral.numeroSustrato }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tramitegeneral_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tramitegeneral_edit', { 'id': tramiteGeneral.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
