{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgtipoalertas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgTipoAlertum in cfgTipoAlertas %}
            <tr>
                <td><a href="{{ path('cfgtipoalerta_show', { 'id': cfgTipoAlertum.id }) }}">{{ cfgTipoAlertum.id }}</a></td>
                <td>{{ cfgTipoAlertum.nombre }}</td>
                <td>{% if cfgTipoAlertum.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgtipoalerta_show', { 'id': cfgTipoAlertum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgtipoalerta_edit', { 'id': cfgTipoAlertum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgtipoalerta_new') }}">Create a new cfgTipoAlertum</a>
        </li>
    </ul>
{% endblock %}
