{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlotpconvenio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vhloTpConvenio.id }}</td>
            </tr>
            <tr>
                <th>Numeroconvenio</th>
                <td>{{ vhloTpConvenio.numeroConvenio }}</td>
            </tr>
            <tr>
                <th>Fechaconvenio</th>
                <td>{% if vhloTpConvenio.fechaConvenio %}{{ vhloTpConvenio.fechaConvenio|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechaactainicio</th>
                <td>{% if vhloTpConvenio.fechaActaInicio %}{{ vhloTpConvenio.fechaActaInicio|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechaactafin</th>
                <td>{{ vhloTpConvenio.fechaActaFin }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ vhloTpConvenio.observacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlotpconvenio_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vhlotpconvenio_edit', { 'id': vhloTpConvenio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
