{% extends 'base.html.twig' %}

{% block body %}
    <h1>Combustible</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ combustible.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ combustible.nombre }}</td>
            </tr>
            <tr>
                <th>Codigomt</th>
                <td>{{ combustible.codigoMt }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('combustible_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('combustible_edit', { 'id': combustible.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
