{% extends 'base.html.twig' %}

{% block body %}
    <h1>Servicio list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombreservicio</th>
                <th>Codigoservicio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for servicio in servicios %}
            <tr>
                <td><a href="{{ path('servicio_show', { 'id': servicio.id }) }}">{{ servicio.id }}</a></td>
                <td>{{ servicio.nombreServicio }}</td>
                <td>{{ servicio.codigoServicio }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('servicio_show', { 'id': servicio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('servicio_edit', { 'id': servicio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('servicio_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
