{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pnalhorarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Horainicial</th>
                <th>Horafinal</th>
                <th>Jornada</th>
                <th>Lugar</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pnalHorario in pnalHorarios %}
            <tr>
                <td><a href="{{ path('pnalhorario_show', { 'id': pnalHorario.id }) }}">{{ pnalHorario.id }}</a></td>
                <td>{% if pnalHorario.fecha %}{{ pnalHorario.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{% if pnalHorario.horaInicial %}{{ pnalHorario.horaInicial|date('H:i:s') }}{% endif %}</td>
                <td>{% if pnalHorario.horaFinal %}{{ pnalHorario.horaFinal|date('H:i:s') }}{% endif %}</td>
                <td>{{ pnalHorario.jornada }}</td>
                <td>{{ pnalHorario.lugar }}</td>
                <td>{% if pnalHorario.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pnalhorario_show', { 'id': pnalHorario.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
