{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mparqpatios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mparqPatio in mparqPatios %}
            <tr>
                <td><a href="{{ path('mparqpatio_show', { 'id': mparqPatio.id }) }}">{{ mparqPatio.id }}</a></td>
                <td>{{ mparqPatio.nombre }}</td>
                <td>{{ mparqPatio.direccion }}</td>
                <td>{% if mparqPatio.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mparqpatio_show', { 'id': mparqPatio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mparqpatio_edit', { 'id': mparqPatio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mparqpatio_new') }}">Create a new mparqPatio</a>
        </li>
    </ul>
{% endblock %}
