{% extends 'base.html.twig' %}

{% block body %}
    <h1>Frotrtesolicitud</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ froTrteSolicitud.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if froTrteSolicitud.fecha %}{{ froTrteSolicitud.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{% if froTrteSolicitud.hora %}{{ froTrteSolicitud.hora|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ froTrteSolicitud.observacion }}</td>
            </tr>
            <tr>
                <th>Documentacion</th>
                <td>{% if froTrteSolicitud.documentacion %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datos</th>
                <td>{% if froTrteSolicitud.datos %}{{ froTrteSolicitud.datos|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Resumen</th>
                <td>{{ froTrteSolicitud.resumen }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if froTrteSolicitud.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('frotrtesolicitud_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('frotrtesolicitud_edit', { 'id': froTrteSolicitud.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
