{% extends 'base.html.twig' %}

{% block body %}
    <h1>Frotrtecfgconceptos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Valor</th>
                <th>Cuenta</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for froTrteCfgConcepto in froTrteCfgConceptos %}
            <tr>
                <td><a href="{{ path('frotrtecfgconcepto_show', { 'id': froTrteCfgConcepto.id }) }}">{{ froTrteCfgConcepto.id }}</a></td>
                <td>{{ froTrteCfgConcepto.nombre }}</td>
                <td>{{ froTrteCfgConcepto.valor }}</td>
                <td>{{ froTrteCfgConcepto.cuenta }}</td>
                <td>{% if froTrteCfgConcepto.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('frotrtecfgconcepto_show', { 'id': froTrteCfgConcepto.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
