{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svipatconductor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ svIpatConductor.id }}</td>
            </tr>
            <tr>
                <th>Nombresconductor</th>
                <td>{{ svIpatConductor.nombresConductor }}</td>
            </tr>
            <tr>
                <th>Apellidosconductor</th>
                <td>{{ svIpatConductor.apellidosConductor }}</td>
            </tr>
            <tr>
                <th>Tipoidentificacionconductor</th>
                <td>{{ svIpatConductor.tipoIdentificacionConductor }}</td>
            </tr>
            <tr>
                <th>Identificacionconductor</th>
                <td>{{ svIpatConductor.identificacionConductor }}</td>
            </tr>
            <tr>
                <th>Nacionalidadconductor</th>
                <td>{{ svIpatConductor.nacionalidadConductor }}</td>
            </tr>
            <tr>
                <th>Fechanacimientoconductor</th>
                <td>{% if svIpatConductor.fechaNacimientoConductor %}{{ svIpatConductor.fechaNacimientoConductor|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Edadconductor</th>
                <td>{{ svIpatConductor.edadConductor }}</td>
            </tr>
            <tr>
                <th>Sexoconductor</th>
                <td>{{ svIpatConductor.sexoConductor }}</td>
            </tr>
            <tr>
                <th>Direccionresidenciaconductor</th>
                <td>{{ svIpatConductor.direccionResidenciaConductor }}</td>
            </tr>
            <tr>
                <th>Ciudadresidenciaconductor</th>
                <td>{{ svIpatConductor.ciudadResidenciaConductor }}</td>
            </tr>
            <tr>
                <th>Telefonoconductor</th>
                <td>{{ svIpatConductor.telefonoConductor }}</td>
            </tr>
            <tr>
                <th>Practicoexamenconductor</th>
                <td>{% if svIpatConductor.practicoExamenConductor %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Autorizoconductor</th>
                <td>{% if svIpatConductor.autorizoConductor %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Sustanciaspsicoactivasconductor</th>
                <td>{% if svIpatConductor.sustanciasPsicoactivasConductor %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Portalicencia</th>
                <td>{% if svIpatConductor.portaLicencia %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Numerolicenciaconduccion</th>
                <td>{{ svIpatConductor.numeroLicenciaConduccion }}</td>
            </tr>
            <tr>
                <th>Categorialicenciaconduccion</th>
                <td>{{ svIpatConductor.categoriaLicenciaConduccion }}</td>
            </tr>
            <tr>
                <th>Restriccionconductor</th>
                <td>{{ svIpatConductor.restriccionConductor }}</td>
            </tr>
            <tr>
                <th>Fechaexpedicionlicenciaconduccion</th>
                <td>{% if svIpatConductor.fechaExpedicionLicenciaConduccion %}{{ svIpatConductor.fechaExpedicionLicenciaConduccion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechavencimientolicenciaconduccion</th>
                <td>{% if svIpatConductor.fechaVencimientoLicenciaConduccion %}{{ svIpatConductor.fechaVencimientoLicenciaConduccion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Organismotransito</th>
                <td>{{ svIpatConductor.organismoTransito }}</td>
            </tr>
            <tr>
                <th>Chalecoconductor</th>
                <td>{% if svIpatConductor.chalecoConductor %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Cascoconductor</th>
                <td>{% if svIpatConductor.cascoConductor %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Cinturonconductor</th>
                <td>{% if svIpatConductor.cinturonConductor %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Descripcionlesionconductor</th>
                <td>{{ svIpatConductor.descripcionLesionConductor }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svipatconductor_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
