{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgvalorvehiculos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cilindraje</th>
                <th>Fecha</th>
                <th>Valor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgValorVehiculo in cfgValorVehiculos %}
            <tr>
                <td><a href="{{ path('cfgvalorvehiculo_show', { 'id': cfgValorVehiculo.id }) }}">{{ cfgValorVehiculo.id }}</a></td>
                <td>{{ cfgValorVehiculo.cilindraje }}</td>
                <td>{% if cfgValorVehiculo.fecha %}{{ cfgValorVehiculo.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ cfgValorVehiculo.valor }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgvalorvehiculo_show', { 'id': cfgValorVehiculo.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
