{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svsenialbodega</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ svSenialBodega.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if svSenialBodega.fecha %}{{ svSenialBodega.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{% if svSenialBodega.hora %}{{ svSenialBodega.hora|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ svSenialBodega.cantidad }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ svSenialBodega.valor }}</td>
            </tr>
            <tr>
                <th>Adjunto</th>
                <td>{{ svSenialBodega.adjunto }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svsenialbodega_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('svsenialbodega_edit', { 'id': svSenialBodega.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
