{% extends 'base.html.twig' %}

{% block body %}
    <h1>CfgBodegas list</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgBodega in cfgBodegas %}
            <tr>
                <td><a href="{{ path('cfgBodega_show', { 'id': cfgBodega.id }) }}">{{ cfgBodega.nombre }}</a></td>
                <td>{% if cfgBodega.estado %}Yes{% else %}No{% endif %}</td>
                <td>{{ cfgBodega.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgBodega_show', { 'id': cfgBodega.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgBodega_edit', { 'id': cfgBodega.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgBodega_new') }}">Create a new cfgBodega</a>
        </li>
    </ul>
{% endblock %}
