{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vehiculomaquinarias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Clasemaquinaria</th>
                <th>Tipommaclase</th>
                <th>Tipomaquinaria</th>
                <th>Pesobrutovehicular</th>
                <th>Cargarutilmaxima</th>
                <th>Rodaje</th>
                <th>Numeroejes</th>
                <th>Numerollantas</th>
                <th>Tipocabina</th>
                <th>Altototal</th>
                <th>Anchototal</th>
                <th>Largototal</th>
                <th>Origenvehiculo</th>
                <th>Subpartidaarancelaria</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehiculoMaquinarium in vehiculoMaquinarias %}
            <tr>
                <td><a href="{{ path('vehiculomaquinaria_show', { 'id': vehiculoMaquinarium.id }) }}">{{ vehiculoMaquinarium.id }}</a></td>
                <td>{{ vehiculoMaquinarium.claseMaquinaria }}</td>
                <td>{{ vehiculoMaquinarium.tipoMmaClase }}</td>
                <td>{{ vehiculoMaquinarium.tipoMaquinaria }}</td>
                <td>{{ vehiculoMaquinarium.pesoBrutoVehicular }}</td>
                <td>{{ vehiculoMaquinarium.cargarUtilMaxima }}</td>
                <td>{{ vehiculoMaquinarium.rodaje }}</td>
                <td>{{ vehiculoMaquinarium.numeroEjes }}</td>
                <td>{{ vehiculoMaquinarium.numeroLlantas }}</td>
                <td>{{ vehiculoMaquinarium.tipoCabina }}</td>
                <td>{{ vehiculoMaquinarium.altoTotal }}</td>
                <td>{{ vehiculoMaquinarium.anchoTotal }}</td>
                <td>{{ vehiculoMaquinarium.largoTotal }}</td>
                <td>{{ vehiculoMaquinarium.origenVehiculo }}</td>
                <td>{{ vehiculoMaquinarium.subpartidaArancelaria }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vehiculomaquinaria_show', { 'id': vehiculoMaquinarium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vehiculomaquinaria_edit', { 'id': vehiculoMaquinarium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vehiculomaquinaria_new') }}">Create a new vehiculoMaquinarium</a>
        </li>
    </ul>
{% endblock %}
