{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dependencia list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dependencium in dependencias %}
            <tr>
                <td><a href="{{ path('dependencia_show', { 'id': dependencium.id }) }}">{{ dependencium.id }}</a></td>
                <td>{{ dependencium.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dependencia_show', { 'id': dependencium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dependencia_edit', { 'id': dependencium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dependencia_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
