{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pnalcfgcdobodega</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pnalCfgCdoBodega.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if pnalCfgCdoBodega.fecha %}{{ pnalCfgCdoBodega.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cantidadrecibida</th>
                <td>{{ pnalCfgCdoBodega.cantidadRecibida }}</td>
            </tr>
            <tr>
                <th>Cantidaddisponible</th>
                <td>{{ pnalCfgCdoBodega.cantidadDisponible }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ pnalCfgCdoBodega.estado }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if pnalCfgCdoBodega.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pnalcfgcdobodega_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pnalcfgcdobodega_edit', { 'id': pnalCfgCdoBodega.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
