{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vehiculolimitacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehiculoLimitacion in vehiculoLimitacions %}
            <tr>
                <td><a href="{{ path('vehiculolimitacion_show', { 'id': vehiculoLimitacion.id }) }}">{{ vehiculoLimitacion.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vehiculolimitacion_show', { 'id': vehiculoLimitacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vehiculolimitacion_edit', { 'id': vehiculoLimitacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vehiculolimitacion_new') }}">Create a new vehiculoLimitacion</a>
        </li>
    </ul>
{% endblock %}
