{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imotrasabilidads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Activo</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imoTrasabilidad in imoTrasabilidads %}
            <tr>
                <td><a href="{{ path('imotrasabilidad_show', { 'id': imoTrasabilidad.id }) }}">{{ imoTrasabilidad.id }}</a></td>
                <td>{% if imoTrasabilidad.fecha %}{{ imoTrasabilidad.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ imoTrasabilidad.estado }}</td>
                <td>{% if imoTrasabilidad.activo %}Yes{% else %}No{% endif %}</td>
                <td>{{ imoTrasabilidad.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('imotrasabilidad_show', { 'id': imoTrasabilidad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('imotrasabilidad_edit', { 'id': imoTrasabilidad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imotrasabilidad_new') }}">Create a new imoTrasabilidad</a>
        </li>
    </ul>
{% endblock %}
