{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imotrasabilidad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imoTrasabilidad.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if imoTrasabilidad.fecha %}{{ imoTrasabilidad.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ imoTrasabilidad.estado }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if imoTrasabilidad.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ imoTrasabilidad.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imotrasabilidad_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('imotrasabilidad_edit', { 'id': imoTrasabilidad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
