{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfglineas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgLinea in vhloCfgLineas %}
            <tr>
                <td><a href="{{ path('vhlocfglinea_show', { 'id': vhloCfgLinea.id }) }}">{{ vhloCfgLinea.id }}</a></td>
                <td>{{ vhloCfgLinea.nombre }}</td>
                <td>{{ vhloCfgLinea.codigo }}</td>
                <td>{% if vhloCfgLinea.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfglinea_show', { 'id': vhloCfgLinea.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlocfglinea_edit', { 'id': vhloCfgLinea.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfglinea_new') }}">Create a new vhloCfgLinea</a>
        </li>
    </ul>
{% endblock %}
