{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgasignacionplacasede</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cfgAsignacionPlacaSede.id }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if cfgAsignacionPlacaSede.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Letrasplaca</th>
                <td>{{ cfgAsignacionPlacaSede.letrasPlaca }}</td>
            </tr>
            <tr>
                <th>Numeroinicial</th>
                <td>{{ cfgAsignacionPlacaSede.numeroInicial }}</td>
            </tr>
            <tr>
                <th>Numerofinal</th>
                <td>{{ cfgAsignacionPlacaSede.numeroFinal }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgasignacionplacasede_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
