{% extends 'base.html.twig' %}

{% block body %}
    <h1>Frofacturas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechacreacion</th>
                <th>Fechavencimiento</th>
                <th>Hora</th>
                <th>Valor</th>
                <th>Numero</th>
                <th>Consecutivo</th>
                <th>Estado</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for froFactura in froFacturas %}
            <tr>
                <td><a href="{{ path('frofactura_show', { 'id': froFactura.id }) }}">{{ froFactura.id }}</a></td>
                <td>{% if froFactura.fechaCreacion %}{{ froFactura.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if froFactura.fechaVencimiento %}{{ froFactura.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{% if froFactura.hora %}{{ froFactura.hora|date('H:i:s') }}{% endif %}</td>
                <td>{{ froFactura.valor }}</td>
                <td>{{ froFactura.numero }}</td>
                <td>{{ froFactura.consecutivo }}</td>
                <td>{{ froFactura.estado }}</td>
                <td>{% if froFactura.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('frofactura_show', { 'id': froFactura.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('frofactura_edit', { 'id': froFactura.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('frofactura_new') }}">Create a new froFactura</a>
        </li>
    </ul>
{% endblock %}
