{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfglimitaciontipoprocesos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgLimitacionTipoProceso in vhloCfgLimitacionTipoProcesos %}
            <tr>
                <td><a href="{{ path('vhlocfglimitaciontipoproceso_show', { 'id': vhloCfgLimitacionTipoProceso.id }) }}">{{ vhloCfgLimitacionTipoProceso.id }}</a></td>
                <td>{{ vhloCfgLimitacionTipoProceso.nombre }}</td>
                <td>{% if vhloCfgLimitacionTipoProceso.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfglimitaciontipoproceso_show', { 'id': vhloCfgLimitacionTipoProceso.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlocfglimitaciontipoproceso_edit', { 'id': vhloCfgLimitacionTipoProceso.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfglimitaciontipoproceso_new') }}">Create a new vhloCfgLimitacionTipoProceso</a>
        </li>
    </ul>
{% endblock %}
