{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svsenials list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Valor</th>
                <th>Adjunto</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Logo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for svSenial in svSenials %}
            <tr>
                <td><a href="{{ path('svsenial_show', { 'id': svSenial.id }) }}">{{ svSenial.id }}</a></td>
                <td>{% if svSenial.fecha %}{{ svSenial.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ svSenial.cantidad }}</td>
                <td>{{ svSenial.valor }}</td>
                <td>{{ svSenial.adjunto }}</td>
                <td>{{ svSenial.codigo }}</td>
                <td>{{ svSenial.nombre }}</td>
                <td>{{ svSenial.logo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('svsenial_show', { 'id': svSenial.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('svsenial_edit', { 'id': svSenial.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svsenial_new') }}">Create a new svSenial</a>
        </li>
    </ul>
{% endblock %}
