{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svsenial</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ svSenial.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if svSenial.fecha %}{{ svSenial.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ svSenial.cantidad }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ svSenial.valor }}</td>
            </tr>
            <tr>
                <th>Adjunto</th>
                <td>{{ svSenial.adjunto }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ svSenial.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ svSenial.nombre }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ svSenial.logo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svsenial_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('svsenial_edit', { 'id': svSenial.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
