{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comparendos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numeroorden</th>
                <th>Fechadiligenciamiento</th>
                <th>Lugarinfraccion</th>
                <th>Barrioinfraccion</th>
                <th>Observacionesagente</th>
                <th>Tipoinfractor</th>
                <th>Tarjetaoperacioninfractor</th>
                <th>Fuga</th>
                <th>Accidente</th>
                <th>Polca</th>
                <th>Fechanotificacion</th>
                <th>Gradoalchoholemia</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comparendo in comparendos %}
            <tr>
                <td><a href="{{ path('comparendo_show', { 'id': comparendo.id }) }}">{{ comparendo.id }}</a></td>
                <td>{{ comparendo.numeroOrden }}</td>
                <td>{% if comparendo.fechaDiligenciamiento %}{{ comparendo.fechaDiligenciamiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ comparendo.lugarInfraccion }}</td>
                <td>{{ comparendo.barrioInfraccion }}</td>
                <td>{{ comparendo.observacionesAgente }}</td>
                <td>{{ comparendo.tipoInfractor }}</td>
                <td>{{ comparendo.tarjetaOperacionInfractor }}</td>
                <td>{{ comparendo.fuga }}</td>
                <td>{{ comparendo.accidente }}</td>
                <td>{% if comparendo.polca %}Yes{% else %}No{% endif %}</td>
                <td>{% if comparendo.fechaNotificacion %}{{ comparendo.fechaNotificacion|date('Y-m-d') }}{% endif %}</td>
                <td>{{ comparendo.gradoAlchoholemia }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comparendo_show', { 'id': comparendo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comparendo_edit', { 'id': comparendo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comparendo_new') }}">Create a new comparendo</a>
        </li>
    </ul>
{% endblock %}
