<html>
  <header>
  </header>
  <body>
    <p style="text-align:center">
        <b>
            LA SUBSECRETARÍA DE TRÁNSITO DEPARTAMENTAL DE NARIÑO
            <br>
            HACE CONSTAR
        </b>
        <br>      
    </p>

    <p style="text-align:justify">
        Que el (la) sr(a) {{ usuario.primerNombre }} {{ usuario.segundoNombre }} {{ usuario.primerApellido }} {{ usuario.segundoApellido }} con documento de identificación No. {{ usuario.identificacion }} a la fecha, se encuentra a Paz y Salvo con Subsecretaría de Tránsito y Transporte del Departamento de Nariño por concepto de multas por infracciones a las normas de tránsito reguladas por la Ley 769 de 2002 y demás normas concordantes.
        <br>
        Dada en San Juan de Pasto, {{ fechaActual }}.
    </p>

    <br>
    <br>
    <br>

    <p style="text-align:center">
        FRANCIES DUQUE FAJARDO
        <br>
        Subsecretaria de Tránsito y Transporte del Departamento de Nariño
    </p>
  </body>
</html>