{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userempresas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userEmpresa in userEmpresas %}
            <tr>
                <td><a href="{{ path('userempresa_show', { 'id': userEmpresa.id }) }}">{{ userEmpresa.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('userempresa_show', { 'id': userEmpresa.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('userempresa_edit', { 'id': userEmpresa.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userempresa_new') }}">Create a new userEmpresa</a>
        </li>
    </ul>
{% endblock %}
