<html>
  <header>
  </header>
  <body>

    <p class="text-justify">
    	San Juan de Pasto, {{ fechaActual }}
    </p>
    <br>
    <br>
    <br>
    <p style="text-align:center;"><b>PLAN ESTRATÉGICO DE SEGURIDAD VIAL</b></p>
    <table>
        <thead>
            <tr>
                <th><b>Formato del PESV 005</b></th>
                <th><b>Puntaje obtenido:</b> {{ evaluacion.resultadoFinal }}%</th>
            </tr>
        </thead>
            <tr>
                <br>
                <td><b>Consecutivo No: </b>{{ evaluacion.revision.consecutivo }}</td>
                <td><b>Con número de radicado:</b> {{ evaluacion.revision.numeroRadicado }}</td>
            </tr>
    </table>
    <p><b>Fecha en que se había radicado el PESV:</b> {{ evaluacion.revision.fechaRecepcion| date('d/m/Y') }}</p>
    <p>
        <table border="1">
            <thead>
                <tr>
                    <th> <b>OBSERVACIONES DEL PILAR </b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b> a). Gestion institucional:</b> El resultado de este pilar es de {{ evaluacion.valorObtenidoFortalecimiento | number_format( 2, '.', '') }}%.</td>
                </tr>
                <tr>
                    <td><b> b). Comportamiento Humano:</b> El resultado de este pilar es de {{ evaluacion.valorObtenidoComportamiento | number_format( 2, '.', '') }}%.</td>
                </tr>
                <tr>
                    <td><b> c). Vehículos Seguros:</b> El resultado de este pilar es de {{ evaluacion.valorObtenidoVehiculoSeguro | number_format( 2, '.', '') }}%.</td>
                </tr>
                <tr>
                    <td><b> d). Infraestructura Segura:</b> El resultado de este pilar es de {{ evaluacion.valorObtenidoInfraestructuraSegura | number_format( 2, '.', '') }}%.</td>
                </tr>
                <tr>
                    <td><b> e). Atención a víctimas:</b> El resultado de este pilar es de {{ evaluacion.valorObtenidoAtencionVictima | number_format( 2, '.', '') }}%.</td>
                </tr>
                <tr>
                    <td><b> f). Valor Agregado:</b> El resultado de este pilar es de {{ evaluacion.valorObtenidoValorAgregado | number_format( 2, '.', '') }}%.</td>
                </tr>
                <tr>
                    <td><b> Sugerencias:</b> Continuar con las acciones planteadas en PESV.</td>
                </tr>
                <tr>
                    <td><b> Recomendaciones:</b> Pendiente las fechasde auditoria del PESV.</td>
                </tr>
            </tbody>
        </table>       
        <p style="text-align:center;"><b>NOTIFICACIÓN DEL AVAL</b></p>
        <b>  Autoridad de tránsito: </b> {{ funcionario.organismoTransito.nombre }}<br>
        <b>Funcionario que adelanta el proceso: </b> {{ funcionario.ciudadano.primerNombre }} {{ funcionario.ciudadano.segundoNombre }} {{ funcionario.ciudadano.primerApellido }} {{ funcionario.ciudadano.segundoApellido }}<br>
        <b>Cargo:</b> {{ funcionario.cargo.nombre }}          
        <b>Teléfono:</b> {{ funcionario.ciudadano.telefonoCelular }}<br>
        <b>Email:</b> {{ funcionario.ciudadano.usuario.correo }}<br>
        <br>
        <b>Entidad, organización o empresa notificada: </b> {{ evaluacion.empresa.nombre }}<br>
        <b>NIT: </b> {{ evaluacion.empresa.nit }}<br>
        <b>Dirección Correspondencia: </b> {{ evaluacion.empresa.direccion }}<br>
        <b>Teléfono: </b> {{ evaluacion.empresa.telefono }}                  
        <b>Email: </b> {{ evaluacion.revision.correo }}<br>
        <b>Persona de contacto de la empresa:</b> {{ evaluacion.revision.personaContacto }}<br>
        <p>En constancia firman:</p>
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <br>
                    <th>__________________________________</th>
                    <th>__________________________________</th>
                </tr>
            </thead>
                <tr>
                    <br>
                    <td>Autoridad de tránsito</td>
                    <td>Por la empresa</td>
                </tr>
        </table>
        <br>
        <br>
        <p>Dado en la ciudad de Pasto, el {{ fechaActual }}</p>
    </p>
  </body>
</html>