{% extends 'base.html.twig' %}

{% block body %}
    <h1>Frofacretefuentes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Retencion</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for froFacRetefuente in froFacRetefuentes %}
            <tr>
                <td><a href="{{ path('frofacretefuente_show', { 'id': froFacRetefuente.id }) }}">{{ froFacRetefuente.id }}</a></td>
                <td>{% if froFacRetefuente.fecha %}{{ froFacRetefuente.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ froFacRetefuente.retencion }}</td>
                <td>{% if froFacRetefuente.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('frofacretefuente_show', { 'id': froFacRetefuente.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('frofacretefuente_edit', { 'id': froFacRetefuente.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('frofacretefuente_new') }}">Create a new froFacRetefuente</a>
        </li>
    </ul>
{% endblock %}
