{% extends 'base.html.twig' %}

{% block body %}
    <h1>Soats list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechaexpedicion</th>
                <th>Vigencia</th>
                <th>Numeropoliza</th>
                <th>Nombreempresa</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for soat in soats %}
            <tr>
                <td><a href="{{ path('soat_show', { 'id': soat.id }) }}">{{ soat.id }}</a></td>
                <td>{% if soat.fechaExpedicion %}{{ soat.fechaExpedicion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if soat.vigencia %}{{ soat.vigencia|date('Y-m-d') }}{% endif %}</td>
                <td>{% if soat.numeroPoliza %}{{ soat.numeroPoliza|date('Y-m-d') }}{% endif %}</td>
                <td>{% if soat.nombreEmpresa %}{{ soat.nombreEmpresa|date('Y-m-d') }}{% endif %}</td>
                <td>{% if soat.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('soat_show', { 'id': soat.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
