{% extends 'base.html.twig' %}

{% block body %}
    <h1>Soat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ soat.id }}</td>
            </tr>
            <tr>
                <th>Fechaexpedicion</th>
                <td>{% if soat.fechaExpedicion %}{{ soat.fechaExpedicion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Vigencia</th>
                <td>{% if soat.vigencia %}{{ soat.vigencia|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numeropoliza</th>
                <td>{% if soat.numeroPoliza %}{{ soat.numeroPoliza|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nombreempresa</th>
                <td>{% if soat.nombreEmpresa %}{{ soat.nombreEmpresa|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if soat.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('soat_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
