{% extends 'base.html.twig' %}

{% block body %}
    <h1>Festivos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for festivo in festivos %}
            <tr>
                <td><a href="{{ path('festivo_show', { 'id': festivo.id }) }}">{{ festivo.id }}</a></td>
                <td>{% if festivo.fecha %}{{ festivo.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ festivo.descripcion }}</td>
                <td>{% if festivo.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('festivo_show', { 'id': festivo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('festivo_edit', { 'id': festivo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('festivo_new') }}">Create a new festivo</a>
        </li>
    </ul>
{% endblock %}
