<html>
    <header>
        <meta charset="utf-8">
    </header>
    <body>
        {% if tipoActa == 'subtotales' %}
         <h3>Sede: {{organismoTransito.nombre}}</h3> 
          <h3>Divipo: {{organismoTransito.divipo}}</h3> 
        
          <br>
            {% if loteArray %}
                <h3>Lotes</h3>
                <table border="1" cellpadding="5">
                    <tr>
                        <td>Tipo</td>
                        <td>Rango inicio</td>
                        <td>Rango fin</td>
                        <td>Usados</td>
                        <td>Anulados</td>
                        <td>Disponibles</td>
                        <td>Asignados</td>
                    </tr>
                    {% for lote in loteArray %}
                        <tr>
                            <td>{{ lote.id }}</td> 
                            <td>{{ lote.rangoInicio }}</td>
                            <td>{{ lote.rangoFIn }}</td>
                            <td>{{ lote.asignadosLote }}</td>
                            <td>{{ lote.anuladosLote }}</td>
                            <td>{{ lote.disponiblesLote }}</td>
                            <td>{{ lote.totalAsignados }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3">Total</td>
                        <td>{{ asignadosLoteTotal }}</td>
                        <td>{{ anuladosLoteTotal }}</td>
                        <td>{{ disponiblesLoteTotal }}</td>
                        <td>{{ totalAsignados }}</td>
                    </tr>
                </table>
            {% endif %}     
        
            {% if tiposArray %}
                <h3>Totales</h3>
                <table border="1" cellpadding="5">
                    <tr>
                        <td>Tipo de licencia</td>
                        <td>Disponilbes</td>
                        <td>Anulados</td>
                        <td>Valor unitario</td>
                        <td>Usados</td>
                        <td>SubTotal</td>
                    </tr>
                    {% for tipo in tiposArray %}
                        <tr>
                            <td>{{ tipo.nombre }}</td>
                            <td>{{ tipo.disponilbes }}</td>
                            <td>{{ tipo.anulados }}</td>
                            <td>{{ tipo.valorInsumo }}</td>
                            <td>{{ tipo.asignados }}</td>
                            <td>{{ tipo.subTotal }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4">Total</td>
                        <td>{{total}}</td>
                        <td>{{totalValor}}</td>
                    </tr>
                </table>
            {% endif %}  
        
            {% if ifDisponibles  and disponibles %}
                <h3>Disponibles</h3>
                <table border="1" cellpadding="5">
                    <tr>
                        <td>Nombre</td>
                        <td>Estado</td> 
                        <td>Numero final</td>
                        <td>Fecha</td>
                    </tr>
                    {% for disponible in disponibles %}
                        <tr>
                            <td>{{ disponible.tipo.nombre }}</td>
                            <td>{{ disponible.estado}}</td>
                            <td>{{ disponible.numero}}</td>
                            <td>{{ disponible.fecha | date('d/m/Y') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}   
        
            {% if ifAsignado and asignados%}
                <h3>Asignados</h3>
                <table border="1" cellpadding="5">
                    <tr>
                        <td>Nombre</td>
                        <td>Estado</td> 
                        <td>Numero final</td>
                        <td>Fecha</td>
                    </tr>
                    {% for asignado in asignados %}
                        <tr>
                            <td>{{ asignado.tipo.nombre }}</td>
                            <td>{{ asignado.estado}}</td>
                            <td>{{ asignado.numero}}</td>
                            <td>{{ asignado.fecha | date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}    
        
            {% if ifAnulados and anulados%}
                <h3>Anulados</h3>
                <table border="1" cellpadding="5">
                    <tr>
                        <td>Nombre</td>
                        <td>Rango inicio</td>
                        <td>Rango fin</td>
                        <td>Estado</td> 
                        <td>Numero</td>
                        <td>Fecha</td>
                    </tr>
                    {% for anulado in anulados %}
                        <tr>
                            <td>{{ anulado.tipo.nombre }}</td>
                            <td>{{ anulado.lote.rangoInicio }}</td>
                            <td>{{ anulado.lote.rangoFin }}</td>
                            <td>{{ anulado.estado}}</td>
                            <td>{{ anulado.numero}}</td>
                            <td>{{ anulado.fecha | date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}    
        {% endif %} 

        {% if tipoActa == 'totales' %}
        <h3>Organismos transito</h3>
            <table border="1" cellpadding="5">
                <tr>
                    <td>Nombre</td>
                    <td>Asignados</td>
                    <td>Usados</td> 
                    <td>Valor</td> 
                </tr> 
                {% for totalOrganismo in totalOrganismos %}
                    {% if totalOrganismo.insumosTotal != 0 %}
                        <tr>
                            <td>{{ totalOrganismo.nombreOrganismo }}</td>
                            <td>{{ totalOrganismo.insumosTotal }}</td>
                            <td>{{ totalOrganismo.sustratosCantidad }}</td>
                            <td>{{ totalOrganismo.valorSede }}</td>
                        </tr>
                    {% endif %} 
                {% endfor %}
                <tr>
                    <td colspan="1">Total</td>
                    <td>{{ totalAsignados }}</td>
                    <td>{{ totalSede }}</td>
                    <td>{{ valorTotalSede }}</td>
                </tr>    
                <tr>
                    <td colspan="3">Total consignar</td>
                    <td>{{ totalConsignar }}</td>
                </tr>    
            </table>
        {% endif %}

        <p style="text-align: center;">
            Generó
            <br>
            {{ funcionario.ciudadano.primerNombre }} {{ funcionario.ciudadano.primerApellido }}
            <br>
            {{ funcionario.cargo.nombre }}
            <br>
            {{ funcionario.organismoTransito.nombre }}
        </p>
    </body>
</html>
