
 <html>
  <header>
    <meta charset="utf-8">
  </header>
  <body>

  <h3>Sede: {{organismoTransito.nombre}}</h3> 
  <h3>Divipo: {{organismoTransito.divipo}}</h3> 

  <br>

    {% if tiposArray %}
        <h3>Totales</h3>
        <table border="1">
            <tr>
                <td>Tipo de licencia</td>
                <td>Disponilbes</td>
                <td>Anulados</td>
                <td>Asignados</td>
                <td>Total</td>
                <td>Valor</td>
            </tr>
            {% for tipo in tiposArray %}
                <tr>
                    <td>{{ tipo.nombre }}</td>
                    <td>{{ tipo.disponilbes }}</td>
                    <td>{{ tipo.anulados }}</td>
                    <td>{{ tipo.asignados }}</td>
                    <td>{{ tipo.totalTipo }}</td>
                    <td>{{ tipo.valorInsumo }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">Total</td>
                <td>{{total}}</td>
                <td>{{totalValor}}</td>
            </tr>
        </table>
    {% endif %}  

    {% if ifDisponibles %}
        <h3>Disponibles</h3>
        <table border="1">
            <tr>
                <td>Nombre</td>
                <td>Estado</td> 
                <td>Numero final</td>
                <td>Fecha</td>
            </tr>
            {% for disponible in disponibles %}
                <tr>
                    <td>{{ disponible.tipo.nombre }}</td>
                    <td>{{ disponible.estado}}</td>
                    <td>{{ disponible.numero}}</td>
                    <td>{{ disponible.fecha }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}   

    {% if ifAsignado %}
        <h3>Asignados</h3>
        <table border="1">
            <tr>
                <td>Nombre</td>
                <td>Estado</td> 
                <td>Numero final</td>
                <td>Fecha</td>
            </tr>
            {% for asignado in asignados %}
                <tr>
                    <td>{{ asignado.tipo.nombre }}</td>
                    <td>{{ asignado.estado}}</td>
                    <td>{{ asignado.numero}}</td>
                    <td>{{ asignado.fecha }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}    

    {% if ifAnulados %}
        <h3>Anulados</h3>
        <table border="1">
            <tr>
                <td>Nombre</td>
                <td>Estado</td> 
                <td>Numero final</td>
                <td>Fecha</td>
            </tr>
            {% for anulado in anulados %}
                <tr>
                    <td>{{ anulado.tipo.nombre }}</td>
                    <td>{{ anulado.estado}}</td>
                    <td>{{ anulado.numero}}</td>
                    <td>{{ anulado.fecha }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}    

  

  </body> 
</html>