
 <html>
  <header>
  </header>
  <body>

    <h3 style="text-align:center;">
        <b>Entrega insumos</b>
        <br>      
    </h3>

    <table >
        <tr>
            <td width="25%">Divipol: {{organismoTransito.divipo}}</td>
            <td width="75%">Sede: {{organismoTransito.nombre}}</td> 
        </tr> 
    </table>
    <h4>No.Acta {{numeroActa}}</h4>

    <br>   <br>  <br>   <br>   
    
    <h4>Sustratos</h4>

    <table border="1">
        <tr>
            <td width="40%" >Nombre insumo</td>
            <td width="15%">Rango inicial</td> 
            <td width="15%">Rango final</td>
            <td width="15%">Cantidad</td>
            <td width="15%">Referencia</td>
        </tr>
        {% for sustratoActa in sustratosActa %}
            <tr>
                <td>{{ sustratoActa.nombre }}</td>
                <td>{{ sustratoActa.rangoInicio}}</td>
                <td>{{ sustratoActa.rangoFin}}</td>
                <td>{{ sustratoActa.cantidad }}</td>
                <td>{{ sustratoActa.actaEntrega }}</td>
            </tr>
        {% endfor %}
    </table>

    <h4>Insumos</h4>


    <table border="1">
        <tr>
            <td width="40%" >Nombre insumo</td>
            <td width="15%">Cantidad</td>
            <td width="15%">Referencia</td>
        </tr>
        {% for insumoActa in insumosActa %}
            <tr>
                <td>{{ insumoActa.tipo.nombre }}</td>
                <td>{{ insumoActa.numero }}</td>
                <td>{{ insumoActa.actaEntrega }}</td>
            </tr>
        {% endfor %}
    </table>

       <br>
       <br> 

    <p> 
        <b>Fecha entrega: {{fechaEntrega}}</b>
        <br>      
        <br>      
        <b>Entrega: ----------------------- </b>
        <br>      
        <br>      
        <b>Recibe: ----------------------- </b>
        <br>      
    </p>

  </body>
</html>