
 <html>
  <header>
  </header>
  <body>

    <h3 style="text-align:center;">
        <b>REASIGNACION SUSTRATOS</b>  
    </h3>

    <table>
        <tr>
            <td width="50%"><b>Sede origen:</b><br> {{ trazabilidad.organismoTransitoOrigen.nombre }}</td>
            <td width="50%"><b>Sede destino:</b><br> {{ trazabilidad.organismoTransitoDestino.nombre }}</td> 
        </tr> 
    </table>
    <!--
    <h4>No.Acta </h4>
    -->

    <br>   <br>  <br>   <br>   
    {% if trazabilidad %}
        <table border="1" cellpadding="5">
            <tr>
                <td width="40%" >Nombre sustrato</td>
                <td width="15%">Rango inicial</td> 
                <td width="15%">Rango final</td>
                <td width="15%">Cantidad</td>
                <td width="15%">No. acta</td>
            </tr>
            <tr>
                <td>{{ trazabilidad.lote.tipoInsumo.nombre }}</td>
                <td>{{ trazabilidad.lote.rangoInicio }}</td>
                <td>{{ trazabilidad.lote.rangoFin }}</td>
                <td>{{ trazabilidad.lote.cantidad }}</td>
                <td>{{ trazabilidad.lote.numeroActa }}</td>
            </tr>
        </table>
    {% endif %}
    <br>
    <br> 
    <p> 
        <b>Fecha reasignacion: {{ trazabilidad.fecha|date('d/m/Y') }}</b>
        <br>      
        <br>      
        <b>Entrega: ___________________________ </b>
        <br>      
        <br>      
        <b>Recibe: ____________________________ </b>
        <br>      
    </p>
  </body>
</html>