{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gdtrazabilidads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Fechaasignacion</th>
                <th>Fecharespuesta</th>
                <th>Url</th>
                <th>Observaciones</th>
                <th>Aceptada</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gdTrazabilidad in gdTrazabilidads %}
            <tr>
                <td><a href="{{ path('gdtrazabilidad_show', { 'id': gdTrazabilidad.id }) }}">{{ gdTrazabilidad.id }}</a></td>
                <td>{{ gdTrazabilidad.estado }}</td>
                <td>{% if gdTrazabilidad.fechaAsignacion %}{{ gdTrazabilidad.fechaAsignacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if gdTrazabilidad.fechaRespuesta %}{{ gdTrazabilidad.fechaRespuesta|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ gdTrazabilidad.url }}</td>
                <td>{{ gdTrazabilidad.observaciones }}</td>
                <td>{% if gdTrazabilidad.aceptada %}Yes{% else %}No{% endif %}</td>
                <td>{% if gdTrazabilidad.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gdtrazabilidad_show', { 'id': gdTrazabilidad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gdtrazabilidad_edit', { 'id': gdTrazabilidad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gdtrazabilidad_new') }}">Create a new gdTrazabilidad</a>
        </li>
    </ul>
{% endblock %}
