{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfglimitaciontipos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgLimitacionTipo in vhloCfgLimitacionTipos %}
            <tr>
                <td><a href="{{ path('vhlocfglimitaciontipo_show', { 'id': vhloCfgLimitacionTipo.id }) }}">{{ vhloCfgLimitacionTipo.id }}</a></td>
                <td>{{ vhloCfgLimitacionTipo.nombre }}</td>
                <td>{% if vhloCfgLimitacionTipo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfglimitaciontipo_show', { 'id': vhloCfgLimitacionTipo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlocfglimitaciontipo_edit', { 'id': vhloCfgLimitacionTipo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfglimitaciontipo_new') }}">Create a new vhloCfgLimitacionTipo</a>
        </li>
    </ul>
{% endblock %}
