{% extends 'base.html.twig' %}

{% block body %}
    <h1>Msvcalificacion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ msvCalificacion.id }}</td>
            </tr>
            <tr>
                <th>Aplica</th>
                <td>{% if msvCalificacion.aplica %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Evidencia</th>
                <td>{% if msvCalificacion.evidencia %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Responde</th>
                <td>{% if msvCalificacion.responde %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Valorobtenido</th>
                <td>{{ msvCalificacion.valorObtenido }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ msvCalificacion.observacion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if msvCalificacion.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('msvcalificacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('msvcalificacion_edit', { 'id': msvCalificacion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
