{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svcfgsenialestados list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for svCfgSenialEstado in svCfgSenialEstados %}
            <tr>
                <td><a href="{{ path('svcfgsenialestado_show', { 'id': svCfgSenialEstado.id }) }}">{{ svCfgSenialEstado.id }}</a></td>
                <td>{{ svCfgSenialEstado.nombre }}</td>
                <td>{% if svCfgSenialEstado.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('svcfgsenialestado_show', { 'id': svCfgSenialEstado.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('svcfgsenialestado_edit', { 'id': svCfgSenialEstado.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svcfgsenialestado_new') }}">Create a new svCfgSenialEstado</a>
        </li>
    </ul>
{% endblock %}
