{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgobjetofijos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgObjetoFijo in cfgObjetoFijos %}
            <tr>
                <td><a href="{{ path('cfgobjetofijo_show', { 'id': cfgObjetoFijo.id }) }}">{{ cfgObjetoFijo.id }}</a></td>
                <td>{{ cfgObjetoFijo.nombre }}</td>
                <td>{% if cfgObjetoFijo.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgobjetofijo_show', { 'id': cfgObjetoFijo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgobjetofijo_edit', { 'id': cfgObjetoFijo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgobjetofijo_new') }}">Create a new cfgObjetoFijo</a>
        </li>
    </ul>
{% endblock %}
