{% extends 'base.html.twig' %}

{% block body %}
    <h1>RegistroDocumento list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigoradicado</th>
                <th>Tiemporadicacion</th>
                <th>Asuntodocumento</th>
                <th>Estadodocumento</th>
                <th>Urldocumentoescaneado</th>
                <th>Tiempotranscurrido</th>
                <th>Numerofolios</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for registroDocumento in registroDocumentos %}
            <tr>
                <td><a href="{{ path('registrodocumento_show', { 'id': registroDocumento.id }) }}">{{ registroDocumento.id }}</a></td>
                <td>{{ registroDocumento.codigoRadicado }}</td>
                <td>{% if registroDocumento.tiempoRadicacion %}{{ registroDocumento.tiempoRadicacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ registroDocumento.asuntoDocumento }}</td>
                <td>{{ registroDocumento.estadoDocumento }}</td>
                <td>{{ registroDocumento.urlDocumentoEscaneado }}</td>
                <td>{{ registroDocumento.tiempoTranscurrido }}</td>
                <td>{{ registroDocumento.numeroFolios }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('registrodocumento_show', { 'id': registroDocumento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('registrodocumento_edit', { 'id': registroDocumento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('registrodocumento_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
