{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhloactatraspasos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloActaTraspaso in vhloActaTraspasos %}
            <tr>
                <td><a href="{{ path('vhloactatraspaso_show', { 'id': vhloActaTraspaso.id }) }}">{{ vhloActaTraspaso.id }}</a></td>
                <td>{% if vhloActaTraspaso.fecha %}{{ vhloActaTraspaso.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ vhloActaTraspaso.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhloactatraspaso_show', { 'id': vhloActaTraspaso.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhloactatraspaso_edit', { 'id': vhloActaTraspaso.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhloactatraspaso_new') }}">Create a new vhloActaTraspaso</a>
        </li>
    </ul>
{% endblock %}
