{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhloactatraspaso</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vhloActaTraspaso.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if vhloActaTraspaso.fecha %}{{ vhloActaTraspaso.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ vhloActaTraspaso.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhloactatraspaso_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vhloactatraspaso_edit', { 'id': vhloActaTraspaso.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
