{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modalidad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ modalidad.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ modalidad.nombre }}</td>
            </tr>
            <tr>
                <th>Codigomt</th>
                <td>{{ modalidad.codigoMt }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('modalidad_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('modalidad_edit', { 'id': modalidad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
