{% extends 'base.html.twig' %}

{% block body %}
    <h1>Radioaccions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for radioAccion in radioAccions %}
            <tr>
                <td><a href="{{ path('radioaccion_show', { 'id': radioAccion.id }) }}">{{ radioAccion.id }}</a></td>
                <td>{{ radioAccion.nombre }}</td>
                <td>{% if radioAccion.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('radioaccion_show', { 'id': radioAccion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('radioaccion_edit', { 'id': radioAccion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('radioaccion_new') }}">Create a new radioAccion</a>
        </li>
    </ul>
{% endblock %}
