{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pnalasignacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Fecha</th>
                <th>Rangos</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pnalAsignacion in pnalAsignacions %}
            <tr>
                <td><a href="{{ path('pnalasignacion_show', { 'id': pnalAsignacion.id }) }}">{{ pnalAsignacion.id }}</a></td>
                <td>{{ pnalAsignacion.desde }}</td>
                <td>{{ pnalAsignacion.hasta }}</td>
                <td>{% if pnalAsignacion.fecha %}{{ pnalAsignacion.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ pnalAsignacion.rangos }}</td>
                <td>{% if pnalAsignacion.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pnalasignacion_show', { 'id': pnalAsignacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pnalasignacion_edit', { 'id': pnalAsignacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pnalasignacion_new') }}">Create a new pnalAsignacion</a>
        </li>
    </ul>
{% endblock %}
