{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgtipocabinas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgTipoCabina in vhloCfgTipoCabinas %}
            <tr>
                <td><a href="{{ path('vhlocfgtipocabina_show', { 'id': vhloCfgTipoCabina.id }) }}">{{ vhloCfgTipoCabina.id }}</a></td>
                <td>{{ vhloCfgTipoCabina.nombre }}</td>
                <td>{% if vhloCfgTipoCabina.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfgtipocabina_show', { 'id': vhloCfgTipoCabina.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlocfgtipocabina_edit', { 'id': vhloCfgTipoCabina.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfgtipocabina_new') }}">Create a new vhloCfgTipoCabina</a>
        </li>
    </ul>
{% endblock %}
