{% extends 'base.html.twig' %}

{% block body %}
    <h1>TramiteEspecifico list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Valor</th>
                <th>Datos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tramiteEspecifico in tramiteEspecificos %}
            <tr>
                <td><a href="{{ path('tramiteespecifico_show', { 'id': tramiteEspecifico.id }) }}">{{ tramiteEspecifico.id }}</a></td>
                <td>{{ tramiteEspecifico.valor }}</td>
                <td>{% if tramiteEspecifico.datos %}{{ tramiteEspecifico.datos|join(', ') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tramiteespecifico_show', { 'id': tramiteEspecifico.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tramiteespecifico_edit', { 'id': tramiteEspecifico.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tramiteespecifico_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
