<html>
    <header>

    </header>
    <body style="font-size:11px">
        <table border="1" cellpadding="6">
            <tr>
                <td class="text-center" width="20%">
                    <p>
                        <b>AÑO/MES/DÍA</b><br>
                        {{ anio }}/{{ mes }}/{{ dia }}
                    </p>
                </td>
                <td width="45%">
                    <p>
                        GOBERNACIÓN DE NARIÑO
                        <br>
                        SECRETARIA DE HACIENDA
                        <br>
                        SOLICITUD DE DISPONIBILIDAD PRESUPUESTAL
                    </p>
                </td>
                <td width="35%">
                    <br>
                    <br>
                    <img src="{{ asset('img/logo-entidad.png') }}" height="50px"/>
                </td>
            </tr>
        </table>
        <table border="1" cellpading="10" style="text-align:center;">
            <tr>
                <td>CONCEPTO</td>
                <td>VALORES</td>
            </tr>
            <tr>
                <td>
                    {{ solicitud.concepto }}<br>
                    <b>Actividad:</b><br>{{ solicitud.actividad.nombre }}
                </td>
                <td>
                    <b>Valor solicitado:</b> 
                    $({{ solicitud.valor|number_format(0, ',', '.') }})<br>
                    {{ valorEnLetras }}
                </td>
            </tr>
            <tr>
                <td>RADICACIÓN BANCO DE PROYECTOS: SI (Anexar constancia) NO</td>
                <td>CUENTA</td>
            </tr>
            <tr>
                <td>
                    <b>Proyecto: </b>
                    {{ solicitud.actividad.cuenta.proyecto.nombre }}
                    <b> No. </b> {{ solicitud.actividad.cuenta.proyecto.numero }}
                </td>
                <td>
                    <b>Cuenta No.</b>{{ solicitud.actividad.cuenta.numero }}
                </td>
            </tr>
        </table>
        <table border="1" cellpading="5" style="text-align:center;">
            <tr>
                <td colspan="4">FIRMA DEL RESPONSABLE DE LA SOLICITUD</td>
            </tr>
            <tr>
                <td width="15%">NOMBRE:</td>
                <td width="35%"></td>
                <td width="15%">CARGO:</td>
                <td width="35%"></td>
            </tr>
        </table>
    </body>
</html>
