<html>
    <header>

    </header>
    <body style="font-size:11px">
        <table border="1" cellpading="5" style="text-align:center;">
            <tr style="font-size:8px">
                <td>
                    <br>
                    <br>
                    <br>
                    <table border="1" cellpading="5" style="text-align:center;">
                        <tr>
                            <td>Año</td>
                            <td>Mes</td>
                            <td>Día</td>
                        </tr>
                        <tr>
                            <td>{{ anio }}</td>
                            <td>{{ mes }}</td>
                            <td>{{ dia }}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <p>
                        GOBERNACIÓN DE NARIÑO
                        <br>
                        SECRETARIA DE HACIENDA
                        <br>
                        SOLICITUD DE DISPONIBILIDAD PRESUPUESTAL
                    </p>
                </td>
                <td>
                    <br>
                    <br>
                    <img src="{{ asset('img/logo-entidad.png') }}" height="50px"/>
                </td>
            </tr>
        </table>
        <table border="1" cellpading="10" style="text-align:center;">
            <tr>
                <td>CONCEPTO</td>
                <td>VALORES</td>
            </tr>
            <tr>
                <td>
                {{ solicitud.concepto }}<br>
                ACTIVIDAD:<br>{{ solicitud.actividad.nombre }}
                </td>
                <td>
                Valor solicitado $({{ solicitud.valor }})
                Valor aprobado $({{ solicitud.valorAprobado }})
                </td>
            </tr>
            <tr>
                <td>RADICACIÓN BANCO DE PROYECTOS: SI (Anexar constancia) NO</td>
                <td>CUENTA</td>
            </tr>
            <tr>
                <td>
                    PROYECTO No. {{ solicitud.actividad.cuenta.proyecto.numero }}<br>
                    {{ solicitud.actividad.cuenta.proyecto.nombre }}
                    
                </td>
                <td>CUENTA No.{{ solicitud.actividad.cuenta.numero }}</td>
            </tr>
        </table>
        <table border="1" cellpading="5" style="text-align:center;">
            <tr>
                <td colspan="4">FIRMA DEL RESPONSABLE DE LA SOLICITUD</td>
            </tr>
            <tr>
                <td>NOMBRE:</td>
                <td></td>
                <td>CARGO:</td>
                <td></td>
            </tr>
        </table>
    </body>
</html>
