{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sustrato</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sustrato.id }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ sustrato.estado }}</td>
            </tr>
            <tr>
                <th>Desde</th>
                <td>{{ sustrato.desde }}</td>
            </tr>
            <tr>
                <th>Hasta</th>
                <td>{{ sustrato.hasta }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sustrato_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sustrato_edit', { 'id': sustrato.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
