{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfggravedads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgGravedad in cfgGravedads %}
            <tr>
                <td><a href="{{ path('cfggravedad_show', { 'id': cfgGravedad.id }) }}">{{ cfgGravedad.id }}</a></td>
                <td>{{ cfgGravedad.nombre }}</td>
                <td>{% if cfgGravedad.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfggravedad_show', { 'id': cfgGravedad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfggravedad_edit', { 'id': cfgGravedad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfggravedad_new') }}">Create a new cfgGravedad</a>
        </li>
    </ul>
{% endblock %}
