{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfglimitacioncausals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgLimitacionCausal in vhloCfgLimitacionCausals %}
            <tr>
                <td><a href="{{ path('vhlocfglimitacioncausal_show', { 'id': vhloCfgLimitacionCausal.id }) }}">{{ vhloCfgLimitacionCausal.id }}</a></td>
                <td>{{ vhloCfgLimitacionCausal.nombre }}</td>
                <td>{% if vhloCfgLimitacionCausal.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfglimitacioncausal_show', { 'id': vhloCfgLimitacionCausal.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlocfglimitacioncausal_edit', { 'id': vhloCfgLimitacionCausal.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfglimitacioncausal_new') }}">Create a new vhloCfgLimitacionCausal</a>
        </li>
    </ul>
{% endblock %}
