{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mpersonaltipocontratos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mpersonalTipoContrato in mpersonalTipoContratos %}
            <tr>
                <td><a href="{{ path('mpersonaltipocontrato_show', { 'id': mpersonalTipoContrato.id }) }}">{{ mpersonalTipoContrato.id }}</a></td>
                <td>{{ mpersonalTipoContrato.nombre }}</td>
                <td>{% if mpersonalTipoContrato.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mpersonaltipocontrato_show', { 'id': mpersonalTipoContrato.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mpersonaltipocontrato_edit', { 'id': mpersonalTipoContrato.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mpersonaltipocontrato_new') }}">Create a new mpersonalTipoContrato</a>
        </li>
    </ul>
{% endblock %}
