{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgcargos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgCargo in cfgCargos %}
            <tr>
                <td><a href="{{ path('cfgcargo_show', { 'id': cfgCargo.id }) }}">{{ cfgCargo.id }}</a></td>
                <td>{{ cfgCargo.nombre }}</td>
                <td>{% if cfgCargo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgcargo_show', { 'id': cfgCargo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgcargo_edit', { 'id': cfgCargo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgcargo_new') }}">Create a new cfgCargo</a>
        </li>
    </ul>
{% endblock %}
