{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tiporecaudos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoRecaudo in tipoRecaudos %}
            <tr>
                <td><a href="{{ path('tiporecaudo_show', { 'id': tipoRecaudo.id }) }}">{{ tipoRecaudo.id }}</a></td>
                <td>{{ tipoRecaudo.nombre }}</td>
                <td>{% if tipoRecaudo.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tiporecaudo_show', { 'id': tipoRecaudo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tiporecaudo_edit', { 'id': tipoRecaudo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tiporecaudo_new') }}">Create a new tipoRecaudo</a>
        </li>
    </ul>
{% endblock %}
