{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tiporecaudo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipoRecaudo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipoRecaudo.nombre }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if tipoRecaudo.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tiporecaudo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tiporecaudo_edit', { 'id': tipoRecaudo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
