{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgsubpartidaarancelarias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgSubpartidaArancelarium in vhloCfgSubpartidaArancelarias %}
            <tr>
                <td><a href="{{ path('vhlocfgsubpartidaarancelaria_show', { 'id': vhloCfgSubpartidaArancelarium.id }) }}">{{ vhloCfgSubpartidaArancelarium.id }}</a></td>
                <td>{{ vhloCfgSubpartidaArancelarium.codigo }}</td>
                <td>{% if vhloCfgSubpartidaArancelarium.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfgsubpartidaarancelaria_show', { 'id': vhloCfgSubpartidaArancelarium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlocfgsubpartidaarancelaria_edit', { 'id': vhloCfgSubpartidaArancelarium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfgsubpartidaarancelaria_new') }}">Create a new vhloCfgSubpartidaArancelarium</a>
        </li>
    </ul>
{% endblock %}
