{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seguimientoentrega</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seguimientoEntrega.id }}</td>
            </tr>
            <tr>
                <th>Numeroregistros</th>
                <td>{{ seguimientoEntrega.numeroRegistros }}</td>
            </tr>
            <tr>
                <th>Numerooficio</th>
                <td>{{ seguimientoEntrega.numeroOficio }}</td>
            </tr>
            <tr>
                <th>Fechacargue</th>
                <td>{% if seguimientoEntrega.fechaCargue %}{{ seguimientoEntrega.fechaCargue|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seguimientoentrega_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('seguimientoentrega_edit', { 'id': seguimientoEntrega.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
