{% extends 'base.html.twig' %}

{% block body %}
    <h1>Peticionario list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombrepeticionario</th>
                <th>Identificacionpeticionario</th>
                <th>Direccionpeticionario</th>
                <th>Telefonopeticionario</th>
                <th>Correoelectronico</th>
                <th>Numerooficio</th>
                <th>Tipopeticionario</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for peticionario in peticionarios %}
            <tr>
                <td><a href="{{ path('peticionario_show', { 'id': peticionario.id }) }}">{{ peticionario.id }}</a></td>
                <td>{{ peticionario.nombrePeticionario }}</td>
                <td>{{ peticionario.identificacionPeticionario }}</td>
                <td>{{ peticionario.direccionPeticionario }}</td>
                <td>{{ peticionario.telefonoPeticionario }}</td>
                <td>{{ peticionario.correoElectronico }}</td>
                <td>{{ peticionario.numeroOficio }}</td>
                <td>{{ peticionario.tipoPeticionario }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('peticionario_show', { 'id': peticionario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('peticionario_edit', { 'id': peticionario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('peticionario_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
