{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mparqgruaciudadano</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mparqGruaCiudadano.id }}</td>
            </tr>
            <tr>
                <th>Fechaincio</th>
                <td>{% if mparqGruaCiudadano.fechaIncio %}{{ mparqGruaCiudadano.fechaIncio|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechafin</th>
                <td>{% if mparqGruaCiudadano.fechaFin %}{{ mparqGruaCiudadano.fechaFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ mparqGruaCiudadano.descripcion }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ mparqGruaCiudadano.tipo }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if mparqGruaCiudadano.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mparqgruaciudadano_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mparqgruaciudadano_edit', { 'id': mparqGruaCiudadano.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
