{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pnalfuncionarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actaposesion</th>
                <th>Resolucion</th>
                <th>Numerocontrato</th>
                <th>Fechainicial</th>
                <th>Fechafinal</th>
                <th>Numeroplaca</th>
                <th>Inhabilidad</th>
                <th>Objetocontrato</th>
                <th>Novedad</th>
                <th>Modificatorio</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pnalFuncionario in pnalFuncionarios %}
            <tr>
                <td><a href="{{ path('pnalfuncionario_show', { 'id': pnalFuncionario.id }) }}">{{ pnalFuncionario.id }}</a></td>
                <td>{{ pnalFuncionario.actaPosesion }}</td>
                <td>{{ pnalFuncionario.resolucion }}</td>
                <td>{{ pnalFuncionario.numeroContrato }}</td>
                <td>{% if pnalFuncionario.fechaInicial %}{{ pnalFuncionario.fechaInicial|date('Y-m-d') }}{% endif %}</td>
                <td>{% if pnalFuncionario.fechaFinal %}{{ pnalFuncionario.fechaFinal|date('Y-m-d') }}{% endif %}</td>
                <td>{{ pnalFuncionario.numeroPlaca }}</td>
                <td>{{ pnalFuncionario.inhabilidad }}</td>
                <td>{{ pnalFuncionario.objetoContrato }}</td>
                <td>{{ pnalFuncionario.novedad }}</td>
                <td>{% if pnalFuncionario.modificatorio %}Yes{% else %}No{% endif %}</td>
                <td>{% if pnalFuncionario.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pnalfuncionario_show', { 'id': pnalFuncionario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pnalfuncionario_edit', { 'id': pnalFuncionario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pnalfuncionario_new') }}">Create a new pnalFuncionario</a>
        </li>
    </ul>
{% endblock %}
