{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pnalfuncionario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pnalFuncionario.id }}</td>
            </tr>
            <tr>
                <th>Actaposesion</th>
                <td>{{ pnalFuncionario.actaPosesion }}</td>
            </tr>
            <tr>
                <th>Resolucion</th>
                <td>{{ pnalFuncionario.resolucion }}</td>
            </tr>
            <tr>
                <th>Numerocontrato</th>
                <td>{{ pnalFuncionario.numeroContrato }}</td>
            </tr>
            <tr>
                <th>Fechainicial</th>
                <td>{% if pnalFuncionario.fechaInicial %}{{ pnalFuncionario.fechaInicial|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechafinal</th>
                <td>{% if pnalFuncionario.fechaFinal %}{{ pnalFuncionario.fechaFinal|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numeroplaca</th>
                <td>{{ pnalFuncionario.numeroPlaca }}</td>
            </tr>
            <tr>
                <th>Inhabilidad</th>
                <td>{{ pnalFuncionario.inhabilidad }}</td>
            </tr>
            <tr>
                <th>Objetocontrato</th>
                <td>{{ pnalFuncionario.objetoContrato }}</td>
            </tr>
            <tr>
                <th>Novedad</th>
                <td>{{ pnalFuncionario.novedad }}</td>
            </tr>
            <tr>
                <th>Modificatorio</th>
                <td>{% if pnalFuncionario.modificatorio %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if pnalFuncionario.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pnalfuncionario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pnalfuncionario_edit', { 'id': pnalFuncionario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
