{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgmodulos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Abreviatura</th>
                <th>Descripcion</th>
                <th>Siglasustrato</th>
                <th>Vehiculo</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgModulo in cfgModulos %}
            <tr>
                <td><a href="{{ path('cfgmodulo_show', { 'id': cfgModulo.id }) }}">{{ cfgModulo.id }}</a></td>
                <td>{{ cfgModulo.nombre }}</td>
                <td>{{ cfgModulo.abreviatura }}</td>
                <td>{{ cfgModulo.descripcion }}</td>
                <td>{{ cfgModulo.siglaSustrato }}</td>
                <td>{% if cfgModulo.vehiculo %}Yes{% else %}No{% endif %}</td>
                <td>{% if cfgModulo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgmodulo_show', { 'id': cfgModulo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgmodulo_edit', { 'id': cfgModulo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgmodulo_new') }}">Create a new cfgModulo</a>
        </li>
    </ul>
{% endblock %}
