{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgmodulo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cfgModulo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cfgModulo.nombre }}</td>
            </tr>
            <tr>
                <th>Abreviatura</th>
                <td>{{ cfgModulo.abreviatura }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ cfgModulo.descripcion }}</td>
            </tr>
            <tr>
                <th>Siglasustrato</th>
                <td>{{ cfgModulo.siglaSustrato }}</td>
            </tr>
            <tr>
                <th>Vehiculo</th>
                <td>{% if cfgModulo.vehiculo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if cfgModulo.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgmodulo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cfgmodulo_edit', { 'id': cfgModulo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
