{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvcdocfginteres list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Porcentaje</th>
                <th>Dias</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cvCdoCfgIntere in cvCdoCfgInteres %}
            <tr>
                <td><a href="{{ path('cvcdocfginteres_show', { 'id': cvCdoCfgIntere.id }) }}">{{ cvCdoCfgIntere.id }}</a></td>
                <td>{{ cvCdoCfgIntere.porcentaje }}</td>
                <td>{{ cvCdoCfgIntere.dias }}</td>
                <td>{% if cvCdoCfgIntere.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cvcdocfginteres_show', { 'id': cvCdoCfgIntere.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cvcdocfginteres_edit', { 'id': cvCdoCfgIntere.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvcdocfginteres_new') }}">Create a new cvCdoCfgIntere</a>
        </li>
    </ul>
{% endblock %}
