{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvcdocfgintere</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cvCdoCfgIntere.id }}</td>
            </tr>
            <tr>
                <th>Porcentaje</th>
                <td>{{ cvCdoCfgIntere.porcentaje }}</td>
            </tr>
            <tr>
                <th>Dias</th>
                <td>{{ cvCdoCfgIntere.dias }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if cvCdoCfgIntere.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvcdocfginteres_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cvcdocfginteres_edit', { 'id': cvCdoCfgIntere.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
