{% extends 'base.html.twig' %}

{% block body %}
    <h1>Msvevaluacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Parametro</th>
                <th>Item</th>
                <th>Variable</th>
                <th>Criterio</th>
                <th>Aplica</th>
                <th>Evidencia</th>
                <th>Responde</th>
                <th>Observacion</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for msvEvaluacion in msvEvaluacions %}
            <tr>
                <td><a href="{{ path('msvevaluacion_show', { 'id': msvEvaluacion.id }) }}">{{ msvEvaluacion.id }}</a></td>
                <td>{{ msvEvaluacion.numero }}</td>
                <td>{{ msvEvaluacion.parametro }}</td>
                <td>{{ msvEvaluacion.item }}</td>
                <td>{{ msvEvaluacion.variable }}</td>
                <td>{{ msvEvaluacion.criterio }}</td>
                <td>{% if msvEvaluacion.aplica %}Yes{% else %}No{% endif %}</td>
                <td>{% if msvEvaluacion.evidencia %}Yes{% else %}No{% endif %}</td>
                <td>{% if msvEvaluacion.responde %}Yes{% else %}No{% endif %}</td>
                <td>{{ msvEvaluacion.observacion }}</td>
                <td>{% if msvEvaluacion.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('msvevaluacion_show', { 'id': msvEvaluacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('msvevaluacion_edit', { 'id': msvEvaluacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('msvevaluacion_new') }}">Create a new msvEvaluacion</a>
        </li>
    </ul>
{% endblock %}
