{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pqogruaciudadano</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pqoGruaCiudadano.id }}</td>
            </tr>
            <tr>
                <th>Fechainicial</th>
                <td>{% if pqoGruaCiudadano.fechaInicial %}{{ pqoGruaCiudadano.fechaInicial|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechafinal</th>
                <td>{% if pqoGruaCiudadano.fechaFinal %}{{ pqoGruaCiudadano.fechaFinal|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ pqoGruaCiudadano.observaciones }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ pqoGruaCiudadano.tipo }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if pqoGruaCiudadano.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pqogruaciudadano_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pqogruaciudadano_edit', { 'id': pqoGruaCiudadano.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
