{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhloplacasedes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Letrasplaca</th>
                <th>Numeroinicial</th>
                <th>Numerofinal</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloPlacaSede in vhloPlacaSedes %}
            <tr>
                <td><a href="{{ path('vhloplacasede_show', { 'id': vhloPlacaSede.id }) }}">{{ vhloPlacaSede.id }}</a></td>
                <td>{{ vhloPlacaSede.letrasPlaca }}</td>
                <td>{{ vhloPlacaSede.numeroInicial }}</td>
                <td>{{ vhloPlacaSede.numeroFinal }}</td>
                <td>{% if vhloPlacaSede.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhloplacasede_show', { 'id': vhloPlacaSede.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhloplacasede_edit', { 'id': vhloPlacaSede.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhloplacasede_new') }}">Create a new vhloPlacaSede</a>
        </li>
    </ul>
{% endblock %}
