{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhloplacasede</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vhloPlacaSede.id }}</td>
            </tr>
            <tr>
                <th>Letrasplaca</th>
                <td>{{ vhloPlacaSede.letrasPlaca }}</td>
            </tr>
            <tr>
                <th>Numeroinicial</th>
                <td>{{ vhloPlacaSede.numeroInicial }}</td>
            </tr>
            <tr>
                <th>Numerofinal</th>
                <td>{{ vhloPlacaSede.numeroFinal }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if vhloPlacaSede.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhloplacasede_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vhloplacasede_edit', { 'id': vhloPlacaSede.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
