{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svipatvictimas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombresvictima</th>
                <th>Apellidosvictima</th>
                <th>Tipoidentificacionvictima</th>
                <th>Identificacionvictima</th>
                <th>Nacionalidadvictima</th>
                <th>Fechanacimientovictima</th>
                <th>Edadvictima</th>
                <th>Sexovictima</th>
                <th>Direccionresidenciavictima</th>
                <th>Ciudadresidenciavictima</th>
                <th>Telefonovictima</th>
                <th>Placavehiculovictima</th>
                <th>Practicoexamenvictima</th>
                <th>Autorizovictima</th>
                <th>Sustanciaspsicoactivasvictima</th>
                <th>Chalecovictima</th>
                <th>Cascovictima</th>
                <th>Cinturonvictima</th>
                <th>Descripcionlesionvictima</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for svIpatVictima in svIpatVictimas %}
            <tr>
                <td><a href="{{ path('svipatvictima_show', { 'id': svIpatVictima.id }) }}">{{ svIpatVictima.id }}</a></td>
                <td>{{ svIpatVictima.nombresVictima }}</td>
                <td>{{ svIpatVictima.apellidosVictima }}</td>
                <td>{{ svIpatVictima.tipoIdentificacionVictima }}</td>
                <td>{{ svIpatVictima.identificacionVictima }}</td>
                <td>{{ svIpatVictima.nacionalidadVictima }}</td>
                <td>{% if svIpatVictima.fechaNacimientoVictima %}{{ svIpatVictima.fechaNacimientoVictima|date('Y-m-d') }}{% endif %}</td>
                <td>{{ svIpatVictima.edadVictima }}</td>
                <td>{{ svIpatVictima.sexoVictima }}</td>
                <td>{{ svIpatVictima.direccionResidenciaVictima }}</td>
                <td>{{ svIpatVictima.ciudadResidenciaVictima }}</td>
                <td>{{ svIpatVictima.telefonoVictima }}</td>
                <td>{{ svIpatVictima.placaVehiculoVictima }}</td>
                <td>{% if svIpatVictima.practicoExamenVictima %}Yes{% else %}No{% endif %}</td>
                <td>{% if svIpatVictima.autorizoVictima %}Yes{% else %}No{% endif %}</td>
                <td>{% if svIpatVictima.sustanciasPsicoactivasVictima %}Yes{% else %}No{% endif %}</td>
                <td>{% if svIpatVictima.chalecoVictima %}Yes{% else %}No{% endif %}</td>
                <td>{% if svIpatVictima.cascoVictima %}Yes{% else %}No{% endif %}</td>
                <td>{% if svIpatVictima.cinturonVictima %}Yes{% else %}No{% endif %}</td>
                <td>{{ svIpatVictima.descripcionLesionVictima }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('svipatvictima_show', { 'id': svIpatVictima.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
