{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svipatvictima</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ svIpatVictima.id }}</td>
            </tr>
            <tr>
                <th>Nombresvictima</th>
                <td>{{ svIpatVictima.nombresVictima }}</td>
            </tr>
            <tr>
                <th>Apellidosvictima</th>
                <td>{{ svIpatVictima.apellidosVictima }}</td>
            </tr>
            <tr>
                <th>Tipoidentificacionvictima</th>
                <td>{{ svIpatVictima.tipoIdentificacionVictima }}</td>
            </tr>
            <tr>
                <th>Identificacionvictima</th>
                <td>{{ svIpatVictima.identificacionVictima }}</td>
            </tr>
            <tr>
                <th>Nacionalidadvictima</th>
                <td>{{ svIpatVictima.nacionalidadVictima }}</td>
            </tr>
            <tr>
                <th>Fechanacimientovictima</th>
                <td>{% if svIpatVictima.fechaNacimientoVictima %}{{ svIpatVictima.fechaNacimientoVictima|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Edadvictima</th>
                <td>{{ svIpatVictima.edadVictima }}</td>
            </tr>
            <tr>
                <th>Sexovictima</th>
                <td>{{ svIpatVictima.sexoVictima }}</td>
            </tr>
            <tr>
                <th>Direccionresidenciavictima</th>
                <td>{{ svIpatVictima.direccionResidenciaVictima }}</td>
            </tr>
            <tr>
                <th>Ciudadresidenciavictima</th>
                <td>{{ svIpatVictima.ciudadResidenciaVictima }}</td>
            </tr>
            <tr>
                <th>Telefonovictima</th>
                <td>{{ svIpatVictima.telefonoVictima }}</td>
            </tr>
            <tr>
                <th>Placavehiculovictima</th>
                <td>{{ svIpatVictima.placaVehiculoVictima }}</td>
            </tr>
            <tr>
                <th>Practicoexamenvictima</th>
                <td>{% if svIpatVictima.practicoExamenVictima %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Autorizovictima</th>
                <td>{% if svIpatVictima.autorizoVictima %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Sustanciaspsicoactivasvictima</th>
                <td>{% if svIpatVictima.sustanciasPsicoactivasVictima %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Chalecovictima</th>
                <td>{% if svIpatVictima.chalecoVictima %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Cascovictima</th>
                <td>{% if svIpatVictima.cascoVictima %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Cinturonvictima</th>
                <td>{% if svIpatVictima.cinturonVictima %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Descripcionlesionvictima</th>
                <td>{{ svIpatVictima.descripcionLesionVictima }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svipatvictima_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
