{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhloacreedors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Activo</th>
                <th>Gradoalerta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloAcreedor in vhloAcreedors %}
            <tr>
                <td><a href="{{ path('vhloacreedor_show', { 'id': vhloAcreedor.id }) }}">{{ vhloAcreedor.id }}</a></td>
                <td>{% if vhloAcreedor.activo %}Yes{% else %}No{% endif %}</td>
                <td>{{ vhloAcreedor.gradoAlerta }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhloacreedor_show', { 'id': vhloAcreedor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhloacreedor_edit', { 'id': vhloAcreedor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhloacreedor_new') }}">Create a new vhloAcreedor</a>
        </li>
    </ul>
{% endblock %}
