{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pnalcfgcargos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Gestionable</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pnalCfgCargo in pnalCfgCargos %}
            <tr>
                <td><a href="{{ path('pnalcfgcargo_show', { 'id': pnalCfgCargo.id }) }}">{{ pnalCfgCargo.id }}</a></td>
                <td>{{ pnalCfgCargo.nombre }}</td>
                <td>{% if pnalCfgCargo.gestionable %}Yes{% else %}No{% endif %}</td>
                <td>{% if pnalCfgCargo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pnalcfgcargo_show', { 'id': pnalCfgCargo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pnalcfgcargo_edit', { 'id': pnalCfgCargo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pnalcfgcargo_new') }}">Create a new pnalCfgCargo</a>
        </li>
    </ul>
{% endblock %}
