{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svsenialinventariomunicipios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Consecutivo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for svSenialInventarioMunicipio in svSenialInventarioMunicipios %}
            <tr>
                <td><a href="{{ path('svsenialinventariomunicipio_show', { 'id': svSenialInventarioMunicipio.id }) }}">{{ svSenialInventarioMunicipio.id }}</a></td>
                <td>{% if svSenialInventarioMunicipio.fecha %}{{ svSenialInventarioMunicipio.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ svSenialInventarioMunicipio.consecutivo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('svsenialinventariomunicipio_show', { 'id': svSenialInventarioMunicipio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('svsenialinventariomunicipio_edit', { 'id': svSenialInventarioMunicipio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svsenialinventariomunicipio_new') }}">Create a new svSenialInventarioMunicipio</a>
        </li>
    </ul>
{% endblock %}
