{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svsenialdemarcacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>Metraje</th>
                <th>Ancholinea</th>
                <th>Total</th>
                <th>Tramovial</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for svSenialDemarcacion in svSenialDemarcacions %}
            <tr>
                <td><a href="{{ path('svsenialdemarcacion_show', { 'id': svSenialDemarcacion.id }) }}">{{ svSenialDemarcacion.id }}</a></td>
                <td>{{ svSenialDemarcacion.cantidad }}</td>
                <td>{{ svSenialDemarcacion.metraje }}</td>
                <td>{{ svSenialDemarcacion.anchoLinea }}</td>
                <td>{{ svSenialDemarcacion.total }}</td>
                <td>{{ svSenialDemarcacion.tramoVial }}</td>
                <td>{% if svSenialDemarcacion.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('svsenialdemarcacion_show', { 'id': svSenialDemarcacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('svsenialdemarcacion_edit', { 'id': svSenialDemarcacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svsenialdemarcacion_new') }}">Create a new svSenialDemarcacion</a>
        </li>
    </ul>
{% endblock %}
