{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgtipoprocesos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgTipoProceso in cfgTipoProcesos %}
            <tr>
                <td><a href="{{ path('cfgtipoproceso_show', { 'id': cfgTipoProceso.id }) }}">{{ cfgTipoProceso.id }}</a></td>
                <td>{{ cfgTipoProceso.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgtipoproceso_show', { 'id': cfgTipoProceso.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgtipoproceso_edit', { 'id': cfgTipoProceso.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgtipoproceso_new') }}">Create a new cfgTipoProceso</a>
        </li>
    </ul>
{% endblock %}
