{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgcarrocerias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgCarrocerium in vhloCfgCarrocerias %}
            <tr>
                <td><a href="{{ path('vhlocfgcarroceria_show', { 'id': vhloCfgCarrocerium.id }) }}">{{ vhloCfgCarrocerium.id }}</a></td>
                <td>{{ vhloCfgCarrocerium.nombre }}</td>
                <td>{{ vhloCfgCarrocerium.codigo }}</td>
                <td>{% if vhloCfgCarrocerium.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfgcarroceria_show', { 'id': vhloCfgCarrocerium.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
