{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgorigenregistros list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgOrigenRegistro in cfgOrigenRegistros %}
            <tr>
                <td><a href="{{ path('cfgorigenregistro_show', { 'id': cfgOrigenRegistro.id }) }}">{{ cfgOrigenRegistro.id }}</a></td>
                <td>{{ cfgOrigenRegistro.nombre }}</td>
                <td>{{ cfgOrigenRegistro.estado }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgorigenregistro_show', { 'id': cfgOrigenRegistro.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgorigenregistro_edit', { 'id': cfgOrigenRegistro.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgorigenregistro_new') }}">Create a new cfgOrigenRegistro</a>
        </li>
    </ul>
{% endblock %}
