{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgorigenregistro</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cfgOrigenRegistro.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cfgOrigenRegistro.nombre }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ cfgOrigenRegistro.estado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgorigenregistro_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cfgorigenregistro_edit', { 'id': cfgOrigenRegistro.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
