<html>
  <header>
    <style type="text/css">
        .separator{
            margin-top: 5px;
        }
        .table td{
            max-height: 15px;
            padding: 2px;
        }
    </style>
  </header>
  <body style="font-size:12px">
    <p class="text-justify">
    	San Juan de Pasto, {{ fechaActual }}.
    	<br>
    	<br>
    	<br>
    </p>
    <h2 style="text-align:center;">
        <b>SUBSECRETARIA DE TRANSITO Y TRANSPORTE DEPARTAMENTAL DE NARIÑO</b>    
    </h2>

    <p style="font-size:11px;">Vehículo con número de placa: <b>{{ vehiculo.placa.numero }}, </b> {% if vehiculo.clase  %}<b>Clase: </b> {{ vehiculo.clase.nombre }}, {% endif  %}
    <b>Marca: </b> {{ vehiculo.linea.marca.nombre }},
    <b>Linea: </b>{{ vehiculo.linea.nombre }},
    <b>No.serie: </b> {{ vehiculo.serie }},
    <b>No.Chasis: </b> {{ vehiculo.chasis }},
    <b>Carrocería: </b> {{ vehiculo.carroceria.nombre }}.
    <b>Cilindraje: </b> {{ vehiculo.cilindraje }},
    <b>Pasajeros: </b> {{ vehiculo.numeroPasajeros }},
    {% if vehiculo.color  %}<b>Color: </b> {{ vehiculo.color.nombre }}, {% endif  %}            
    {% if vehiculo.servicio  %}<b>Servicio: </b> {{ vehiculo.servicio.nombre }}, 
    {% endif  %} <b>Modelo: <b> {{ vehiculo.modelo }}, <b>No.motor: <b> {{ vehiculo.motor }}
    </p>

 
    <div class="separator"></div>
    {% if propietarios and propietarios|length > 0 %}
    <table border="1" cellpadding="3" style="font-size:11px;">
        <tr>
            <th colspan="3" align="center">
                <b>PROPIETARIOS</b>
            </th>
        </tr>
        <tr align="center">
            <td><b>Identificacion</b></td>
            <td><b>Apellidos y apellidos</b></td>
            <td><b>Direccion</b></td>
        </tr>
        {% for propietario in propietarios %}
            {% if propietario.ciudadano %}
                <tr>
                    <td>{{ propietario.ciudadano.identificacion }}</td>
                    <td>
                        {{ propietario.ciudadano.primerNombre }} {{ propietario.ciudadano.segundoNombre }} {{ propietario.ciudadano.primerApellido }} {{ propietario.ciudadano.segundoApellido }}
                    </td>
                    <td>
                        {{ propietario.ciudadano.direccionPersonal }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% endif %}
    <div class="separator"></div>
    <table border="1" cellpadding="3">
        <tr>
            <th colspan="3" align="center">
                <b>TRÁMITES</b>
            </th>
        </tr>
        <tr align="center">
            <td width="15%"><b>Fecha</b></td>
            <td width="40%"><b>Nombre Tramite</b></td>
            <td width="45%"><b>Datos</b></td>
        </tr>
        {% for key, tramiteSolicitud in tramitesSolicitud %}
            <tr style="font-size:11px">
                <td>{{ tramiteSolicitud.fecha|date('d/m/Y') }}</td>
                <td>{{ tramiteSolicitud.tramiteFactura.precio.tramite.nombre }}</td>
                <td>{% if tramiteSolicitud.resumen %}
                        {{ tramiteSolicitud.resumen }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <h3>Observaciones</h3>
        {{ observaciones }}
    </p>

    {% if limitaciones and limitaciones|length > 0 %}
    <table border="1" cellpadding="3" style="font-size: 10px;">
        <tr>
            <th colspan="5" align="center">
                <b>LIMITACIONES</b>
            </th>
        </tr>
        <tr align="center">
            <td><b>Entidad judicial</b></td>
            <td><b>Municipio</b></td>
            <td><b>Detalles</b></td>
            <td><b>Demandante</b></td>
            <td><b>Demandado</b></td>
        </tr>
        {% for limitacion in limitaciones %}
            <tr>
                <td>
                    {{ limitacion.entidadJudicial.nombre }}
                </td>
                <td>
                    {{ limitacion.municipio.nombre }}
                </td>
                <td>
                    <b>Tipo:</b> {{ limitacion.tipo.nombre }}, <b>Causal: </b> {{ limitacion.causal.nombre }}, <b>Tipo: </b> {{ limitacion.tipoProceso.nombre }}
                </td>
                <td>
                    {{ limitacion.demandante.primerNombre }} {{ limitacion.demandante.segundoNombre }} {{ limitacion.demandante.primerApellido }} {{ limitacion.demandante.segundoApellido }}
                    <br>
                    {{ limitacion.demandante.identificacion }}
                </td>
                <td>
                    {{ limitacion.demandado.primerNombre }} {{ limitacion.demandado.segundoNombre }} {{ limitacion.demandado.primerApellido }} {{ limitacion.demandado.segundoApellido }}
                    <br>
                    {{ limitacion.demandado.identificacion }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
  </body>
</html>