<html>
  <header>
    <style type="text/css">
        .separator{
            border-top: 1px dashed #cccccc;
        }

        .table-comparendos td{
            max-height: 15px;
            padding: 2px;
        }
    </style>
  </header>
  <body style="font-size:8px">
    {% for key, i in 0..2 %}
        <table style="border:none;">
            <tr>
                <td>
                    <img src="{{ asset('img/logo-entidad.png') }}" height="40px" />
                </td>
                <td>
                    <img src="{{ asset('img/logo-banco.png') }}" height="40px" />
                </td>
                <td style="text-align:right;">
                    <span style="border:1px solid #000;text-align:center;background-color: #ccc;padding:5px;font-size:20px">
                        <b>{{ factura.numero }}</b>
                    </span>
                </td>
            </tr>
        </table>
        <p style="text-align:right"><b>{{ fechaActual }}</b></p>
        <table style="padding:2px;margin-bottom:10px;border:1px solid #cccccc;width:50%">
            <tr>
                <td><b>Ciudad:</b><br>  {{ factura.organismoTransito.municipio }}</td> 
                <td><b>Fec. Creación:</b><br> {{ factura.fechaCreacion|date('d/m/Y') }}</td>
                <td><b>Fec. Vencimiento:</b><br> {{ factura.fechaVencimiento|date('d/m/Y') }}</td>
            </tr>
        </table>
        <br>
        <br>
        {% if comparendos %}
            <table style="background-color:#e7e7e7;width:100%">
                <tr>
                    <td colspan="7" style="background-color:#ffffff;border:1px solid #cccccc;text-align:center;">COMPARENDOS</td>
                </tr>
                <tr>
                    <td style="border:1px solid #cccccc"><b>Infractor</b></td>
                    <td style="border:1px solid #cccccc"><b>Número</b></td>
                    <td style="border:1px solid #cccccc"><b>Fecha</b></td>
                    <td style="border:1px solid #cccccc"><b>Cod. Infracción</b></td>
                    <td style="border:1px solid #cccccc"><b>Valor</b></td>
                    <td style="border:1px solid #cccccc"><b>Interes</b></td>
                    <td style="border:1px solid #cccccc"><b>Descto.</b></td>
                    <td style="border:1px solid #cccccc"><b>Placa</b></td>
                </tr>
                {% set total = 0 %}
                {% for key, facturaComparendo in comparendos %}
                    {% set total = total + facturaComparendo.comparendo.valorPagar %}
                <tr>
                    <td style="border:1px solid #cccccc">{{ facturaComparendo.comparendo.infractorNombres }} {{ facturaComparendo.comparendo.infractorApellidos }}<br>{{ facturaComparendo.comparendo.infractorIdentificacion }}</td>
                    <td style="border:1px solid #cccccc">{{ facturaComparendo.comparendo.consecutivo.numero }}</td>
                    <td style="border:1px solid #cccccc">{{ facturaComparendo.comparendo.fecha }}</td>
                    <td style="border:1px solid #cccccc">{{ facturaComparendo.comparendo.infraccion.codigo }}</td>
                    <td style="border:1px solid #cccccc">$ {{ facturaComparendo.comparendo.valorInfraccion|number_format(0, ',', '.') }}</td>
                    <td style="border:1px solid #cccccc">$ {{ facturaComparendo.comparendo.interesMora|number_format(0, ',', '.') }}</td>
                    <td style="border:1px solid #cccccc">{{ facturaComparendo.comparendo.porcentajeDescuento }} %</td>
                    <td style="border:1px solid #cccccc">{{ facturaComparendo.comparendo.placa }}</td>
                </tr>
                {% endfor %}
                <tr style="background-color:#ffffff">
                    <td colspan="6" style="border:1px solid #cccccc;text-align:right;"><b>TOTAL A PAGAR</b></td>
                    <td style="border:1px solid #cccccc">$ {{ total|number_format(0, ',', '.') }}</td>
                </tr>
            </table>
        {% endif %}
        <br>
            <img src="data:image/png;base64,{{ imgBarcode }}" height="40px" />
        {% if key < 2 %}
        <br>
        <div class="separator"></div>
        {% endif %}
    {% endfor %}
  </body>
</html>