<html>
  <header>
    <style type="text/css">
        .separator{
            border-top: 1px dashed #cccccc;
        }
    </style>
  </header>
  <body style="font-size:8px">
    {% for key, i in 0..2 %}
        <table style="border:none;">
            <tr>
                <td>
                    <img src="{{ asset('img/logo-entidad.png') }}" height="40px" />
                </td>
                <td>
                    <img src="{{ asset('img/logo-banco.png') }}" height="40px" />
                </td>
                <td style="text-align:right;">
                    <span style="border:1px solid #000;text-align:center;background-color: #ccc;padding:5px;font-size:20px">
                        <b>{{ factura.numero }}</b>
                    </span>
                </td>
            </tr>
        </table>
        <table style="padding:2px;margin-bottom:10px;border:1px solid #cccccc;width:100%">
            <tr>
                <td><b>Ciudad:</b><br>  {{ factura.organismoTransito.municipio }}</td> 
                <td><b>Fec. Creación:</b><br> {{ factura.fechaCreacion|date('d/m/Y') }}</td>
                <td><b>Fec. Vencimiento:</b><br> {{ factura.fechaVencimiento|date('d/m/Y') }}</td>
                <td><b>Solicitante:</b><br>  {{ factura.solicitante.primerNombre }} {{ factura.solicitante.primerApellido }}</td> 
                <td><b>Identificación:</b><br> {{ factura.solicitante.identificacion }}</td>
                <td><b>Placa:</b><br> {{ factura.placa }}</td>
            </tr>
        </table>
        <br>
        <br>
        {% set total = factura.valorNeto %}
        {% if tramites %}
            <table style="background-color:#e7e7e7;width:100%">
                <tr>
                    <td colspan="2" style="background-color:#ffffff;border:1px solid #cccccc;text-align:center;">TRÁMITES</td>
                </tr>
                <tr>
                    <td style="border:1px solid #cccccc"><b>Nombre</b></td>
                    <td style="border:1px solid #cccccc"><b>Valor</b></td>
                </tr>
                {% for facturaTramite in tramites %}
                <tr>
                    <td style="border:1px solid #cccccc">{{ facturaTramite.precio.tramite.nombre }}</td>
                    <td style="border:1px solid #cccccc">$ {{ facturaTramite.precio.valorTotal|number_format(0, ',', '.') }}</td>
                </tr>
                {% endfor %}
                {% if retenciones and retenciones > 0 %}
                    <tr>
                        <td style="border:1px solid #cccccc">RETENCIONES</td>
                        <td style="border:1px solid #cccccc">$ {{ retenciones|number_format(0, ',', '.') }}</td>
                    </tr>
                    {% set total = total + retenciones %}
                {% endif %}
                <tr style="background-color:#ffffff">
                    <td style="border:1px solid #cccccc;text-align:right;"><b>TOTAL A PAGAR</b></td>
                    <td style="border:1px solid #cccccc">$ {{ total|number_format(0, ',', '.') }}</td>
                </tr>
            </table>
        {% endif %}
        <br>
        <table cellpadding="20px">
            <tr>
                <td>
                    <img src="data:image/png;charset=utf-8;base64,{{ imgBarcode }}" height="40px" />
                </td>
            </tr>
        </table>
        {% if key < 2 %}
        <br>
        <div class="separator"></div>
        {% endif %}
    {% endfor %}
  </body>
</html>