<html>
  <header>
    <style type="text/css">
        .separator{
            border-top: 1px dashed #cccccc;
        }

        .table-comparendos td{
            max-height: 15px;
            padding: 2px;
        }
    </style>
  </header>
  <body style="font-size:8px">
    {% for key, i in 0..2 %}
        <table style="border:none;">
            <tr>
                <td>
                    <img src="{{ asset('img/logo-entidad.png') }}" height="40px" />
                </td>
                <td>
                    <img src="{{ asset('img/logo-banco.png') }}" height="40px" />
                </td>
                <td style="text-align:right;">
                    <span style="border:1px solid #000;text-align:center;background-color: #ccc;padding:5px;font-size:20px">
                        <b>{{ factura.numero }}</b>
                    </span>
                </td>
            </tr>
        </table>
        <table style="padding:2px;margin-bottom:10px;border:1px solid #cccccc;width:100%">
            <tr>
                <td><b>Ciudad:</b><br>  {% if factura.organismoTransito %}{{ factura.organismoTransito.municipio }}{% endif %}</td> 
                <td><b>Fec. Creación:</b><br> {{ factura.fechaCreacion|date('d/m/Y') }}</td>
                <td><b>Fec. Vencimiento:</b><br> {{ factura.fechaVencimiento|date('d/m/Y') }}</td>
                <td><b>Fec. Impresión:</b><br> {{ 'now'|date('d/m/Y') }}</td>
                <td><b>Placa:</b><br></td>
            </tr>
        </table>
        <br>
        <br>
        {% if amortizacion %}
            <table style="background-color:#e7e7e7;width:100%">
                <tr>
                    <td style="border:1px solid #cccccc"><b>No. cuota</b></td>
                    <td style="border:1px solid #cccccc"><b>Valor bruto</b></td>
                    <td style="border:1px solid #cccccc"><b>Valor mora</b></td>
                    <td style="border:1px solid #cccccc"><b>Valor neto</b></td>
                </tr>
                <tr>
                    <td>{{ amortizacion.numeroCuota }}</td>
                    <td>{{ amortizacion.valorBruto|number_format(0, ',', '.') }}</td>
                    <td>{{ amortizacion.valorMora|number_format(0, ',', '.') }}</td>
                    <td>{{ amortizacion.valorNeto|number_format(0, ',', '.') }}</td>
                </tr>
                <tr style="background-color:#ffffff">
                    <td colspan="3" style="border:1px solid #cccccc;text-align:right;"><b>TOTAL A PAGAR</b></td>
                    <td style="border:1px solid #cccccc">$ {{ amortizacion.valorNeto|number_format(0, ',', '.') }}</td>
                </tr>
            </table>
        {% endif %}
        <br>
        <p style="text-align:right;">
            <img src="{{ path }}"/>
        </p>
        {% if key < 2 %}
        <br>
        <div class="separator"></div>
        {% endif %}
    {% endfor %}
  </body>
</html>