{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userciudadanos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Direccion</th>
                <th>Fechaexpediciondocumento</th>
                <th>Direcciontrabajo</th>
                <th>Enrolado</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userCiudadano in userCiudadanos %}
            <tr>
                <td><a href="{{ path('userciudadano_show', { 'id': userCiudadano.id }) }}">{{ userCiudadano.id }}</a></td>
                <td>{{ userCiudadano.direccion }}</td>
                <td>{% if userCiudadano.fechaExpedicionDocumento %}{{ userCiudadano.fechaExpedicionDocumento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ userCiudadano.direccionTrabajo }}</td>
                <td>{% if userCiudadano.enrolado %}Yes{% else %}No{% endif %}</td>
                <td>{% if userCiudadano.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('userciudadano_show', { 'id': userCiudadano.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('userciudadano_edit', { 'id': userCiudadano.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userciudadano_new') }}">Create a new userCiudadano</a>
        </li>
    </ul>
{% endblock %}
