{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userciudadano</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userCiudadano.id }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ userCiudadano.direccion }}</td>
            </tr>
            <tr>
                <th>Fechaexpediciondocumento</th>
                <td>{% if userCiudadano.fechaExpedicionDocumento %}{{ userCiudadano.fechaExpedicionDocumento|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Direcciontrabajo</th>
                <td>{{ userCiudadano.direccionTrabajo }}</td>
            </tr>
            <tr>
                <th>Enrolado</th>
                <td>{% if userCiudadano.enrolado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if userCiudadano.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userciudadano_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('userciudadano_edit', { 'id': userCiudadano.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
