{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agentetransito</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agenteTransito.id }}</td>
            </tr>
            <tr>
                <th>Placa</th>
                <td>{{ agenteTransito.placa }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if agenteTransito.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('agentetransito_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('agentetransito_edit', { 'id': agenteTransito.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
