{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gdremitente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gdRemitente.id }}</td>
            </tr>
            <tr>
                <th>Primernombre</th>
                <td>{{ gdRemitente.primerNombre }}</td>
            </tr>
            <tr>
                <th>Segundonombre</th>
                <td>{{ gdRemitente.segundoNombre }}</td>
            </tr>
            <tr>
                <th>Primerapellido</th>
                <td>{{ gdRemitente.primerApellido }}</td>
            </tr>
            <tr>
                <th>Segundoapellido</th>
                <td>{{ gdRemitente.segundoApellido }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ gdRemitente.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ gdRemitente.telefono }}</td>
            </tr>
            <tr>
                <th>Identificacion</th>
                <td>{{ gdRemitente.identificacion }}</td>
            </tr>
            <tr>
                <th>Correoelectronico</th>
                <td>{{ gdRemitente.correoElectronico }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if gdRemitente.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gdremitente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('gdremitente_edit', { 'id': gdRemitente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
