{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svipatimpresoasignacion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ svIpatImpresoAsignacion.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if svIpatImpresoAsignacion.fecha %}{{ svIpatImpresoAsignacion.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ svIpatImpresoAsignacion.cantidad }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if svIpatImpresoAsignacion.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svipatimpresoasignacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('svipatimpresoasignacion_edit', { 'id': svIpatImpresoAsignacion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
