{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvcdocfgestados list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Sigla</th>
                <th>Simit</th>
                <th>Dias</th>
                <th>Habiles</th>
                <th>Actualiza</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cvCdoCfgEstado in cvCdoCfgEstados %}
            <tr>
                <td><a href="{{ path('cvcdocfgestado_show', { 'id': cvCdoCfgEstado.id }) }}">{{ cvCdoCfgEstado.id }}</a></td>
                <td>{{ cvCdoCfgEstado.nombre }}</td>
                <td>{{ cvCdoCfgEstado.sigla }}</td>
                <td>{% if cvCdoCfgEstado.simit %}Yes{% else %}No{% endif %}</td>
                <td>{{ cvCdoCfgEstado.dias }}</td>
                <td>{% if cvCdoCfgEstado.habiles %}Yes{% else %}No{% endif %}</td>
                <td>{% if cvCdoCfgEstado.actualiza %}Yes{% else %}No{% endif %}</td>
                <td>{% if cvCdoCfgEstado.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cvcdocfgestado_show', { 'id': cvCdoCfgEstado.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cvcdocfgestado_edit', { 'id': cvCdoCfgEstado.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvcdocfgestado_new') }}">Create a new cvCdoCfgEstado</a>
        </li>
    </ul>
{% endblock %}
