{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvcdocfgestado</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cvCdoCfgEstado.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cvCdoCfgEstado.nombre }}</td>
            </tr>
            <tr>
                <th>Sigla</th>
                <td>{{ cvCdoCfgEstado.sigla }}</td>
            </tr>
            <tr>
                <th>Simit</th>
                <td>{% if cvCdoCfgEstado.simit %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Dias</th>
                <td>{{ cvCdoCfgEstado.dias }}</td>
            </tr>
            <tr>
                <th>Habiles</th>
                <td>{% if cvCdoCfgEstado.habiles %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Actualiza</th>
                <td>{% if cvCdoCfgEstado.actualiza %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if cvCdoCfgEstado.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvcdocfgestado_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cvcdocfgestado_edit', { 'id': cvCdoCfgEstado.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
