<html>
  <header>
  </header>
  <body>
    <p class="text-justify">
        San Juan de Pasto, {{ fechaActual }}.
        <br>
        <br>
        <br>
    </p>
    <h2 style="text-align:center;">
        <b>SUBSECRETARIA DE TRANSITO Y TRANSPORTE DEPARTAMENTAL DE NARIÑO</b>    
    </h2>

    <p style="font-size:11px;">Vehículo con número de placa: <b>{{ vehiculo.placa.numero }}, </b> {% if vehiculo.clase  %}<b>Clase: </b> {{ vehiculo.clase.nombre }}, {% endif  %}
    <b>Marca: </b> {{ vehiculo.linea.marca.nombre }},
    <b>Linea: </b>{{ vehiculo.linea.nombre }},
    <b>Carrocería: </b> {{ vehiculo.carroceria.nombre }},
    <b>No.serie: </b> {{ vehiculo.serie }},
    <b>No.Chasis: </b> {{ vehiculo.chasis }},
    <b>Cilindraje: </b> {{ vehiculo.cilindraje }},
    <b>Pasajeros: </b> {{ vehiculo.numeroPasajeros }},
    {% if vehiculo.color  %}<b>Color: </b> {{ vehiculo.color.nombre }}, {% endif  %}            
    {% if vehiculo.servicio  %}<b>Servicio: </b> {{ vehiculo.servicio.nombre }}, 
    {% endif  %} <b>Modelo: <b> {{ vehiculo.modelo }}, <b>No.motor: <b> {{ vehiculo.motor }}
    </p>

    <p style="text-align:center;">
        <b>Propietarios</b>   
    </p>

    {% if identificaciones|length > 0 %}
    <table border="1" cellpadding="3" style="font-size:11px;">
        <tr>
            <td  width="15%">Identificacion</td>
            <td width="30%">Nombres</td>
            <td width="30%">Apellidos</td>
            <td width="25%">Direccion</td>
        </tr>
        {% for identificacion in identificaciones %}
            <tr>
                <td>{{ identificacion[0] }}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <br>
            
            <p style="text-align:center;"> 
                <b>Tramites</b>
                <br>      
            </p>

            <table border="1" cellpadding="3" style="font-size:11px;">
                <tr>
                    <td>Fecha</td>
                    <td>Nombre Tramite</td>
                    <td>datos</td>
                </tr>
            </table>
        {% endfor %}
    </table>
    {% endif %}

    <br>
    <br>
    <br>
    <p style="text-align: center;">
        Generó
        <br>
        <b>{{ funcionario.ciudadano.primerNombre }} {{ funcionario.ciudadano.primerApellido }}</b>
        <br>
        {{ funcionario.cargo.nombre }}
        <br>
        {{ funcionario.organismoTransito.nombre }}
    </p>
  </body>
</html>