{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mgdtipocorrespondencias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Diasvigencia</th>
                <th>Editable</th>
                <th>Prohibicion</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mgdTipoCorrespondencium in mgdTipoCorrespondencias %}
            <tr>
                <td><a href="{{ path('mgdtipocorrespondencia_show', { 'id': mgdTipoCorrespondencium.id }) }}">{{ mgdTipoCorrespondencium.id }}</a></td>
                <td>{{ mgdTipoCorrespondencium.nombre }}</td>
                <td>{{ mgdTipoCorrespondencium.diasVigencia }}</td>
                <td>{% if mgdTipoCorrespondencium.editable %}Yes{% else %}No{% endif %}</td>
                <td>{% if mgdTipoCorrespondencium.prohibicion %}Yes{% else %}No{% endif %}</td>
                <td>{% if mgdTipoCorrespondencium.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mgdtipocorrespondencia_show', { 'id': mgdTipoCorrespondencium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mgdtipocorrespondencia_edit', { 'id': mgdTipoCorrespondencium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mgdtipocorrespondencia_new') }}">Create a new mgdTipoCorrespondencium</a>
        </li>
    </ul>
{% endblock %}
