{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgtiporodajes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgTipoRodaje in vhloCfgTipoRodajes %}
            <tr>
                <td><a href="{{ path('vhlocfgtiporodaje_show', { 'id': vhloCfgTipoRodaje.id }) }}">{{ vhloCfgTipoRodaje.id }}</a></td>
                <td>{{ vhloCfgTipoRodaje.nombre }}</td>
                <td>{% if vhloCfgTipoRodaje.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfgtiporodaje_show', { 'id': vhloCfgTipoRodaje.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlocfgtiporodaje_edit', { 'id': vhloCfgTipoRodaje.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfgtiporodaje_new') }}">Create a new vhloCfgTipoRodaje</a>
        </li>
    </ul>
{% endblock %}
