{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgservicios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgServicio in vhloCfgServicios %}
            <tr>
                <td><a href="{{ path('vhlocfgservicio_show', { 'id': vhloCfgServicio.id }) }}">{{ vhloCfgServicio.id }}</a></td>
                <td>{{ vhloCfgServicio.nombre }}</td>
                <td>{{ vhloCfgServicio.codigo }}</td>
                <td>{% if vhloCfgServicio.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfgservicio_show', { 'id': vhloCfgServicio.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
