{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgmarcas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgMarca in vhloCfgMarcas %}
            <tr>
                <td><a href="{{ path('vhlocfgmarca_show', { 'id': vhloCfgMarca.id }) }}">{{ vhloCfgMarca.id }}</a></td>
                <td>{{ vhloCfgMarca.nombre }}</td>
                <td>{{ vhloCfgMarca.codigo }}</td>
                <td>{% if vhloCfgMarca.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfgmarca_show', { 'id': vhloCfgMarca.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlocfgmarca_edit', { 'id': vhloCfgMarca.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfgmarca_new') }}">Create a new vhloCfgMarca</a>
        </li>
    </ul>
{% endblock %}
