{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bpordenpagos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Numero</th>
                <th>Tipo</th>
                <th>Concepto</th>
                <th>Valor</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bpOrdenPago in bpOrdenPagos %}
            <tr>
                <td><a href="{{ path('bpordenpago_show', { 'id': bpOrdenPago.id }) }}">{{ bpOrdenPago.id }}</a></td>
                <td>{% if bpOrdenPago.fecha %}{{ bpOrdenPago.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ bpOrdenPago.numero }}</td>
                <td>{{ bpOrdenPago.tipo }}</td>
                <td>{{ bpOrdenPago.concepto }}</td>
                <td>{{ bpOrdenPago.valor }}</td>
                <td>{% if bpOrdenPago.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bpordenpago_show', { 'id': bpOrdenPago.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bpordenpago_edit', { 'id': bpOrdenPago.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bpordenpago_new') }}">Create a new bpOrdenPago</a>
        </li>
    </ul>
{% endblock %}
