{% extends 'base.html.twig' %}

{% block body %}
    <h1>Msvtconsecutivos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Consecutivo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for msvTConsecutivo in msvTConsecutivos %}
            <tr>
                <td><a href="{{ path('msvtconsecutivo_show', { 'id': msvTConsecutivo.id }) }}">{{ msvTConsecutivo.id }}</a></td>
                <td>{{ msvTConsecutivo.consecutivo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('msvtconsecutivo_show', { 'id': msvTConsecutivo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('msvtconsecutivo_edit', { 'id': msvTConsecutivo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('msvtconsecutivo_new') }}">Create a new msvTConsecutivo</a>
        </li>
    </ul>
{% endblock %}
