{% extends 'base.html.twig' %}

{% block body %}
    <h1>Msvtcasignacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Fechaasignacion</th>
                <th>Rangos</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for msvTCAsignacion in msvTCAsignacions %}
            <tr>
                <td><a href="{{ path('msvtcasignacion_show', { 'id': msvTCAsignacion.id }) }}">{{ msvTCAsignacion.id }}</a></td>
                <td>{{ msvTCAsignacion.desde }}</td>
                <td>{{ msvTCAsignacion.hasta }}</td>
                <td>{% if msvTCAsignacion.fechaAsignacion %}{{ msvTCAsignacion.fechaAsignacion|date('Y-m-d') }}{% endif %}</td>
                <td>{{ msvTCAsignacion.rangos }}</td>
                <td>{% if msvTCAsignacion.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('msvtcasignacion_show', { 'id': msvTCAsignacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('msvtcasignacion_edit', { 'id': msvTCAsignacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('msvtcasignacion_new') }}">Create a new msvTCAsignacion</a>
        </li>
    </ul>
{% endblock %}
