{% extends 'base.html.twig' %}

{% block body %}
    <h1>Froinfrcfgcategorias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Smldv</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for froInfrCfgCategorium in froInfrCfgCategorias %}
            <tr>
                <td><a href="{{ path('froinfrcfgcategoria_show', { 'id': froInfrCfgCategorium.id }) }}">{{ froInfrCfgCategorium.id }}</a></td>
                <td>{{ froInfrCfgCategorium.nombre }}</td>
                <td>{{ froInfrCfgCategorium.descripcion }}</td>
                <td>{{ froInfrCfgCategorium.smldv }}</td>
                <td>{% if froInfrCfgCategorium.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('froinfrcfgcategoria_show', { 'id': froInfrCfgCategorium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('froinfrcfgcategoria_edit', { 'id': froInfrCfgCategorium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('froinfrcfgcategoria_new') }}">Create a new froInfrCfgCategorium</a>
        </li>
    </ul>
{% endblock %}
