{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svcfgsenialproveedor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ svCfgSenialProveedor.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ svCfgSenialProveedor.nombre }}</td>
            </tr>
            <tr>
                <th>Nit</th>
                <td>{{ svCfgSenialProveedor.nit }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svcfgsenialproveedor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('svcfgsenialproveedor_edit', { 'id': svCfgSenialProveedor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
