{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imotrazabilidads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Activo</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imoTrazabilidad in imoTrazabilidads %}
            <tr>
                <td><a href="{{ path('imotrazabilidad_show', { 'id': imoTrazabilidad.id }) }}">{{ imoTrazabilidad.id }}</a></td>
                <td>{% if imoTrazabilidad.fecha %}{{ imoTrazabilidad.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ imoTrazabilidad.estado }}</td>
                <td>{% if imoTrazabilidad.activo %}Yes{% else %}No{% endif %}</td>
                <td>{{ imoTrazabilidad.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('imotrazabilidad_show', { 'id': imoTrazabilidad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('imotrazabilidad_edit', { 'id': imoTrazabilidad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imotrazabilidad_new') }}">Create a new imoTrazabilidad</a>
        </li>
    </ul>
{% endblock %}
