{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgsvunidadmedidas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgSvUnidadMedida in cfgSvUnidadMedidas %}
            <tr>
                <td><a href="{{ path('cfgsvunidadmedida_show', { 'id': cfgSvUnidadMedida.id }) }}">{{ cfgSvUnidadMedida.id }}</a></td>
                <td>{{ cfgSvUnidadMedida.nombre }}</td>
                <td>{% if cfgSvUnidadMedida.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgsvunidadmedida_show', { 'id': cfgSvUnidadMedida.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgsvunidadmedida_edit', { 'id': cfgSvUnidadMedida.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgsvunidadmedida_new') }}">Create a new cfgSvUnidadMedida</a>
        </li>
    </ul>
{% endblock %}
