{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conceptoparametros list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Valor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conceptoParametro in conceptoParametros %}
            <tr>
                <td><a href="{{ path('conceptoparametro_show', { 'id': conceptoParametro.id }) }}">{{ conceptoParametro.id }}</a></td>
                <td>{{ conceptoParametro.nombre }}</td>
                <td>{{ conceptoParametro.valor }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('conceptoparametro_show', { 'id': conceptoParametro.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('conceptoparametro_edit', { 'id': conceptoParametro.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conceptoparametro_new') }}">Create a new conceptoParametro</a>
        </li>
    </ul>
{% endblock %}
