{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conceptoparametro</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conceptoParametro.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ conceptoParametro.nombre }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ conceptoParametro.valor }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conceptoparametro_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('conceptoparametro_edit', { 'id': conceptoParametro.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
