{% extends 'base.html.twig' %}

{% block body %}
    <h1>Msvrevisions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecharecepcion</th>
                <th>Fechadevolucion</th>
                <th>Fechaotorgamiento</th>
                <th>Funcionario</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for msvRevision in msvRevisions %}
            <tr>
                <td><a href="{{ path('msvrevision_show', { 'id': msvRevision.id }) }}">{{ msvRevision.id }}</a></td>
                <td>{% if msvRevision.fechaRecepcion %}{{ msvRevision.fechaRecepcion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if msvRevision.fechaDevolucion %}{{ msvRevision.fechaDevolucion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if msvRevision.fechaOtorgamiento %}{{ msvRevision.fechaOtorgamiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ msvRevision.funcionario }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('msvrevision_show', { 'id': msvRevision.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('msvrevision_edit', { 'id': msvRevision.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('msvrevision_new') }}">Create a new msvRevision</a>
        </li>
    </ul>
{% endblock %}
