{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userempresarepresentantes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechainicial</th>
                <th>Fechafinal</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userEmpresaRepresentante in userEmpresaRepresentantes %}
            <tr>
                <td><a href="{{ path('userempresarepresentante_show', { 'id': userEmpresaRepresentante.id }) }}">{{ userEmpresaRepresentante.id }}</a></td>
                <td>{% if userEmpresaRepresentante.fechaInicial %}{{ userEmpresaRepresentante.fechaInicial|date('Y-m-d') }}{% endif %}</td>
                <td>{% if userEmpresaRepresentante.fechaFinal %}{{ userEmpresaRepresentante.fechaFinal|date('Y-m-d') }}{% endif %}</td>
                <td>{% if userEmpresaRepresentante.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('userempresarepresentante_show', { 'id': userEmpresaRepresentante.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
