{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imocfgtipos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Referencia</th>
                <th>Tipo</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imoCfgTipo in imoCfgTipos %}
            <tr>
                <td><a href="{{ path('imocfgtipo_show', { 'id': imoCfgTipo.id }) }}">{{ imoCfgTipo.id }}</a></td>
                <td>{{ imoCfgTipo.nombre }}</td>
                <td>{{ imoCfgTipo.referencia }}</td>
                <td>{{ imoCfgTipo.tipo }}</td>
                <td>{% if imoCfgTipo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('imocfgtipo_show', { 'id': imoCfgTipo.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
