{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imocfgtipo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imoCfgTipo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ imoCfgTipo.nombre }}</td>
            </tr>
            <tr>
                <th>Referencia</th>
                <td>{{ imoCfgTipo.referencia }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ imoCfgTipo.tipo }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if imoCfgTipo.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imocfgtipo_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
