{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usercfggruposanguineos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Sigla</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userCfgGrupoSanguineo in userCfgGrupoSanguineos %}
            <tr>
                <td><a href="{{ path('usercfggruposanguineo_show', { 'id': userCfgGrupoSanguineo.id }) }}">{{ userCfgGrupoSanguineo.id }}</a></td>
                <td>{{ userCfgGrupoSanguineo.nombre }}</td>
                <td>{{ userCfgGrupoSanguineo.sigla }}</td>
                <td>{% if userCfgGrupoSanguineo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usercfggruposanguineo_show', { 'id': userCfgGrupoSanguineo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('usercfggruposanguineo_edit', { 'id': userCfgGrupoSanguineo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usercfggruposanguineo_new') }}">Create a new userCfgGrupoSanguineo</a>
        </li>
    </ul>
{% endblock %}
