{% extends 'base.html.twig' %}

{% block body %}
    <h1>ModuloSistema list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombremodulo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for moduloSistema in moduloSistemas %}
            <tr>
                <td><a href="{{ path('modulosistema_show', { 'id': moduloSistema.id }) }}">{{ moduloSistema.id }}</a></td>
                <td>{{ moduloSistema.nombreModulo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('modulosistema_show', { 'id': moduloSistema.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('modulosistema_edit', { 'id': moduloSistema.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('modulosistema_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
