{% extends 'base.html.twig' %}

{% block body %}
    <h1>Insumos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Numero</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for insumo in insumos %}
            <tr>
                <td><a href="{{ path('insumo_show', { 'id': insumo.id }) }}">{{ insumo.id }}</a></td>
                <td>{% if insumo.estado %}Yes{% else %}No{% endif %}</td>
                <td>{{ insumo.numero }}</td>
                <td>{% if insumo.fecha %}{{ insumo.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{% if insumo.tipo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('insumo_show', { 'id': insumo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('insumo_edit', { 'id': insumo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('insumo_new') }}">Create a new insumo</a>
        </li>
    </ul>
{% endblock %}
