<html>
  <header>
  </header>
  <body>

    <p class="text-justify">
    	San Juan de Pasto, {{ fechaActual }}.
    	<br>
    	<br>
    	<br>
    </p>
    <p style="text-align:center;">
        <b>ACTA DE ENTREGA A SEDE OPERATIVA No. {{ asignacion.numeroActa }}</b>
        <br>      
    </p>

    <p>
        <table>
            <tr>
                <td width="70%">{{ asignacion.organismoTransito.nombre }}</td>
                <td>{{ asignacion.fecha|date('d/m/Y') }}</td>
            </tr>
        </table>       
        <br>
        <br>
        <br>
        Se hace entrega de los documentos que a continuación se relacionan:
    </p>

    <table border="1">
        <tr style="text-align:center;font-weight:bold;">
            <td>
                <b>
                TIPO DE DOCUMENTO
                </b>
            </td>
            <td>
                <b>
                UNIDAD DE ENTREGA
                </b>
            </td>
            <td>
                <b>
                CANTIDAD
                </b>
            </td>
            <td>
                <b>
                {{ asignacion.desde }}
                <br>
                a
                {{ asignacion.hasta }}
                </b>
            </td>
        </tr>
        {% for key, consecutivo in consecutivos %}
            <tr style="text-align:center;">
                <td>{{ key + 1 }}</td>
                <td>{{ consecutivo.numero }}</td>
            </tr>
        {% endfor %}
    </table>

    <table style="padding-top:60px;">
        <tr>
            <td width="50%">
FIRMA QUIEN ENTREGA
<br>
Nombre del Funcionario
Cargo
            </td>
            <td style="text-align:right;">
FIRMA DEL INSPECTOR
<br>
Nombre del inspector
            </td>
        </tr>
    </table>
  </body>
</html>