{% extends 'base.html.twig' %}

{% block body %}
    <h1>Loteinsumos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Numeroacta</th>
                <th>Fecha</th>
                <th>Rangoinicio</th>
                <th>Rangofin</th>
                <th>Referencia</th>
                <th>Cantidad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for loteInsumo in loteInsumos %}
            <tr>
                <td><a href="{{ path('loteinsumo_show', { 'id': loteInsumo.id }) }}">{{ loteInsumo.id }}</a></td>
                <td>{% if loteInsumo.estado %}Yes{% else %}No{% endif %}</td>
                <td>{{ loteInsumo.numeroActa }}</td>
                <td>{% if loteInsumo.fecha %}{{ loteInsumo.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ loteInsumo.rangoInicio }}</td>
                <td>{{ loteInsumo.rangoFin }}</td>
                <td>{{ loteInsumo.referencia }}</td>
                <td>{{ loteInsumo.cantidad }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('loteinsumo_show', { 'id': loteInsumo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('loteinsumo_edit', { 'id': loteInsumo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('loteinsumo_new') }}">Create a new loteInsumo</a>
        </li>
    </ul>
{% endblock %}
