{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvaucfgatencions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dia</th>
                <th>Horamanianainicial</th>
                <th>Horamanianafinal</th>
                <th>Horatardeinicial</th>
                <th>Horatardefinal</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cvAuCfgAtencion in cvAuCfgAtencions %}
            <tr>
                <td><a href="{{ path('cvaucfgatencion_show', { 'id': cvAuCfgAtencion.id }) }}">{{ cvAuCfgAtencion.id }}</a></td>
                <td>{{ cvAuCfgAtencion.dia }}</td>
                <td>{% if cvAuCfgAtencion.horaManianaInicial %}{{ cvAuCfgAtencion.horaManianaInicial|date('H:i:s') }}{% endif %}</td>
                <td>{% if cvAuCfgAtencion.horaManianaFinal %}{{ cvAuCfgAtencion.horaManianaFinal|date('H:i:s') }}{% endif %}</td>
                <td>{% if cvAuCfgAtencion.horaTardeInicial %}{{ cvAuCfgAtencion.horaTardeInicial|date('H:i:s') }}{% endif %}</td>
                <td>{% if cvAuCfgAtencion.horaTardeFinal %}{{ cvAuCfgAtencion.horaTardeFinal|date('H:i:s') }}{% endif %}</td>
                <td>{% if cvAuCfgAtencion.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cvaucfgatencion_show', { 'id': cvAuCfgAtencion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cvaucfgatencion_edit', { 'id': cvAuCfgAtencion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvaucfgatencion_new') }}">Create a new cvAuCfgAtencion</a>
        </li>
    </ul>
{% endblock %}
