{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pqoinmovilizacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero_comparendo</th>
                <th>Placa</th>
                <th>Fechaingreso</th>
                <th>Horaingreso</th>
                <th>Fechasalida</th>
                <th>Horasalida</th>
                <th>Numerosalida</th>
                <th>Numeroinventario</th>
                <th>Dias</th>
                <th>Observaciones</th>
                <th>Valor</th>
                <th>Costotrayecto</th>
                <th>Estado</th>
                <th>Salida</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pqoInmovilizacion in pqoInmovilizacions %}
            <tr>
                <td><a href="{{ path('pqoinmovilizacion_show', { 'id': pqoInmovilizacion.id }) }}">{{ pqoInmovilizacion.id }}</a></td>
                <td>{{ pqoInmovilizacion.numerocomparendo }}</td>
                <td>{{ pqoInmovilizacion.placa }}</td>
                <td>{% if pqoInmovilizacion.fechaIngreso %}{{ pqoInmovilizacion.fechaIngreso|date('Y-m-d') }}{% endif %}</td>
                <td>{% if pqoInmovilizacion.horaIngreso %}{{ pqoInmovilizacion.horaIngreso|date('H:i:s') }}{% endif %}</td>
                <td>{% if pqoInmovilizacion.fechaSalida %}{{ pqoInmovilizacion.fechaSalida|date('Y-m-d') }}{% endif %}</td>
                <td>{% if pqoInmovilizacion.horaSalida %}{{ pqoInmovilizacion.horaSalida|date('H:i:s') }}{% endif %}</td>
                <td>{{ pqoInmovilizacion.numeroSalida }}</td>
                <td>{{ pqoInmovilizacion.numeroInventario }}</td>
                <td>{{ pqoInmovilizacion.dias }}</td>
                <td>{{ pqoInmovilizacion.observaciones }}</td>
                <td>{{ pqoInmovilizacion.valor }}</td>
                <td>{{ pqoInmovilizacion.costoTrayecto }}</td>
                <td>{{ pqoInmovilizacion.estado }}</td>
                <td>{% if pqoInmovilizacion.salida %}Yes{% else %}No{% endif %}</td>
                <td>{% if pqoInmovilizacion.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pqoinmovilizacion_show', { 'id': pqoInmovilizacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pqoinmovilizacion_edit', { 'id': pqoInmovilizacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pqoinmovilizacion_new') }}">Create a new pqoInmovilizacion</a>
        </li>
    </ul>
{% endblock %}
