{% extends 'base.html.twig' %}

{% block body %}
    <h1>OrganismoTransito list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organismoTransito in organismoTransitos %}
            <tr>
                <td><a href="{{ path('organismotransito_show', { 'id': organismoTransito.id }) }}">{{ organismoTransito.id }}</a></td>
                <td>{{ organismoTransito.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('organismotransito_show', { 'id': organismoTransito.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('organismotransito_edit', { 'id': organismoTransito.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('organismotransito_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
