{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conceptoparametrotramite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conceptoParametroTramite.id }}</td>
            </tr>
            <tr>
                <th>Anio</th>
                <td>{{ conceptoParametroTramite.anio }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if conceptoParametroTramite.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conceptoparametrotramite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('conceptoparametrotramite_edit', { 'id': conceptoParametroTramite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
