{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvcdonotificacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dia</th>
                <th>Hora</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cvCdoNotificacion in cvCdoNotificacions %}
            <tr>
                <td><a href="{{ path('cvcdonotificacion_show', { 'id': cvCdoNotificacion.id }) }}">{{ cvCdoNotificacion.id }}</a></td>
                <td>{{ cvCdoNotificacion.dia }}</td>
                <td>{% if cvCdoNotificacion.hora %}{{ cvCdoNotificacion.hora|date('H:i:s') }}{% endif %}</td>
                <td>{% if cvCdoNotificacion.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cvcdonotificacion_show', { 'id': cvCdoNotificacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cvcdonotificacion_edit', { 'id': cvCdoNotificacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvcdonotificacion_new') }}">Create a new cvCdoNotificacion</a>
        </li>
    </ul>
{% endblock %}
