{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mgdpeticionarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Primernombre</th>
                <th>Segundonombre</th>
                <th>Primerapellido</th>
                <th>Segundoapellido</th>
                <th>Identificacion</th>
                <th>Entidadnombre</th>
                <th>Entidadcargo</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Correoelectronico</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mgdPeticionario in mgdPeticionarios %}
            <tr>
                <td><a href="{{ path('mgdpeticionario_show', { 'id': mgdPeticionario.id }) }}">{{ mgdPeticionario.id }}</a></td>
                <td>{{ mgdPeticionario.primerNombre }}</td>
                <td>{{ mgdPeticionario.segundoNombre }}</td>
                <td>{{ mgdPeticionario.primerApellido }}</td>
                <td>{{ mgdPeticionario.segundoApellido }}</td>
                <td>{{ mgdPeticionario.identificacion }}</td>
                <td>{{ mgdPeticionario.entidadNombre }}</td>
                <td>{{ mgdPeticionario.entidadCargo }}</td>
                <td>{{ mgdPeticionario.direccion }}</td>
                <td>{{ mgdPeticionario.telefono }}</td>
                <td>{{ mgdPeticionario.correoElectronico }}</td>
                <td>{% if mgdPeticionario.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mgdpeticionario_show', { 'id': mgdPeticionario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mgdpeticionario_edit', { 'id': mgdPeticionario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mgdpeticionario_new') }}">Create a new mgdPeticionario</a>
        </li>
    </ul>
{% endblock %}
