{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bpinsumos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Unidadmedida</th>
                <th>Cantidad</th>
                <th>Valorunitario</th>
                <th>Valortotal</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bpInsumo in bpInsumos %}
            <tr>
                <td><a href="{{ path('bpinsumo_show', { 'id': bpInsumo.id }) }}">{{ bpInsumo.id }}</a></td>
                <td>{{ bpInsumo.nombre }}</td>
                <td>{{ bpInsumo.unidadMedida }}</td>
                <td>{{ bpInsumo.cantidad }}</td>
                <td>{{ bpInsumo.valorUnitario }}</td>
                <td>{{ bpInsumo.valorTotal }}</td>
                <td>{% if bpInsumo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bpinsumo_show', { 'id': bpInsumo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bpinsumo_edit', { 'id': bpInsumo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bpinsumo_new') }}">Create a new bpInsumo</a>
        </li>
    </ul>
{% endblock %}
