{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bpinsumo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bpInsumo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ bpInsumo.nombre }}</td>
            </tr>
            <tr>
                <th>Unidadmedida</th>
                <td>{{ bpInsumo.unidadMedida }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ bpInsumo.cantidad }}</td>
            </tr>
            <tr>
                <th>Valorunitario</th>
                <td>{{ bpInsumo.valorUnitario }}</td>
            </tr>
            <tr>
                <th>Valortotal</th>
                <td>{{ bpInsumo.valorTotal }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if bpInsumo.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bpinsumo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bpinsumo_edit', { 'id': bpInsumo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
