{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgadmformatotipos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgAdmFormatoTipo in cfgAdmFormatoTipos %}
            <tr>
                <td><a href="{{ path('cfgadmformatotipo_show', { 'id': cfgAdmFormatoTipo.id }) }}">{{ cfgAdmFormatoTipo.id }}</a></td>
                <td>{{ cfgAdmFormatoTipo.nombre }}</td>
                <td>{% if cfgAdmFormatoTipo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgadmformatotipo_show', { 'id': cfgAdmFormatoTipo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgadmformatotipo_edit', { 'id': cfgAdmFormatoTipo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgadmformatotipo_new') }}">Create a new cfgAdmFormatoTipo</a>
        </li>
    </ul>
{% endblock %}
