{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgradioaccions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgRadioAccion in cfgRadioAccions %}
            <tr>
                <td><a href="{{ path('cfgradioaccion_show', { 'id': cfgRadioAccion.id }) }}">{{ cfgRadioAccion.id }}</a></td>
                <td>{{ cfgRadioAccion.nombre }}</td>
                <td>{% if cfgRadioAccion.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgradioaccion_show', { 'id': cfgRadioAccion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgradioaccion_edit', { 'id': cfgRadioAccion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgradioaccion_new') }}">Create a new cfgRadioAccion</a>
        </li>
    </ul>
{% endblock %}
