<html>
    <div style="text-align:center">
        <h4>ALCALDIA MUNICIPAL DE PASTO</h4>
        <h4>SECRETARIA DE TRANSITO Y TRANSPORTE</h4>
        <h4>SUBSECRETARIA DE MOVILIDAD</h4>
    </div>
    <hr>
    <div style="margin-bottom:'20%';text-align:center">

        <h4>TARIFAS VIGENTES PARA LA PRESTACION DE SERVICIO  PUBLICO</h4>
        <h4>DE TRANSPORTE INDIVIDUAL DE PASAJERO AÑO 2018-2019</h4>
        <h4>DECRETO No. 0463 DEL 11  DE DICIEMBRE DE 2018.</h4>
    </div>
    <table>
        <tr>
            <td></td>
            <td>
                <p>
                    <b>TARJETA DE CONTROL</b>
                    <br>
                    <b>PERSONAL E INTRANSFERIBLE </b>No <b style="font-size:200%; color: red; text-align: right">{{ insumoTarjetaControl.numero }}</b>
                </p>
                <hr style="border-style: dashed">
                <div style="text-align:center">
                    <p style="text-decoration: underline"><b style="font-size:150%">          {{ ciudadano.primerNombre}} {{ ciudadano.segundoNombre }}            </b></p>
                    <p>NOMBRE(S)</p>
                    <p style="text-decoration: underline"><b style="font-size:150%">          {{ ciudadano.primerApellido}} {{ ciudadano.segundoApellido }}            </b></p>
                    <p>APELLIDO(S)</p>
                    <p style="text-decoration: underline"><b style="font-size:150%">          {{ ciudadano.identificacion }}            </b></p>
                    <p>CEDULA</p>
                    <p style="text-decoration: underline"><b style="font-size:150%">          {{ ciudadano.grupoSanguineo.sigla }}            </b></p>
                    <p>RH</p>
                </div>
                <hr style="border-style: dashed">
                <div style="text-align:center">
                    <h2>EMRESA: <p style="text-decoration: underline"><b style="font-size:150%">          {{ empresaTransporte.empresa.nombre }}             </b></p></h2>
                    <h4>PLACAS: <p style="text-decoration: underline"><b style="font-size:150%">          {{ vehiculo.placa.numero }}             </b></p></h4>
                    <h4>No DE ORDEN:<p style="text-decoration: underline"><b style="font-size:150%">          {{ insumoTarjetaControl.numero }}             </b></p></h4>
                    <h4>No: <p style="text-decoration: underline"><b style="font-size:150%">          {{ tecnomecanica.numeroControl }}             </b></p></h4>
                    <p>CERT. REVISIÓN TÉNICO MECÁNICA Y DE GASES</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p>____________________________________________________</p>
                    <p>REPRESENTANTE LEGAL DE LA EMPRESA</p>
                </div>
            </td>
        </tr>
    </table>
    <p style="text-align:center">CUALQUIER ENMENDADURA  O INCONSISTENIA  EN LA INFORMACIÓN, FAVOR INFORMAR A LAS AUTORIDADES DE TRÁNSITO O POLICÍA NACIONAL.</p>
</html>

