{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlopropietarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Licenciatransito</th>
                <th>Tramites</th>
                <th>Fechainicial</th>
                <th>Fechafinal</th>
                <th>Estado</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloPropietario in vhloPropietarios %}
            <tr>
                <td><a href="{{ path('vhlopropietario_show', { 'id': vhloPropietario.id }) }}">{{ vhloPropietario.id }}</a></td>
                <td>{{ vhloPropietario.licenciaTransito }}</td>
                <td>{% if vhloPropietario.tramites %}Yes{% else %}No{% endif %}</td>
                <td>{% if vhloPropietario.fechaInicial %}{{ vhloPropietario.fechaInicial|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if vhloPropietario.fechaFinal %}{{ vhloPropietario.fechaFinal|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if vhloPropietario.estado %}Yes{% else %}No{% endif %}</td>
                <td>{% if vhloPropietario.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlopropietario_show', { 'id': vhloPropietario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlopropietario_edit', { 'id': vhloPropietario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlopropietario_new') }}">Create a new vhloPropietario</a>
        </li>
    </ul>
{% endblock %}
