{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svsenialinventarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Consecutivo</th>
                <th>Tipoinventario</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for svSenialInventario in svSenialInventarios %}
            <tr>
                <td><a href="{{ path('svsenialinventario_show', { 'id': svSenialInventario.id }) }}">{{ svSenialInventario.id }}</a></td>
                <td>{% if svSenialInventario.fecha %}{{ svSenialInventario.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ svSenialInventario.consecutivo }}</td>
                <td>{{ svSenialInventario.tipoInventario }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('svsenialinventario_show', { 'id': svSenialInventario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('svsenialinventario_edit', { 'id': svSenialInventario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svsenialinventario_new') }}">Create a new svSenialInventario</a>
        </li>
    </ul>
{% endblock %}
