{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svsenialinventario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ svSenialInventario.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if svSenialInventario.fecha %}{{ svSenialInventario.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Consecutivo</th>
                <td>{{ svSenialInventario.consecutivo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svsenialinventario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('svsenialinventario_edit', { 'id': svSenialInventario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
