{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgmunicipios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigodane</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgMunicipio in cfgMunicipios %}
            <tr>
                <td><a href="{{ path('cfgmunicipio_show', { 'id': cfgMunicipio.id }) }}">{{ cfgMunicipio.id }}</a></td>
                <td>{{ cfgMunicipio.nombre }}</td>
                <td>{{ cfgMunicipio.codigoDane }}</td>
                <td>{% if cfgMunicipio.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgmunicipio_show', { 'id': cfgMunicipio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgmunicipio_edit', { 'id': cfgMunicipio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgmunicipio_new') }}">Create a new cfgMunicipio</a>
        </li>
    </ul>
{% endblock %}
