{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svunidadmedidas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for svUnidadMedida in svUnidadMedidas %}
            <tr>
                <td><a href="{{ path('svunidadmedida_show', { 'id': svUnidadMedida.id }) }}">{{ svUnidadMedida.id }}</a></td>
                <td>{{ svUnidadMedida.nombre }}</td>
                <td>{% if svUnidadMedida.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('svunidadmedida_show', { 'id': svUnidadMedida.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('svunidadmedida_edit', { 'id': svUnidadMedida.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svunidadmedida_new') }}">Create a new svUnidadMedida</a>
        </li>
    </ul>
{% endblock %}
