<html>
  <header>
    <style type="text/css">
        .separator{
            margin-top: 5px;
        }
        .table td{
            max-height: 15px;
            padding: 2px;
        }
    </style>
  </header>
  <body style="font-size:12px">
    <p class="text-right">
    	San Juan de Pasto, {{ fechaActual }}.
    </p>
    <table border="1" border="1" cellpadding="3" style="font-size: 10px;">
      <!-- row-1 -->
      <tr>
        <td colspan="3">
          <b>AGENTE DE TRANSITO</b>
          <br>
          {{ comparendo.agenteTransito.ciudadano.primerNombre }} {{ comparendo.agenteTransito.ciudadano.primerApellido }}
        </td>
        <td colspan="3">
          <b>SEDE OPERATIVA</b>
          <br>
          {{ comparendo.organismoTransito.nombre }}
        </td>
      </tr>
      <!-- row-2 -->
      <tr>
        <td>
          <b>FECHA</b>
          <br>
          {{ comparendo.fecha|date('d/m/Y') }}
        </td>
        <td>
          <b>HORA</b>
          <br>
          {{ comparendo.hora|date('H') }}
        </td>
        <td>
          <b>MINUTOS</b>
          <br>
          {{ comparendo.hora|date('i') }}
        </td>
        <td>
          <b>DIRECCION</b>
          <br>
          {{ comparendo.direccion }}
        </td>
        <td>
          <b>MUNICIPIO</b>
          <br>
          {{ comparendo.municipio.nombre }}
        </td>
        <td>
          <b>LOCALIDAD</b>
          <br>
          {{ comparendo.localidad }}
        </td>
      </tr>
      <!-- row-3 -->
      <tr>
        <td>
          <b>PLACA No.</b>
          <br>
          {{ comparendo.placa }}
        </td>
        <td colspan="3">
          <b>MATRICULADO EN</b>
          <br>
          {{ comparendo.organismoTransitoMatriculado.nombre }}
        </td>
        <td colspan="2">
          <b>CÓDIGO INFRACCIÓN</b>
          <br>
          {{ comparendo.infraccion.codigo }}
        </td>
      </tr>
      <!-- row-4 -->
      <tr>
        <td colspan="2">
          <b>6. Clase Servicio</b>
        </td>

        <td colspan="2">
          <b>7. Tipo Vehículo</b>
        </td>
        
        <td colspan="2">
          <b>8. Radio Acción</b>
        </td>
      </tr>
      <!-- row-5 -->
      <tr>
        <td colspan="2">
          <b>9. Modalidad Transporte</b>
        </td>

        <td colspan="2">
          <b>9.1. Transporte Pasajeros</b>
        </td>

        <td colspan="2">
          <b>9.2. Transporte Especial</b>
        </td>
      </tr>
        
      <tr>
        <td colspan="6" style="text-aling:center;">
          <b>10. Datos de infractor</b>
        </td>
      </tr>
      <tr>                       
        <td colspan="2">
          <b>No. Licencia conducción</b>
        </td>
        <td colspan="2">
          <b>Categoria</b>
        </td>
        <td>
          <b>EXP</b>
        </td>
        <td>
          <b>VEN</b>
        </td>
      </tr>

      <tr>
        <td colspan="2">
            b>Tipo Identificación<b>
        </td>
        <td colspan="2">
            b>Número documento identidad<b>
        </td>
        <td colspan="2">
            b>Nombres y apellidos completos<b>
        </td>
      </tr>

      <tr>
        <td colspan="3">
            <label>Dirección</label>
        </td>
        <td>
            <label>Edad</label>
        </td>
        <td colspan="2">
            <label>Telefono fijo/celular</label>
        </td>
      </tr>

      <tr>
        <td colspan="3">
            <label>Municipio</label>
        </td>
        <td colspan="3">
            <label>Correo</label>
        </td>
      </tr>

      <tr>
        <td>
          <b>11. Tipo de infractor</b>
        </td>
        <td>
            <b>Org.de T. Licencia de tránsito</b>
        </td>
        <td>
            <b>No. del documento Licencia de tránsito</b>
        </td>
      </tr>
    
    
      <tr>
        <td>
          <b>13. Datos del propietario</b>
        </td>
        <td>
          <label>Tipo Identificación</label>
        </td>
        <td>
          <label>Número documento identidad</label>
        </td>
        <td>
          <label>Nombres y apellidos completos</label>
        </td>
      </tr>

      <tr>
        <td>
          <b>14. Datos de la empresa</b>
        </td>
        <td *ngIf="comparendo.vehiculoServicio == 2">
          <b>NIT</b>
        </td>
        <td *ngIf="comparendo.vehiculoServicio == 2">
          <b>Nombre</b>
        </td>
        <td *ngIf="comparendo.vehiculoServicio == 2">
          <b>Tarjeta de operación</b>
        </td>
      </tr>

      <tr>
        <td>
          <b>15. Datos del agente de tránsito</b>
        </td>
        <td>
            <b>Apellidos y Nombres completos</b>
        </td>
        <td>
            <b>Placa</b>
        </td>
        <td>
            <b>Entidad</b>
        </td>
      </tr>

      <tr>
        <td>
          <b>16. Datos de la inmovilización</b>
        </td>
        <td>
          <b>Patio</b>
        </td>
        <td>
          <b>Grúa</b>
        </td>
      </tr>

      <tr>
        <td colspan="6">
          <b>17. Observaciones del agente de tránsito</b>
        </td>
        <td colspan="6">
        </td>
      </tr>

      <tr>
        <td>
          <b>18. Datos del testigo</b>
        </td>
        <td>
          <b>Nombres y apellidos completos</b>
        </td>
        <td>
          <b>CC. No.</b>
        </td>
        <td>
          <b>Dirección</b>
        </td>
        <td>
          <b>Teléfono</b>
        </td>
      </tr>                    

      <tr>
        <td>
          <b>19. Otros datos</b>  
        </td>
        <td>
          <b>Accidente</b>
        </td>
        <td>
          <b>Fuga</b>
        </td>
        <td>
            <b>Retención de licencia</b>
        </td>
        <td>
          <b>Anulado</b>
        </td>
      </tr>

      <tr>
        <td colspan="6">
          <b>20. Observaciones del digitador</b>
        </td>
        <td colspan="6">
        </td>
      </tr>
      

    </table>
  </body>
</html>