<html>
  <header>
    <style type="text/css">
        .separator{
            margin-top: 5px;
        }
        .table td{
            max-height: 15px;
            padding: 2px;
        }
    </style>
  </header>
  <body style="font-size:12px">
    <p class="text-right">
    	San Juan de Pasto, {{ fechaActual }}.
    </p>
    <table border="1" border="1" cellpadding="3" style="font-size: 10px;">
      <!-- row-1 -->
      <tr>
        <td colspan="6" style="text-align:right;">
          <b>NÚMERO DE COMPARENDO</b>
          <br>
          {% if comparendo.consecutivo %}
          {{ comparendo.consecutivo.numero }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <b>AGENTE DE TRANSITO</b>
          {% if comparendo.agenteTransito %}
            <br>
            {{ comparendo.agenteTransito.ciudadano.primerNombre }} {{ comparendo.agenteTransito.ciudadano.primerApellido }}
          {% endif %}
        </td>
        <td colspan="3">
          <b>SEDE OPERATIVA</b>
          <br>
          {% if comparendo.organismoTransito %}
          {{ comparendo.organismoTransito.nombre }}
          {% endif %}
        </td>
      </tr>
      <!-- row-2 -->
      <tr>
        <td>
          <b>FECHA</b>
          <br>
          {{ comparendo.fecha|date('d/m/Y') }}
        </td>
        <td>
          <b>HORA</b>
          <br>
          {{ comparendo.hora|date('H') }}
        </td>
        <td>
          <b>MINUTOS</b>
          <br>
          {{ comparendo.hora|date('i') }}
        </td>
        <td>
          <b>DIRECCION</b>
          <br>
          {{ comparendo.direccion }}
        </td>
        <td>
          <b>MUNICIPIO</b>
          {% if comparendo.municipio %}
          <br>
          {{ comparendo.municipio.nombre }}
          {% endif %}
        </td>
        <td>
          <b>LOCALIDAD</b>
          <br>
          {{ comparendo.localidad }}
        </td>
      </tr>
      <!-- row-3 -->
      <tr>
        <td>
          <b>PLACA No.</b>
          <br>
          {{ comparendo.placa }}
        </td>
        <td colspan="3">
          <b>MATRICULADO EN</b>
          <br>
          {% if comparendo.organismoTransitoMatriculado %}
          {{ comparendo.organismoTransitoMatriculado.nombre }}
          {% endif %}
        </td>
        <td colspan="2">
          <b>CÓDIGO INFRACCIÓN</b>
          <br>
          {{ comparendo.infraccion.codigo }}
        </td>
      </tr>
      <!-- row-4 -->
      <tr>
        <td colspan="2">
          <b>CLASE</b>
          <br>
          {% if comparendo.clase %}
          {{ comparendo.clase.nombre }}
          {% endif %}
        </td>

        <td colspan="2">
          <b>SERVICIO</b>
          <br>
          {% if comparendo.servicio %}
          {{ comparendo.servicio.nombre }}
          {% endif %}
        </td>
        
        <td colspan="2">
          <b>RADIO ACCIÓN</b>
          <br>
          {% if comparendo.radioAccion %}
          {{ comparendo.radioAccion.nombre }}
          {% endif %}
        </td>
      </tr>
      <!-- row-5 -->
      <tr>
        <td colspan="2">
          <b>MODALIDAD TRASNPORTE</b>
          <br>
          {% if comparendo.modalidadTransporte %}
          {{ comparendo.modalidadTransporte.nombre }}
          {% endif %}
        </td>

        <td colspan="2">
          <b>9.1. Transporte Pasajeros</b>
          <br>
          {% if comparendo.transportePasajero %}
          {{ comparendo.transportePasajero.nombre }}
          {% endif %}
        </td>

        <td colspan="2">
          <b>9.2. Transporte Especial</b>
          <br>
          {% if comparendo.transporteEspecial %}
          {{ comparendo.transporteEspecial.nombre }}
          {% endif %}
        </td>
      </tr>
        
      <tr>
        <td colspan="6" style="text-aling:center;">
          <b>Datos de infractor</b>
        </td>
      </tr>
      
      <tr>                       
        <td colspan="2">
          <b>No. Licencia conducción</b>
          <br>
          {{ comparendo.infractorNumeroLicenciaConduccion }}
        </td>
        <td colspan="2">
          <b>Categoria</b>
          <br>
          {{ comparendo.categoria }}
        </td>
        <td>
          <b>EXP</b>
          <br>
          {{ comparendo.fechaExpedicion|date('d/m/Y') }}
        </td>
        <td>
          <b>VEN</b>
          <br>
          {{ comparendo.fechaVencimiento|date('d/m/Y') }}
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <b>Tipo Identificación</b>
          <br>
          {% if comparendo.infractorTipoIdentificacion %}
          {{ comparendo.infractorTipoIdentificacion.nombre }}
          {% endif %}
        </td>
        <td colspan="2">
          <b>Número documento identidad</b>
          <br>
          {{ comparendo.infractorIdentificacion }}
        </td>
        <td colspan="2">
          <b>Nombres y apellidos completos</b>
          <br>
          {{ comparendo.infractorNombres }}
        </td>
      </tr>

      <tr>
        <td colspan="3">
            <b>Dirección</b>
            <br>
            {{ comparendo.infractorDireccion }}
        </td>
        <td>
            <b>fecha nacimiento</b>
            {{ comparendo.infractorFechaNacimiento|date('d/m/Y') }}
        </td>
        <td colspan="2">
            <b>Telefono fijo/celular</b>
            <br>
            {{ comparendo.infractorTelefono }}
        </td>
      </tr>

      <tr>
        <td colspan="3">
            <b>Municipio</b>
            <br>
            {{ comparendo.infractorMunicipioResidencia }}
        </td>
        <td colspan="3">
            <b>Correo</b>
            <br>
            {{ comparendo.infractorEmail }}
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <b>Tipo de infractor</b>
          {% if comparendo.tipoInfractor %}
          <br>
          {{ comparendo.tipoInfractor.nombre }}
          {% endif %}
        </td>
        <td colspan="2">
            <b>Org.de T. Licencia de tránsito</b>
            {% if comparendo.organismoTransitoLicencia %}
            {{ comparendo.organismoTransitoLicencia.nombre }}
            {% endif %}
        </td>
        <td colspan="2">
            <b>No. del documento Licencia de tránsito</b>
            <br>
            {{ comparendo.numeroLicenciaTransito }}
        </td>
      </tr>
    
      <tr>
        <td colspan="2">
          <b>Tipo Identificación</b>
          <br>
          {% if comparendo.propietarioTipoIdentificacion %}
          {{ comparendo.propietarioTipoIdentificacion.nombre }}
          {% endif %}
        </td>
        <td colspan="2">
          <b>Número documento identidad</b>
          <br>
          {{ comparendo.propietarioIdentificacion }}
        </td>
        <td colspan="2">
          <b>Nombres y apellidos completos</b>
          <br>
          {{ comparendo.propietarioNombre }}
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <b>NIT</b>
          <br>
          {{ comparendo.empresaNit }}
        </td>
        <td colspan="2">
          <b>Nombre</b>
          <br>
          {{ comparendo.empresaNombre }}
        </td>
        <td colspan="2">
          <b>Tarjeta de operación</b>
          <br>
          {{ comparendo.tarjetaOperacion }}
        </td>
      </tr>

      <tr>
        <td colspan="2">
            <b>Apellidos y Nombres completos</b>
            {% if comparendo.agenteTransito %}
            <br>
            {{ comparendo.agenteTransito.ciudadano.primerNombre }} {{ comparendo.agenteTransito.ciudadano.primerApellido }}
            {% endif %}
        </td>
        <td colspan="2">
            <b>Placa</b>
            {% if comparendo.agenteTransito %}
            <br>
            {{ comparendo.agenteTransito.numeroPlaca }}
            {% endif %}
        </td>
        <td colspan="2">
            <b>Entidad</b>
            {% if comparendo.agenteTransito %}
            <br>
            {{ comparendo.agenteTransito.organismoTransito.nombre }}
            {% endif %}
        </td>
      </tr>

      <tr>
        <td colspan="3">
          <b>Patio</b>
        </td>
        <td colspan="3">
          <b>Grúa</b>
        </td>
      </tr>

      <tr>
        <td colspan="6">
          <b>Observaciones del agente de tránsito</b>
          <br>
          {{ comparendo.observacionesAgente }}
        </td>
        <td colspan="6">
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <b>Nombres y apellidos completos</b>
          <br>
          {{ comparendo.testigoNombres }}
        </td>
        <td colspan="2">
          <b>CC. No.</b>
          <br>
          {{ comparendo.testigoIdentificacion }}
        </td>
        <td>
          <b>Dirección</b>
          <br>
          {{ comparendo.testigoDireccion }}
        </td>
        <td>
          <b>Teléfono</b>
          <br>
          {{ comparendo.testigoTelefono }}
        </td>
      </tr>                    

      <tr>
        <td colspan="2">
          <b>Accidente</b>
          <br>
          {% if comparendo.accidente %}
            Si
          {% else %}
            No
          {% endif %}
        </td>
        <td>
          <b>Fuga</b>
          <br>
          {% if comparendo.fuga %}
            Si
          {% else %}
            No
          {% endif %}
        </td>
        <td colspan="2">
          <b>Retención de licencia</b>
          {% if comparendo.retencionLicencia %}
            Si
          {% else %}
            No
          {% endif %}
        </td>
        <td>
          <b>Anulado</b>
          
        </td>
      </tr>

      <tr>
        <td colspan="6">
          <b>Observaciones del digitador</b>
        </td>
        <td colspan="6">
          {{ comparendo.observacionesDigitador }}
        </td>
      </tr>
    </table>
  </body>
</html>