{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgcombustibles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgCombustible in vhloCfgCombustibles %}
            <tr>
                <td><a href="{{ path('vhlocfgcombustible_show', { 'id': vhloCfgCombustible.id }) }}">{{ vhloCfgCombustible.id }}</a></td>
                <td>{{ vhloCfgCombustible.nombre }}</td>
                <td>{{ vhloCfgCombustible.codigo }}</td>
                <td>{% if vhloCfgCombustible.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfgcombustible_show', { 'id': vhloCfgCombustible.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
