{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bpcdps list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Solicitudnumero</th>
                <th>Solicitudfecha</th>
                <th>Solicitudconsecutivo</th>
                <th>Numero</th>
                <th>Valor</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bpCdp in bpCdps %}
            <tr>
                <td><a href="{{ path('bpcdp_show', { 'id': bpCdp.id }) }}">{{ bpCdp.id }}</a></td>
                <td>{{ bpCdp.solicitudNumero }}</td>
                <td>{% if bpCdp.solicitudFecha %}{{ bpCdp.solicitudFecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ bpCdp.solicitudConsecutivo }}</td>
                <td>{{ bpCdp.numero }}</td>
                <td>{{ bpCdp.valor }}</td>
                <td>{% if bpCdp.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bpcdp_show', { 'id': bpCdp.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bpcdp_edit', { 'id': bpCdp.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bpcdp_new') }}">Create a new bpCdp</a>
        </li>
    </ul>
{% endblock %}
