{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pqocfgtarifa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pqoCfgTarifa.id }}</td>
            </tr>
            <tr>
                <th>Valorhora</th>
                <td>{{ pqoCfgTarifa.valorHora }}</td>
            </tr>
            <tr>
                <th>Numeroactoadministrativo</th>
                <td>{{ pqoCfgTarifa.numeroActoAdministrativo }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if pqoCfgTarifa.fecha %}{{ pqoCfgTarifa.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if pqoCfgTarifa.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pqocfgtarifa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pqocfgtarifa_edit', { 'id': pqoCfgTarifa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
