{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svipatasignacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Rangoinicial</th>
                <th>Rangofinal</th>
                <th>Total</th>
                <th>Fecha</th>
                <th>Numeroacta</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for svIpatAsignacion in svIpatAsignacions %}
            <tr>
                <td><a href="{{ path('svipatasignacion_show', { 'id': svIpatAsignacion.id }) }}">{{ svIpatAsignacion.id }}</a></td>
                <td>{{ svIpatAsignacion.rangoInicial }}</td>
                <td>{{ svIpatAsignacion.rangoFinal }}</td>
                <td>{{ svIpatAsignacion.total }}</td>
                <td>{% if svIpatAsignacion.fecha %}{{ svIpatAsignacion.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ svIpatAsignacion.numeroActa }}</td>
                <td>{% if svIpatAsignacion.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('svipatasignacion_show', { 'id': svIpatAsignacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('svipatasignacion_edit', { 'id': svIpatAsignacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svipatasignacion_new') }}">Create a new svIpatAsignacion</a>
        </li>
    </ul>
{% endblock %}
