{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgplacas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgPlaca in vhloCfgPlacas %}
            <tr>
                <td><a href="{{ path('vhlocfgplaca_show', { 'id': vhloCfgPlaca.id }) }}">{{ vhloCfgPlaca.id }}</a></td>
                <td>{{ vhloCfgPlaca.numero }}</td>
                <td>{{ vhloCfgPlaca.estado }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfgplaca_show', { 'id': vhloCfgPlaca.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlocfgplaca_edit', { 'id': vhloCfgPlaca.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfgplaca_new') }}">Create a new vhloCfgPlaca</a>
        </li>
    </ul>
{% endblock %}
