{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgsvconectors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgSvConector in cfgSvConectors %}
            <tr>
                <td><a href="{{ path('cfgsvconector_show', { 'id': cfgSvConector.id }) }}">{{ cfgSvConector.id }}</a></td>
                <td>{{ cfgSvConector.nombre }}</td>
                <td>{% if cfgSvConector.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgsvconector_show', { 'id': cfgSvConector.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgsvconector_edit', { 'id': cfgSvConector.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgsvconector_new') }}">Create a new cfgSvConector</a>
        </li>
    </ul>
{% endblock %}
