{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvlccfgtiporestriccions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cvLcCfgTipoRestriccion in cvLcCfgTipoRestriccions %}
            <tr>
                <td><a href="{{ path('cvlccfgtiporestriccion_show', { 'id': cvLcCfgTipoRestriccion.id }) }}">{{ cvLcCfgTipoRestriccion.id }}</a></td>
                <td>{{ cvLcCfgTipoRestriccion.nombre }}</td>
                <td>{{ cvLcCfgTipoRestriccion.codigo }}</td>
                <td>{% if cvLcCfgTipoRestriccion.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cvlccfgtiporestriccion_show', { 'id': cvLcCfgTipoRestriccion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cvlccfgtiporestriccion_edit', { 'id': cvLcCfgTipoRestriccion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvlccfgtiporestriccion_new') }}">Create a new cvLcCfgTipoRestriccion</a>
        </li>
    </ul>
{% endblock %}
