{% extends 'base.html.twig' %}

{% block body %}
    <h1>Msvparametros list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Valor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for msvParametro in msvParametros %}
            <tr>
                <td><a href="{{ path('msvparametro_show', { 'id': msvParametro.id }) }}">{{ msvParametro.id }}</a></td>
                <td>{{ msvParametro.nombre }}</td>
                <td>{% if msvParametro.estado %}Yes{% else %}No{% endif %}</td>
                <td>{{ msvParametro.valor }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('msvparametro_show', { 'id': msvParametro.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('msvparametro_edit', { 'id': msvParametro.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('msvparametro_new') }}">Create a new msvParametro</a>
        </li>
    </ul>
{% endblock %}
