{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bpproyecto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bpProyecto.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ bpProyecto.numero }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ bpProyecto.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if bpProyecto.fecha %}{{ bpProyecto.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numerocuota</th>
                <td>{{ bpProyecto.numeroCuota }}</td>
            </tr>
            <tr>
                <th>Nombrecuota</th>
                <td>{{ bpProyecto.nombreCuota }}</td>
            </tr>
            <tr>
                <th>Costovalor</th>
                <td>{{ bpProyecto.costoValor }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bpproyecto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bpproyecto_edit', { 'id': bpProyecto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
