{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facturas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Estado</th>
                <th>Fechacreacion</th>
                <th>Observacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for factura in facturas %}
            <tr>
                <td><a href="{{ path('factura_show', { 'id': factura.id }) }}">{{ factura.id }}</a></td>
                <td>{{ factura.numero }}</td>
                <td>{% if factura.estado %}Yes{% else %}No{% endif %}</td>
                <td>{% if factura.fechaCreacion %}{{ factura.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
                <td>{{ factura.observacion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('factura_show', { 'id': factura.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('factura_edit', { 'id': factura.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('factura_new') }}">Create a new factura</a>
        </li>
    </ul>
{% endblock %}
