{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mgdremitentes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Primernombre</th>
                <th>Segundonombre</th>
                <th>Primerapellido</th>
                <th>Segundoapellido</th>
                <th>Identificacion</th>
                <th>Correoelectronico</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mgdRemitente in mgdRemitentes %}
            <tr>
                <td><a href="{{ path('mgdremitente_show', { 'id': mgdRemitente.id }) }}">{{ mgdRemitente.id }}</a></td>
                <td>{{ mgdRemitente.primerNombre }}</td>
                <td>{{ mgdRemitente.segundoNombre }}</td>
                <td>{{ mgdRemitente.primerApellido }}</td>
                <td>{{ mgdRemitente.segundoApellido }}</td>
                <td>{{ mgdRemitente.identificacion }}</td>
                <td>{{ mgdRemitente.correoElectronico }}</td>
                <td>{% if mgdRemitente.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mgdremitente_show', { 'id': mgdRemitente.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mgdremitente_edit', { 'id': mgdRemitente.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mgdremitente_new') }}">Create a new mgdRemitente</a>
        </li>
    </ul>
{% endblock %}
