{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlorestriccions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Foranea</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloRestriccion in vhloRestriccions %}
            <tr>
                <td><a href="{{ path('vhlorestriccion_show', { 'id': vhloRestriccion.id }) }}">{{ vhloRestriccion.id }}</a></td>
                <td>{{ vhloRestriccion.tipo }}</td>
                <td>{{ vhloRestriccion.foranea }}</td>
                <td>{{ vhloRestriccion.descripcion }}</td>
                <td>{% if vhloRestriccion.fecha %}{{ vhloRestriccion.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{% if vhloRestriccion.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlorestriccion_show', { 'id': vhloRestriccion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlorestriccion_edit', { 'id': vhloRestriccion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlorestriccion_new') }}">Create a new vhloRestriccion</a>
        </li>
    </ul>
{% endblock %}
