{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlorestriccion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vhloRestriccion.id }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ vhloRestriccion.tipo }}</td>
            </tr>
            <tr>
                <th>Foranea</th>
                <td>{{ vhloRestriccion.foranea }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ vhloRestriccion.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if vhloRestriccion.fecha %}{{ vhloRestriccion.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if vhloRestriccion.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlorestriccion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vhlorestriccion_edit', { 'id': vhloRestriccion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
