{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgsmlmvs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Valor</th>
                <th>Anio</th>
                <th>Fecha</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgSmlmv in cfgSmlmvs %}
            <tr>
                <td><a href="{{ path('cfgsmlmv_show', { 'id': cfgSmlmv.id }) }}">{{ cfgSmlmv.id }}</a></td>
                <td>{{ cfgSmlmv.valor }}</td>
                <td>{{ cfgSmlmv.anio }}</td>
                <td>{% if cfgSmlmv.fecha %}{{ cfgSmlmv.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if cfgSmlmv.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgsmlmv_show', { 'id': cfgSmlmv.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgsmlmv_edit', { 'id': cfgSmlmv.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgsmlmv_new') }}">Create a new cfgSmlmv</a>
        </li>
    </ul>
{% endblock %}
