{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bpactividads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Unidadmedida</th>
                <th>Cantidad</th>
                <th>Costounitario</th>
                <th>Costototal</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bpActividad in bpActividads %}
            <tr>
                <td><a href="{{ path('bpactividad_show', { 'id': bpActividad.id }) }}">{{ bpActividad.id }}</a></td>
                <td>{{ bpActividad.nombre }}</td>
                <td>{{ bpActividad.unidadMedida }}</td>
                <td>{{ bpActividad.cantidad }}</td>
                <td>{{ bpActividad.costoUnitario }}</td>
                <td>{{ bpActividad.costoTotal }}</td>
                <td>{% if bpActividad.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bpactividad_show', { 'id': bpActividad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bpactividad_edit', { 'id': bpActividad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bpactividad_new') }}">Create a new bpActividad</a>
        </li>
    </ul>
{% endblock %}
