{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mparqcostotrayectos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Costo</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mparqCostoTrayecto in mparqCostoTrayectos %}
            <tr>
                <td><a href="{{ path('mparqcostotrayecto_show', { 'id': mparqCostoTrayecto.id }) }}">{{ mparqCostoTrayecto.id }}</a></td>
                <td>{{ mparqCostoTrayecto.origen }}</td>
                <td>{{ mparqCostoTrayecto.destino }}</td>
                <td>{{ mparqCostoTrayecto.costo }}</td>
                <td>{% if mparqCostoTrayecto.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mparqcostotrayecto_show', { 'id': mparqCostoTrayecto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mparqcostotrayecto_edit', { 'id': mparqCostoTrayecto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mparqcostotrayecto_new') }}">Create a new mparqCostoTrayecto</a>
        </li>
    </ul>
{% endblock %}
