{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mparqcostotrayecto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mparqCostoTrayecto.id }}</td>
            </tr>
            <tr>
                <th>Origen</th>
                <td>{{ mparqCostoTrayecto.origen }}</td>
            </tr>
            <tr>
                <th>Destino</th>
                <td>{{ mparqCostoTrayecto.destino }}</td>
            </tr>
            <tr>
                <th>Costo</th>
                <td>{{ mparqCostoTrayecto.costo }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if mparqCostoTrayecto.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mparqcostotrayecto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mparqcostotrayecto_edit', { 'id': mparqCostoTrayecto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
