{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usercfgrolemenus list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userCfgRoleMenu in userCfgRoleMenus %}
            <tr>
                <td><a href="{{ path('usercfgrolemenu_show', { 'id': userCfgRoleMenu.id }) }}">{{ userCfgRoleMenu.id }}</a></td>
                <td>{% if userCfgRoleMenu.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usercfgrolemenu_show', { 'id': userCfgRoleMenu.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('usercfgrolemenu_edit', { 'id': userCfgRoleMenu.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usercfgrolemenu_new') }}">Create a new userCfgRoleMenu</a>
        </li>
    </ul>
{% endblock %}
