{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inmovilizacion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inmovilizacion.id }}</td>
            </tr>
            <tr>
                <th>Numeropatio</th>
                <td>{{ inmovilizacion.numeroPatio }}</td>
            </tr>
            <tr>
                <th>Numerogrua</th>
                <td>{{ inmovilizacion.numeroGrua }}</td>
            </tr>
            <tr>
                <th>Numeroconsecutivo</th>
                <td>{{ inmovilizacion.numeroConsecutivo }}</td>
            </tr>
            <tr>
                <th>Direccionpatio</th>
                <td>{{ inmovilizacion.direccionPatio }}</td>
            </tr>
            <tr>
                <th>Placagrua</th>
                <td>{{ inmovilizacion.placaGrua }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('inmovilizacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('inmovilizacion_edit', { 'id': inmovilizacion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
