{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvcdocomparendo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cvCdoComparendo.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if cvCdoComparendo.fecha %}{{ cvCdoComparendo.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{% if cvCdoComparendo.hora %}{{ cvCdoComparendo.hora|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Expediente</th>
                <td>{{ cvCdoComparendo.expediente }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ cvCdoComparendo.direccion }}</td>
            </tr>
            <tr>
                <th>Localidad</th>
                <td>{{ cvCdoComparendo.localidad }}</td>
            </tr>
            <tr>
                <th>Placa</th>
                <td>{{ cvCdoComparendo.placa }}</td>
            </tr>
            <tr>
                <th>Infractoridentificacion</th>
                <td>{{ cvCdoComparendo.infractorIdentificacion }}</td>
            </tr>
            <tr>
                <th>Infractornumerolicenciaconduccion</th>
                <td>{{ cvCdoComparendo.infractorNumeroLicenciaConduccion }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ cvCdoComparendo.categoria }}</td>
            </tr>
            <tr>
                <th>Fechaexpedicion</th>
                <td>{% if cvCdoComparendo.fechaExpedicion %}{{ cvCdoComparendo.fechaExpedicion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechavencimiento</th>
                <td>{% if cvCdoComparendo.fechaVencimiento %}{{ cvCdoComparendo.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Infractornombres</th>
                <td>{{ cvCdoComparendo.infractorNombres }}</td>
            </tr>
            <tr>
                <th>Infractorapellidos</th>
                <td>{{ cvCdoComparendo.infractorApellidos }}</td>
            </tr>
            <tr>
                <th>Infractordireccion</th>
                <td>{{ cvCdoComparendo.infractorDireccion }}</td>
            </tr>
            <tr>
                <th>Infractorfechanacimiento</th>
                <td>{% if cvCdoComparendo.infractorFechaNacimiento %}{{ cvCdoComparendo.infractorFechaNacimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Infractortelefono</th>
                <td>{{ cvCdoComparendo.infractorTelefono }}</td>
            </tr>
            <tr>
                <th>Infractormunicipioresidencia</th>
                <td>{{ cvCdoComparendo.infractorMunicipioResidencia }}</td>
            </tr>
            <tr>
                <th>Infractoremail</th>
                <td>{{ cvCdoComparendo.infractorEmail }}</td>
            </tr>
            <tr>
                <th>Numerolicenciatransito</th>
                <td>{{ cvCdoComparendo.numeroLicenciaTransito }}</td>
            </tr>
            <tr>
                <th>Propietarioidentificacion</th>
                <td>{{ cvCdoComparendo.propietarioIdentificacion }}</td>
            </tr>
            <tr>
                <th>Propietarionombre</th>
                <td>{{ cvCdoComparendo.propietarioNombre }}</td>
            </tr>
            <tr>
                <th>Propietarioapellidos</th>
                <td>{{ cvCdoComparendo.propietarioApellidos }}</td>
            </tr>
            <tr>
                <th>Empresanit</th>
                <td>{{ cvCdoComparendo.empresaNit }}</td>
            </tr>
            <tr>
                <th>Empresanombre</th>
                <td>{{ cvCdoComparendo.empresaNombre }}</td>
            </tr>
            <tr>
                <th>Tarjetaoperacion</th>
                <td>{{ cvCdoComparendo.tarjetaOperacion }}</td>
            </tr>
            <tr>
                <th>Observacionesagente</th>
                <td>{{ cvCdoComparendo.observacionesAgente }}</td>
            </tr>
            <tr>
                <th>Observacionesdigitador</th>
                <td>{{ cvCdoComparendo.observacionesDigitador }}</td>
            </tr>
            <tr>
                <th>Testigonombres</th>
                <td>{{ cvCdoComparendo.testigoNombres }}</td>
            </tr>
            <tr>
                <th>Testigoapellidos</th>
                <td>{{ cvCdoComparendo.testigoApellidos }}</td>
            </tr>
            <tr>
                <th>Testigoidentificacion</th>
                <td>{{ cvCdoComparendo.testigoIdentificacion }}</td>
            </tr>
            <tr>
                <th>Testigodireccion</th>
                <td>{{ cvCdoComparendo.testigoDireccion }}</td>
            </tr>
            <tr>
                <th>Testigotelefono</th>
                <td>{{ cvCdoComparendo.testigoTelefono }}</td>
            </tr>
            <tr>
                <th>Fuga</th>
                <td>{% if cvCdoComparendo.fuga %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Accidente</th>
                <td>{% if cvCdoComparendo.accidente %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Retencionlicencia</th>
                <td>{% if cvCdoComparendo.retencionLicencia %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Valorinfraccion</th>
                <td>{{ cvCdoComparendo.valorInfraccion }}</td>
            </tr>
            <tr>
                <th>Interesmora</th>
                <td>{{ cvCdoComparendo.interesMora }}</td>
            </tr>
            <tr>
                <th>Valorpagar</th>
                <td>{{ cvCdoComparendo.valorPagar }}</td>
            </tr>
            <tr>
                <th>Urldocumento</th>
                <td>{{ cvCdoComparendo.urlDocumento }}</td>
            </tr>
            <tr>
                <th>Polca</th>
                <td>{% if cvCdoComparendo.polca %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Audiencia</th>
                <td>{% if cvCdoComparendo.audiencia %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Recurso</th>
                <td>{% if cvCdoComparendo.recurso %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Notificado</th>
                <td>{% if cvCdoComparendo.notificado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Pagado</th>
                <td>{% if cvCdoComparendo.pagado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Curso</th>
                <td>{% if cvCdoComparendo.curso %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Porcentajedescuento</th>
                <td>{{ cvCdoComparendo.porcentajeDescuento }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if cvCdoComparendo.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Servicio</th>
                <td>{{ cvCdoComparendo.servicio }}</td>
            </tr>
            <tr>
                <th>Clase</th>
                <td>{{ cvCdoComparendo.clase }}</td>
            </tr>
            <tr>
                <th>Radioaccion</th>
                <td>{{ cvCdoComparendo.radioAccion }}</td>
            </tr>
            <tr>
                <th>Modalidadtransporte</th>
                <td>{{ cvCdoComparendo.modalidadTransporte }}</td>
            </tr>
            <tr>
                <th>Transportepasajero</th>
                <td>{{ cvCdoComparendo.transportePasajero }}</td>
            </tr>
            <tr>
                <th>Transporteespecial</th>
                <td>{{ cvCdoComparendo.transporteEspecial }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvcdocomparendo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cvcdocomparendo_edit', { 'id': cvCdoComparendo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
