{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvcfgporcentajeinicials list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Anio</th>
                <th>Valor</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cvCfgPorcentajeInicial in cvCfgPorcentajeInicials %}
            <tr>
                <td><a href="{{ path('cvcfgporcentajeinicial_show', { 'id': cvCfgPorcentajeInicial.id }) }}">{{ cvCfgPorcentajeInicial.id }}</a></td>
                <td>{{ cvCfgPorcentajeInicial.anio }}</td>
                <td>{{ cvCfgPorcentajeInicial.valor }}</td>
                <td>{% if cvCfgPorcentajeInicial.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cvcfgporcentajeinicial_show', { 'id': cvCfgPorcentajeInicial.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cvcfgporcentajeinicial_edit', { 'id': cvCfgPorcentajeInicial.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvcfgporcentajeinicial_new') }}">Create a new cvCfgPorcentajeInicial</a>
        </li>
    </ul>
{% endblock %}
