{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userlcrestriccion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userLcRestriccion.id }}</td>
            </tr>
            <tr>
                <th>Fechacancelacion</th>
                <td>{% if userLcRestriccion.fechaCancelacion %}{{ userLcRestriccion.fechaCancelacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecharesolucion</th>
                <td>{% if userLcRestriccion.fechaResolucion %}{{ userLcRestriccion.fechaResolucion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tipoacto</th>
                <td>{{ userLcRestriccion.tipoActo }}</td>
            </tr>
            <tr>
                <th>Numeroresolucion</th>
                <td>{{ userLcRestriccion.numeroResolucion }}</td>
            </tr>
            <tr>
                <th>Fechainicio</th>
                <td>{% if userLcRestriccion.fechaInicio %}{{ userLcRestriccion.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechafin</th>
                <td>{% if userLcRestriccion.fechaFin %}{{ userLcRestriccion.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ userLcRestriccion.tipo }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ userLcRestriccion.estado }}</td>
            </tr>
            <tr>
                <th>Horascomunitarias</th>
                <td>{% if userLcRestriccion.horasComunitarias %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if userLcRestriccion.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userlcrestriccion_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
