{% extends 'base.html.twig' %}

{% block body %}
    <h1>Froinfraccion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ froInfraccion.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ froInfraccion.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ froInfraccion.codigo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ froInfraccion.descripcion }}</td>
            </tr>
            <tr>
                <th>Retiene</th>
                <td>{% if froInfraccion.retiene %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Inmoviliza</th>
                <td>{% if froInfraccion.inmoviliza %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Dias</th>
                <td>{{ froInfraccion.dias }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if froInfraccion.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('froinfraccion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('froinfraccion_edit', { 'id': froInfraccion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
