{% extends 'base.html.twig' %}

{% block body %}
    <h1>Frotrtecfgcuentas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Numero</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for froTrteCfgCuentum in froTrteCfgCuentas %}
            <tr>
                <td><a href="{{ path('frotrtecfgcuenta_show', { 'id': froTrteCfgCuentum.id }) }}">{{ froTrteCfgCuentum.id }}</a></td>
                <td>{{ froTrteCfgCuentum.nombre }}</td>
                <td>{{ froTrteCfgCuentum.numero }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('frotrtecfgcuenta_show', { 'id': froTrteCfgCuentum.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
