{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tecnomecanica</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tecnoMecanica.id }}</td>
            </tr>
            <tr>
                <th>Numerocontrol</th>
                <td>{{ tecnoMecanica.numeroControl }}</td>
            </tr>
            <tr>
                <th>Fechaexpedicion</th>
                <td>{% if tecnoMecanica.fechaExpedicion %}{{ tecnoMecanica.fechaExpedicion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechavencimiento</th>
                <td>{% if tecnoMecanica.fechaVencimiento %}{{ tecnoMecanica.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if tecnoMecanica.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tecnomecanica_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tecnomecanica_edit', { 'id': tecnoMecanica.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
