{% extends 'base.html.twig' %}

{% block body %}
    <h1>Infraccion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ infraccion.id }}</td>
            </tr>
            <tr>
                <th>Codigoinfraccion</th>
                <td>{{ infraccion.codigoInfraccion }}</td>
            </tr>
            <tr>
                <th>Descripcioninfraccion</th>
                <td>{{ infraccion.descripcionInfraccion }}</td>
            </tr>
            <tr>
                <th>Valorinfraccion</th>
                <td>{{ infraccion.valorInfraccion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('infraccion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('infraccion_edit', { 'id': infraccion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
