{% extends 'base.html.twig' %}

{% block body %}
    <h1>Caso list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for caso in casos %}
            <tr>
                <td><a href="{{ path('caso_show', { 'id': caso.id }) }}">{{ caso.id }}</a></td>
                <td>{{ caso.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('caso_show', { 'id': caso.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('caso_edit', { 'id': caso.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('caso_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
