{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgclasemaquinarias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgClaseMaquinarium in vhloCfgClaseMaquinarias %}
            <tr>
                <td><a href="{{ path('vhlocfgclasemaquinaria_show', { 'id': vhloCfgClaseMaquinarium.id }) }}">{{ vhloCfgClaseMaquinarium.id }}</a></td>
                <td>{{ vhloCfgClaseMaquinarium.nombre }}</td>
                <td>{{ vhloCfgClaseMaquinarium.codigo }}</td>
                <td>{% if vhloCfgClaseMaquinarium.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfgclasemaquinaria_show', { 'id': vhloCfgClaseMaquinarium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlocfgclasemaquinaria_edit', { 'id': vhloCfgClaseMaquinarium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfgclasemaquinaria_new') }}">Create a new vhloCfgClaseMaquinarium</a>
        </li>
    </ul>
{% endblock %}
