{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bprecursos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Cantidadmedida</th>
                <th>Cantidad</th>
                <th>Valorunitario</th>
                <th>Valortotal</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bpRecurso in bpRecursos %}
            <tr>
                <td><a href="{{ path('bprecurso_show', { 'id': bpRecurso.id }) }}">{{ bpRecurso.id }}</a></td>
                <td>{{ bpRecurso.nombre }}</td>
                <td>{{ bpRecurso.tipo }}</td>
                <td>{{ bpRecurso.cantidadMedida }}</td>
                <td>{{ bpRecurso.cantidad }}</td>
                <td>{{ bpRecurso.valorUnitario }}</td>
                <td>{{ bpRecurso.valorTotal }}</td>
                <td>{% if bpRecurso.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bprecurso_show', { 'id': bpRecurso.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bprecurso_edit', { 'id': bpRecurso.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bprecurso_new') }}">Create a new bpRecurso</a>
        </li>
    </ul>
{% endblock %}
