{% extends 'base.html.twig' %}

{% block body %}
    <h1>Alertas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alertum in alertas %}
            <tr>
                <td><a href="{{ path('alerta_show', { 'id': alertum.id }) }}">{{ alertum.id }}</a></td>
                <td>{{ alertum.nombre }}</td>
                <td>{% if alertum.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('alerta_show', { 'id': alertum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('alerta_edit', { 'id': alertum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('alerta_new') }}">Create a new alertum</a>
        </li>
    </ul>
{% endblock %}
