{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfglicenciaconduccioncategorias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgLicenciaConduccionCategorium in cfgLicenciaConduccionCategorias %}
            <tr>
                <td><a href="{{ path('cfglicenciaconduccioncategoria_show', { 'id': cfgLicenciaConduccionCategorium.id }) }}">{{ cfgLicenciaConduccionCategorium.id }}</a></td>
                <td>{{ cfgLicenciaConduccionCategorium.nombre }}</td>
                <td>{{ cfgLicenciaConduccionCategorium.descripcion }}</td>
                <td>{% if cfgLicenciaConduccionCategorium.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfglicenciaconduccioncategoria_show', { 'id': cfgLicenciaConduccionCategorium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfglicenciaconduccioncategoria_edit', { 'id': cfgLicenciaConduccionCategorium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfglicenciaconduccioncategoria_new') }}">Create a new cfgLicenciaConduccionCategorium</a>
        </li>
    </ul>
{% endblock %}
