<html>
  <header>
  </header>
  <body>

    <p class="text-justify">
    	San Juan de Pasto, {{ fechaActual }}
    </p>
    <br>
    <br>
    <br>
    <p style="text-align:center;"><b>PLAN ESTRATÉGICO DE SEGURIDAD VIAL</b></p>
    <table>
        <thead>
            <tr>
                <th><b>Formato del PESV 005</b></th>
                <th><b>Puntaje obtenido:</b> {{ evaluacion.resultadoFinal }}%</th>
            </tr>
        </thead>
            <tr>
                <br>
                <td><b>Consecutivo No: </b>{{ evaluacion.revision.consecutivo }}</td>
                <td><b>Con número de radicado:</b> {{ evaluacion.revision.numeroRadicado }}</td>
            </tr>
    </table>
    <p><b>Fecha en que se había radicado el PESV:</b> {{ evaluacion.revision.fechaRecepcion }}</p>
    <p>
        <table border="1">
            <thead>
                <tr>
                    <th> <b>OBSERVACIONES DEL PILAR </b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> a). Gestion institucional: {{ evaluacion.valorObtenidoFortalecimiento }}</td>
                </tr>
                <tr>
                    <td> b). Comportamiento Humano: {{ evaluacion.valorObtenidoComportamiento }}</td>
                </tr>
                <tr>
                    <td> c). Vehículos Seguros: {{ evaluacion.valorObtenidoVehiculoSeguro }}</td>
                </tr>
                <tr>
                    <td> d). Infraestructura Segura: {{ evaluacion.valorObtenidoInfraestructuraSegura }}</td>
                </tr>
                <tr>
                    <td> e). Atención a víctimas: {{ evaluacion.valorObtenidoAtencionVictima }}</td>
                </tr>
                <tr>
                    <td> f). Valor Agregado: {{ evaluacion.valorObtenidoValorAgregado }}</td>
                </tr>
                <tr>
                    <td> Sugerencias: <br></td>
                </tr>
                <tr>
                    <td> Recomendaciones: <br></td>
                </tr>
            </tbody>
        </table>       
        <p style="text-align:center;"><b>NOTIFICACIÓN DEL AVAL</b></p>
        <b>  Autoridad de tránsito: </b> {{ funcionario.organismoTransito.nombre }}<br>
        <b>Funcionario que adelanta el proceso: </b> {{ funcionario.ciudadano.primerNombre }} {{ funcionario.ciudadano.segundoNombre }} {{ funcionario.ciudadano.primerApellido }} {{ funcionario.ciudadano.segundoApellido }}<br>
        <b>Cargo:</b> {{ funcionario.cargo.nombre }}          
        <b>Teléfono:</b> {{ funcionario.ciudadano.telefono }}<br>
        <b>Email:</b> {{ funcionario.ciudadano.usuario.correo }}<br>
        <br>
        <b>Entidad, organización o empresa notificada: </b> {{ evaluacion.empresa.nombre }}<br>
        <b>NIT: </b> {{ evaluacion.empresa.nit }}<br>
        <b>Dirección Correspondencia: </b> {{ evaluacion.empresa.direccion }}<br>
        <b>Teléfono: </b> {{ evaluacion.empresa.telefono }}                  
        <b>Email: </b> {{ evaluacion.revision.correo }}<br>
        <b>Persona de contacto de la empresa:</b> {{ evaluacion.revision.personaContacto }}<br>
        <p>En constancia firman:</p>
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <br>
                    <th>__________________________________</th>
                    <th>__________________________________</th>
                </tr>
            </thead>
                <tr>
                    <br>
                    <td>Autoridad de tránsito</td>
                    <td>Por la empresa</td>
                </tr>
        </table>
        <br>
        <br>
        <p>Dado en la ciudad de Pasto, el {{ fechaActual}}</p>
    </p>
  </body>
</html>