<html>
  <header>
  </header>
  <body>

    <p class="text-justify">
    	San Juan de Pasto, {{ fechaActual }}.
    	<br>
    	<br>
    	<br>
    </p>
    <table style="border:none;">
            <tr>
                <td>
                    <img src="{{ asset('img/logo-entidad.png') }}" height="40px" />
                </td>
            </tr>
        </table>
    <p style="text-align:center;">
        <b>PLAN ESTRATEGICO DE SEGURIDAD VIAL DEVOLUCION CON OBSERVACIONES</b>
        <br>      
    </p>
    <p>Formato del PESV</p><br>
    <p>Consecutivo No: {{ evaluacion.id }}</p>
    <p>Fecha en que se había radicado el PESV: {{ evaluacion.fecha }}</p>
    <p>Con número de radicado: ____________________________</p>
    <p>Puntaje obtenido: {{ evaluacion.resultadoFinal }}</p><br>
    <p>
        <table>
            <tr>
                <td width="70%">OBSERVACIONES DEL PILAR</td>
            </tr>
            <td>a). Gestion institucional: {{ evaluacion.valorObtenidoFortalecimiento }}</td>
            <tr></tr>
            <td>b). Comportamiento Humano: {{ evaluacion.valorObtenidoComportamiento }}</td>
            <tr></tr>
            <td>c). Vehículos Seguros: {{ evaluacion.valorObtenidoVehiculoSeguro }}</td>
            <tr></tr>
            <td>d). Infraestructura Segura: {{ evaluacion.valorObtenidoInfraestructuraSegura }}</td>
            <tr></tr>
            <td>e). Atención a víctimas: {{ evaluacion.valorObtenidoAtencionVictima }}</td>
            <tr></tr>
            <td>f). Valor Agregado: {{ evaluacion.valorObtenidoValorAgregado }}</td>
            <tr></tr>
            <td>Sugerencias: </td>
            <tr></tr>
            <td>Recomendaciones: </td>
        </table>       
        <br>
        <p>Fecha límite en que debe retornar documento de PESV: {{ evaluacion.fechaLimite }}</p>
        <br>
        <br>
        NOTIFICACIÓN A LA EMPRESA
        <p><b>AUTORIDAD DE TRANSITO:</b> {{ evaluacion }}</p>
        <p><b>FUNCIONARIO QUE ADELANTA EL PROCESO:</b> _______________________________________________________________</p><br>
        <p><b>Cargo:</b> _______________________________________________________________</p><br>
        <p><b>Tel:</b> _______________________________________________________________</p><br>
        <p><b>Email:</b> _______________________________________________________________</p><br>
        <p><b>Entidad, organización o empresa notificada: </b> {{ evaluacion.empresa.nombre }}</p>
        <p><b>NIT: </b> {{ evaluacion.empresa.nit }}</p>
        <p><b>Dirección Correspondencia: </b> {{ evaluacion.empresa.direccion }}</p>
        <p><b>Teléfono: </b> {{ evaluacion.empresa.telefono }}</p>
        <p><b>Email: </b> {{ evaluacion.revision.correo }}</p>
        <p><b>Persona de contacto de la empresa:</b> {{ evaluacion.revision.personaContacto }}</p><br>
        <p>En constancia firman: </p>
        <br>
        <br>
        <br>
        <p>__________________________________________</p>
        <p>Autoridad de transito</p>
        <p>__________________________________________</p>
        <p>Por la empresa</p>
        <p>Dado en la ciudad de Pasto, el {{ fechaActual}}</p>
    </p>
  </body>
</html>