<html>
    <header>
    </header>
    <body>
        <p class="text-justify">
    	    San Juan de Pasto, {{ fechaActual }}.
        </p>
        <br>
        <br>
        <br>
        <p style="text-align:center;">
            <b>PLAN ESTRATÉGICO DE SEGURIDAD VIAL DEVOLUCIÓN CON OBSERVACIONES</b>  
        </p>
        <table>
            <thead>
                <tr>
                    <th><b>Formato del PESV 004</b></th>
                    <th><b>Puntaje obtenido: </b>{{ evaluacion.resultadoFinal }}%</th>
                </tr>
            </thead>
                <tr>
                    <br>
                    <td><b>Consecutivo No: </b>{{ evaluacion.revision.consecutivo }}</td>
                    <td><b>Número de radicado:</b> {{ evaluacion.revision.numeroRadicado }}</td>
                </tr>
        </table>
        <p><b>Fecha de revisión: </b>{{ evaluacion.revision.fechaRevision }}</p>
        <p>
            <table border="1">
                <thead>
                    <tr>
                        <th><br><b>OBSERVACIONES DEL PILAR </b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> a). Gestion institucional: {{ evaluacion.valorObtenidoFortalecimiento }}</td>
                    </tr>
                    <tr>
                        <td> b). Comportamiento Humano: {{ evaluacion.valorObtenidoComportamiento }}</td>
                    </tr>
                    <tr>
                        <td> c). Vehículos Seguros: {{ evaluacion.valorObtenidoVehiculoSeguro }}</td>
                    </tr>
                    <tr>
                        <td> d). Infraestructura Segura: {{ evaluacion.valorObtenidoInfraestructuraSegura }}</td>
                    </tr>
                    <tr>
                        <td> e). Atención a víctimas: {{ evaluacion.valorObtenidoAtencionVictima }}</td>
                    </tr>
                    <tr>
                        <td> f). Valor Agregado: {{ evaluacion.valorObtenidoValorAgregado }}</td>
                    </tr>
                    <tr>
                        <td> Sugerencias: <br></td>
                    </tr>
                    <tr>
                        <td> Recomendaciones: <br></td>
                    </tr>
                </tbody>
            </table>       
            <p>Fecha límite en que debe retornar documento de PESV: <b>{{ evaluacion.revision.fechaDevolucion }}</b></p>
            <p style="text-align:center;"><b>NOTIFICACIÓN A LA EMPRESA</b></p>
            <b>  Autoridad de tránsito: </b> {{ evaluacion.id }}<br>
            <b>Funcionario que adelanta el proceso: </b>{{ funcionario.ciudadano.primerNombre }} {{ funcionario.ciudadano.segundoNombre }} {{ funcionario.ciudadano.primerApellido }} {{ funcionario.ciudadano.segundoApellido }}<br>
            <b>Cargo:</b> {{ funcionario.cargo.nombre }}<br>  
            <b>Teléfono:</b> {{ funcionario.ciudadano.telefono }}<br>
            <b>Email:</b> {{ funcionario.ciudadano.usuario.correo }}<br><br>
            <b>Entidad, organización o empresa notificada: </b> {{ evaluacion.empresa.nombre }}<br>
            <b>NIT: </b> {{ evaluacion.empresa.nit }}<br>
            <b>Dirección Correspondencia: </b> {{ evaluacion.empresa.direccion }}<br>
            <b>Teléfono: </b> {{ evaluacion.empresa.telefono }}<br>                  
            <b>Email: </b> {{ evaluacion.revision.correo }}<br>
            <b>Persona de contacto de la empresa:</b> {{ evaluacion.revision.personaContacto }}<br>
            <p>En constancia firman: </p><br>
            <p>__________________________________________</p>
            <p>Autoridad de tránsito</p><br>
            <p>Dado en la ciudad de Pasto, el {{ fechaActual}}</p>
        </p>
    </body>
</html>