<html>
    <header>
    </header>
    <body>
        <p class="text-justify">
    	    San Juan de Pasto, {{ fechaActual }}.
        </p>
        <br>
        <br>
        <br>
        <p style="text-align:center;">
            <b>PLAN ESTRATÉGICO DE SEGURIDAD VIAL DEVOLUCIÓN CON OBSERVACIONES</b>  
        </p>
        <table>
            <thead>
                <tr>
                    <th><b>Formato del PESV 004</b></th>
                    <th><b>Puntaje obtenido: </b>{{ evaluacion.resultadoFinal }}%</th>
                </tr>
            </thead>
                <tr>
                    <br>
                    <td><b>Consecutivo No: </b>{{ evaluacion.revision.consecutivo }}</td>
                    <td><b>Número de radicado:</b> {{ evaluacion.revision.numeroRadicado }}</td>
                </tr>
        </table>
        <p><b>Fecha de revisión: </b>{{ evaluacion.revision.fechaRevision }}</p>
        <p>
            <table border="1">
                <thead>
                    <tr>
                        <th><br><b>OBSERVACIONES DEL PILAR </b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b> a). Gestion institucional:</b> El resultado de este pilar es de {{ evaluacion.valorObtenidoFortalecimiento }}%, se invita a seguir las recomendaciones plasmadas en la tabla 1 para llegar al 100%.</td>
                    </tr>
                    <tr>
                        <td><b> b). Comportamiento Humano:</b> El resultado de este pilar es de {{ evaluacion.valorObtenidoComportamiento }}%, se invita a seguir las recomendaciones plasmadas en la tabla 2 para llegar al 100%.</td>
                    </tr>
                    <tr>
                        <td><b> c). Vehículos Seguros:</b> El resultado de este pilar es de {{ evaluacion.valorObtenidoVehiculoSeguro }}%, se invita a seguir las recomendaciones plasmadas en la tabla 3 para llegar al 100%.</td>
                    </tr>
                    <tr>
                        <td><b> d). Infraestructura Segura:</b> El resultado de este pilar es de {{ evaluacion.valorObtenidoInfraestructuraSegura }}%, se invita a seguir las recomendaciones plasmadas en la tabla 4 para llegar al 100%.</td>
                    </tr>
                    <tr>
                        <td><b> e). Atención a víctimas:</b> El resultado de este pilar es de {{ evaluacion.valorObtenidoAtencionVictima }}%, se invita a seguir las recomendaciones plasmadas en la tabla 5 para llegar al 100%.</td>
                    </tr>
                    <tr>
                        <td><b> f). Valor Agregado:</b> El resultado de este pilar es de {{ evaluacion.valorObtenidoValorAgregado }}%, se invita a seguir las recomendaciones plasmadas en la tabla 6 para llegar al 100%.</td>
                    </tr>
                    <tr>
                        <td><b> Sugerencias:</b> Es necesario plasmar las acciones desarrolladas dentro de la empresa en el documento presentado de igual manera anexar al PESV los medios magnéticos que se estableazcan necesarios.</td>
                    </tr>
                    <tr>
                        <td><b> Recomendaciones:</b> Solicitar a la ARL un acompañamiento directo para el desarrollo de algunos pilares del PESV.</td>
                    </tr>
                </tbody>
            </table>       
            <p>Fecha límite en que debe retornar documento de PESV: <b>{{ evaluacion.revision.fechaDevolucion }}</b></p>
            <span pagebreak = "true"></span>
            <p style="text-align:center;"><b>NOTIFICACIÓN A LA EMPRESA</b></p>
            <b>  Autoridad de tránsito: </b> {{ funcionario.organismoTransito.nombre }}<br>
            <b>Funcionario que adelanta el proceso: </b>{{ funcionario.ciudadano.primerNombre }} {{ funcionario.ciudadano.segundoNombre }} {{ funcionario.ciudadano.primerApellido }} {{ funcionario.ciudadano.segundoApellido }}<br>
            <b>Cargo:</b> {{ funcionario.cargo.nombre }}<br>  
            <b>Teléfono:</b> {{ funcionario.ciudadano.telefonoCelular }}<br>
            <b>Email:</b> {{ funcionario.ciudadano.usuario.correo }}<br><br>
            <b>Entidad, organización o empresa notificada: </b> {{ evaluacion.empresa.nombre }}<br>
            <b>NIT: </b> {{ evaluacion.empresa.nit }}<br>
            <b>Dirección Correspondencia: </b> {{ evaluacion.empresa.direccion }}<br>
            <b>Teléfono: </b> {{ evaluacion.empresa.telefono }}<br>                  
            <b>Email: </b> {{ evaluacion.revision.correo }}<br>
            <b>Persona de contacto de la empresa:</b> {{ evaluacion.revision.personaContacto }}<br><br><br><br><br><br>
            <p>En constancia firman: </p><br>
            <p>__________________________________________</p>
            <p>Autoridad de tránsito</p><br>
            <p>Dado en la ciudad de Pasto, el {{ fechaActual}}</p>
        </p>
    </body>
</html>