<html>
    <header>
    </header>
    <body>
        <p class="text-justify">
    	    San Juan de Pasto, {{ fechaActual }}.
    	    <br>
    	    <br>
    	    <br>
        </p>
        <p style="text-align:center;">
            <b>PLAN ESTRATEGICO DE SEGURIDAD VIAL DEVOLUCION CON OBSERVACIONES</b>  
        </p>
        <p><b>Formato del PESV 004</b></p>
        <p><b>Consecutivo No: </b>{{ evaluacion.revision.consecutivo }}</p>
        <p><b>Número de radicado:</b> {{ evaluacion.revision.numeroRadicado }}</p> 
        <p><b>Puntaje obtenido: </b>{{ evaluacion.resultadoFinal }}%</p>
        <p><b>Fecha de revisión: </b>{{ evaluacion.revision.fechaRevision }}</p><br>
        <p>
            <table border="1">
                <thead>
                    <tr>
                        <th><br><b>OBSERVACIONES DEL PILAR </b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> a). Gestion institucional: {{ evaluacion.valorObtenidoFortalecimiento }}</td>
                    </tr>
                    <tr>
                        <td> b). Comportamiento Humano: {{ evaluacion.valorObtenidoComportamiento }}</td>
                    </tr>
                    <tr>
                        <td> c). Vehículos Seguros: {{ evaluacion.valorObtenidoVehiculoSeguro }}</td>
                    </tr>
                    <tr>
                        <td> d). Infraestructura Segura: {{ evaluacion.valorObtenidoInfraestructuraSegura }}</td>
                    </tr>
                    <tr>
                        <td> e). Atención a víctimas: {{ evaluacion.valorObtenidoAtencionVictima }}</td>
                    </tr>
                    <tr>
                        <td> f). Valor Agregado: {{ evaluacion.valorObtenidoValorAgregado }}</td>
                    </tr>
                    <tr>
                        <td> Sugerencias: <br></td>
                    </tr>
                    <tr>
                        <td> Recomendaciones: <br></td>
                    </tr>
                </tbody>
            </table>       
            <br>
            <p>Fecha límite en que debe retornar documento de PESV: <b>{{ evaluacion.revision.fechaDevolucion }}</b></p>
            <p style="text-align:center;"><b>NOTIFICACIÓN A LA EMPRESA</b></p>
            <p><b>Autoridad de transito: </b> {{ evaluacion.id }}</p>
            <p><b>Funcionario que adelanta el proceso: </b>{{ funcionario.ciudadano.primerNombre }} {{ funcionario.ciudadano.segundoNombre }} {{ funcionario.ciudadano.primerApellido }} {{ funcionario.ciudadano.segundoApellido }}</p>
            <p><b>Cargo:</b> {{ funcionario.cargo.nombre }}          <b>Tel:</b> {{ funcionario.ciudadano.telefono }}</p>
            <p><b>Email:</b> {{ funcionario.ciudadano.usuario.correo }}</p>
            <p><b>Entidad, organización o empresa notificada: </b> {{ evaluacion.empresa.nombre }}</p>
            <p><b>NIT: </b> {{ evaluacion.empresa.nit }}</p>
            <p><b>Dirección Correspondencia: </b> {{ evaluacion.empresa.direccion }}</p>
            <p><b>Teléfono: </b> {{ evaluacion.empresa.telefono }}                  <b>             Email: </b> {{ evaluacion.revision.correo }}</p>
            <p><b>Persona de contacto de la empresa:</b> {{ evaluacion.revision.personaContacto }}</p>
            <br>
            <p>En constancia firman: </p>
            <br>
            <br>
            <p>__________________________________________</p>
            <p>Autoridad de transito</p>
            <p>Dado en la ciudad de Pasto, el {{ fechaActual}}</p>
        </p>
    </body>
</html>