<html>
    <header></header>
    <body>

        <p class="text-justify">
            San Juan de Pasto,
            {{ fechaActual }}
        </p>
        <br>
        <br>
        <br>
        <p style="text-align:center;">
            <b>CALIFICACIONES EMPRESA {{ empresa.nombre }}</b>
        </p>
        <p>
            <table border="1">
                <thead>
                    <tr>
                        <th>
                            <b>OBSERVACIONES DEL PILAR
                            </b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b>
                                a). Gestion institucional:</b>
                            El resultado de este pilar es de
                            {{ evaluacion.valorObtenidoFortalecimiento }}%.</td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                b). Comportamiento Humano:</b>
                            El resultado de este pilar es de
                            {{ evaluacion.valorObtenidoComportamiento }}%.</td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                c). Vehículos Seguros:</b>
                            El resultado de este pilar es de
                            {{ evaluacion.valorObtenidoVehiculoSeguro }}%.</td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                d). Infraestructura Segura:</b>
                            El resultado de este pilar es de
                            {{ evaluacion.valorObtenidoInfraestructuraSegura }}%.</td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                e). Atención a víctimas:</b>
                            El resultado de este pilar es de
                            {{ evaluacion.valorObtenidoAtencionVictima }}%.</td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                f). Valor Agregado:</b>
                            El resultado de este pilar es de
                            {{ evaluacion.valorObtenidoValorAgregado }}%.</td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Sugerencias:</b>
                            Continuar con las acciones planteadas en PESV.</td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Recomendaciones:</b>
                            Pendiente las fechasde auditoria del PESV.</td>
                    </tr>
                </tbody>
            </table>
        </p>
    </body>
</html>
