{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mpersonalfuncionarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cargo</th>
                <th>Actaposesion</th>
                <th>Resolucion</th>
                <th>Numerocontrato</th>
                <th>Fechainicio</th>
                <th>Fechafin</th>
                <th>Numeroplaca</th>
                <th>Inhabilidad</th>
                <th>Novedad</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mpersonalFuncionario in mpersonalFuncionarios %}
            <tr>
                <td><a href="{{ path('mpersonalfuncionario_show', { 'id': mpersonalFuncionario.id }) }}">{{ mpersonalFuncionario.id }}</a></td>
                <td>{{ mpersonalFuncionario.cargo }}</td>
                <td>{{ mpersonalFuncionario.actaPosesion }}</td>
                <td>{{ mpersonalFuncionario.resolucion }}</td>
                <td>{{ mpersonalFuncionario.numeroContrato }}</td>
                <td>{% if mpersonalFuncionario.fechaInicio %}{{ mpersonalFuncionario.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                <td>{% if mpersonalFuncionario.fechaFin %}{{ mpersonalFuncionario.fechaFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ mpersonalFuncionario.numeroPlaca }}</td>
                <td>{{ mpersonalFuncionario.inhabilidad }}</td>
                <td>{{ mpersonalFuncionario.novedad }}</td>
                <td>{% if mpersonalFuncionario.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mpersonalfuncionario_show', { 'id': mpersonalFuncionario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mpersonalfuncionario_edit', { 'id': mpersonalFuncionario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mpersonalfuncionario_new') }}">Create a new mpersonalFuncionario</a>
        </li>
    </ul>
{% endblock %}
