{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mpersonalfuncionario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mpersonalFuncionario.id }}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td>{{ mpersonalFuncionario.cargo }}</td>
            </tr>
            <tr>
                <th>Actaposesion</th>
                <td>{{ mpersonalFuncionario.actaPosesion }}</td>
            </tr>
            <tr>
                <th>Resolucion</th>
                <td>{{ mpersonalFuncionario.resolucion }}</td>
            </tr>
            <tr>
                <th>Numerocontrato</th>
                <td>{{ mpersonalFuncionario.numeroContrato }}</td>
            </tr>
            <tr>
                <th>Fechainicio</th>
                <td>{% if mpersonalFuncionario.fechaInicio %}{{ mpersonalFuncionario.fechaInicio|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechafin</th>
                <td>{% if mpersonalFuncionario.fechaFin %}{{ mpersonalFuncionario.fechaFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numeroplaca</th>
                <td>{{ mpersonalFuncionario.numeroPlaca }}</td>
            </tr>
            <tr>
                <th>Inhabilidad</th>
                <td>{{ mpersonalFuncionario.inhabilidad }}</td>
            </tr>
            <tr>
                <th>Novedad</th>
                <td>{{ mpersonalFuncionario.novedad }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if mpersonalFuncionario.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mpersonalfuncionario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mpersonalfuncionario_edit', { 'id': mpersonalFuncionario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
