{% extends 'base.html.twig' %}

{% block body %}
    <h1>MsvSenials list</h1>

    <table>
        <thead>
            <tr>
                <th>Xdestino</th>
                <th>Mrfsvhu08id</th>
                <th>Id</th>
				<th>Archivo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for msvSenial in msvSenials %}
            <tr>
                <td><a href="{{ path('msvSenial_show', { 'id': msvSenial.id }) }}">{{ msvSenial.xDestino }}</a></td>
                <td>{{ msvSenial.mrfsvHu08Id }}</td>
                <td>{{ msvSenial.id }}</td>
				<td>{{ mrfsvHu08.archivo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('msvSenial_show', { 'id': msvSenial.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('msvSenial_edit', { 'id': msvSenial.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('msvSenial_new') }}">Create a new msvSenial</a>
        </li>
    </ul>
{% endblock %}
