{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlosoats list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechaexpedicion</th>
                <th>Fechavigencia</th>
                <th>Fechavencimiento</th>
                <th>Numeropoliza</th>
                <th>Nombreempresa</th>
                <th>Activo</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloSoat in vhloSoats %}
            <tr>
                <td><a href="{{ path('vhlosoat_show', { 'id': vhloSoat.id }) }}">{{ vhloSoat.id }}</a></td>
                <td>{% if vhloSoat.fechaExpedicion %}{{ vhloSoat.fechaExpedicion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if vhloSoat.fechaVigencia %}{{ vhloSoat.fechaVigencia|date('Y-m-d') }}{% endif %}</td>
                <td>{% if vhloSoat.fechaVencimiento %}{{ vhloSoat.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ vhloSoat.numeroPoliza }}</td>
                <td>{{ vhloSoat.nombreEmpresa }}</td>
                <td>{% if vhloSoat.activo %}Yes{% else %}No{% endif %}</td>
                <td>{{ vhloSoat.estado }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlosoat_show', { 'id': vhloSoat.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
