{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlosoat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vhloSoat.id }}</td>
            </tr>
            <tr>
                <th>Fechaexpedicion</th>
                <td>{% if vhloSoat.fechaExpedicion %}{{ vhloSoat.fechaExpedicion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechavigencia</th>
                <td>{% if vhloSoat.fechaVigencia %}{{ vhloSoat.fechaVigencia|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechavencimiento</th>
                <td>{% if vhloSoat.fechaVencimiento %}{{ vhloSoat.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numeropoliza</th>
                <td>{{ vhloSoat.numeroPoliza }}</td>
            </tr>
            <tr>
                <th>Nombreempresa</th>
                <td>{{ vhloSoat.nombreEmpresa }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if vhloSoat.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ vhloSoat.estado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlosoat_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
