{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modulo list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Abreviatura</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for modulo in modulos %}
            <tr>
                <td><a href="{{ path('modulo_show', { 'id': modulo.id }) }}">{{ modulo.id }}</a></td>
                <td>{{ modulo.nombre }}</td>
                <td>{{ modulo.abreviatura }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('modulo_show', { 'id': modulo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('modulo_edit', { 'id': modulo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('modulo_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
