{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pqocfgpatios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pqoCfgPatio in pqoCfgPatios %}
            <tr>
                <td><a href="{{ path('pqocfgpatio_show', { 'id': pqoCfgPatio.id }) }}">{{ pqoCfgPatio.id }}</a></td>
                <td>{{ pqoCfgPatio.nombre }}</td>
                <td>{{ pqoCfgPatio.direccion }}</td>
                <td>{% if pqoCfgPatio.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pqocfgpatio_show', { 'id': pqoCfgPatio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pqocfgpatio_edit', { 'id': pqoCfgPatio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pqocfgpatio_new') }}">Create a new pqoCfgPatio</a>
        </li>
    </ul>
{% endblock %}
