{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facturasustratos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facturaSustrato in facturaSustratos %}
            <tr>
                <td><a href="{{ path('facturasustrato_show', { 'id': facturaSustrato.id }) }}">{{ facturaSustrato.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('facturasustrato_show', { 'id': facturaSustrato.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('facturasustrato_edit', { 'id': facturaSustrato.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('facturasustrato_new') }}">Create a new facturaSustrato</a>
        </li>
    </ul>
{% endblock %}
