{% extends 'base.html.twig' %}

{% block body %}
    <h1>TipoIdentificacion list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoIdentificacion in tipoIdentificacions %}
            <tr>
                <td><a href="{{ path('tipoidentificacion_show', { 'id': tipoIdentificacion.id }) }}">{{ tipoIdentificacion.id }}</a></td>
                <td>{{ tipoIdentificacion.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tipoidentificacion_show', { 'id': tipoIdentificacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tipoidentificacion_edit', { 'id': tipoIdentificacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipoidentificacion_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
