{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgclaseaccidente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cfgClaseAccidente.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cfgClaseAccidente.nombre }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if cfgClaseAccidente.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgclaseaccidente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cfgclaseaccidente_edit', { 'id': cfgClaseAccidente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
