{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pnalcfgcdoconsecutivos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Fechaasignacion</th>
                <th>Estado</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pnalCfgCdoConsecutivo in pnalCfgCdoConsecutivos %}
            <tr>
                <td><a href="{{ path('pnalcfgcdoconsecutivo_show', { 'id': pnalCfgCdoConsecutivo.id }) }}">{{ pnalCfgCdoConsecutivo.id }}</a></td>
                <td>{{ pnalCfgCdoConsecutivo.numero }}</td>
                <td>{% if pnalCfgCdoConsecutivo.fechaAsignacion %}{{ pnalCfgCdoConsecutivo.fechaAsignacion|date('Y-m-d') }}{% endif %}</td>
                <td>{{ pnalCfgCdoConsecutivo.estado }}</td>
                <td>{% if pnalCfgCdoConsecutivo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pnalcfgcdoconsecutivo_show', { 'id': pnalCfgCdoConsecutivo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pnalcfgcdoconsecutivo_edit', { 'id': pnalCfgCdoConsecutivo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pnalcfgcdoconsecutivo_new') }}">Create a new pnalCfgCdoConsecutivo</a>
        </li>
    </ul>
{% endblock %}
