{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgcomparendoestados list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgComparendoEstado in cfgComparendoEstados %}
            <tr>
                <td><a href="{{ path('cfgcomparendoestado_show', { 'id': cfgComparendoEstado.id }) }}">{{ cfgComparendoEstado.id }}</a></td>
                <td>{{ cfgComparendoEstado.nombre }}</td>
                <td>{% if cfgComparendoEstado.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgcomparendoestado_show', { 'id': cfgComparendoEstado.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgcomparendoestado_edit', { 'id': cfgComparendoEstado.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgcomparendoestado_new') }}">Create a new cfgComparendoEstado</a>
        </li>
    </ul>
{% endblock %}
