{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tiposociedads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoSociedad in tipoSociedads %}
            <tr>
                <td><a href="{{ path('tiposociedad_show', { 'id': tipoSociedad.id }) }}">{{ tipoSociedad.id }}</a></td>
                <td>{{ tipoSociedad.nombre }}</td>
                <td>{% if tipoSociedad.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tiposociedad_show', { 'id': tipoSociedad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tiposociedad_edit', { 'id': tipoSociedad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tiposociedad_new') }}">Create a new tipoSociedad</a>
        </li>
    </ul>
{% endblock %}
