{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgplacas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgPlaca in cfgPlacas %}
            <tr>
                <td><a href="{{ path('cfgplaca_show', { 'id': cfgPlaca.id }) }}">{{ cfgPlaca.id }}</a></td>
                <td>{{ cfgPlaca.numero }}</td>
                <td>{{ cfgPlaca.estado }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgplaca_show', { 'id': cfgPlaca.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgplaca_edit', { 'id': cfgPlaca.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgplaca_new') }}">Create a new cfgPlaca</a>
        </li>
    </ul>
{% endblock %}
