{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgsvsenialtipos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgSvSenialTipo in cfgSvSenialTipos %}
            <tr>
                <td><a href="{{ path('cfgsvsenialtipo_show', { 'id': cfgSvSenialTipo.id }) }}">{{ cfgSvSenialTipo.id }}</a></td>
                <td>{{ cfgSvSenialTipo.nombre }}</td>
                <td>{% if cfgSvSenialTipo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgsvsenialtipo_show', { 'id': cfgSvSenialTipo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgsvsenialtipo_edit', { 'id': cfgSvSenialTipo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgsvsenialtipo_new') }}">Create a new cfgSvSenialTipo</a>
        </li>
    </ul>
{% endblock %}
