{% extends 'base.html.twig' %}

{% block body %}
    <h1>Msvtalonario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ msvTalonario.id }}</td>
            </tr>
            <tr>
                <th>Rangoinicio</th>
                <td>{{ msvTalonario.rangoInicio }}</td>
            </tr>
            <tr>
                <th>Rangofin</th>
                <td>{{ msvTalonario.rangoFin }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ msvTalonario.total }}</td>
            </tr>
            <tr>
                <th>Fechaasignacion</th>
                <td>{% if msvTalonario.fechaAsignacion %}{{ msvTalonario.fechaAsignacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nresolucion</th>
                <td>{{ msvTalonario.nResolucion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('msvtalonario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('msvtalonario_edit', { 'id': msvTalonario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
