{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bpcfgtipoinsumos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bpCfgTipoInsumo in bpCfgTipoInsumos %}
            <tr>
                <td><a href="{{ path('bpcfgtipoinsumo_show', { 'id': bpCfgTipoInsumo.id }) }}">{{ bpCfgTipoInsumo.id }}</a></td>
                <td>{{ bpCfgTipoInsumo.nombre }}</td>
                <td>{% if bpCfgTipoInsumo.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bpcfgtipoinsumo_show', { 'id': bpCfgTipoInsumo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bpcfgtipoinsumo_edit', { 'id': bpCfgTipoInsumo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bpcfgtipoinsumo_new') }}">Create a new bpCfgTipoInsumo</a>
        </li>
    </ul>
{% endblock %}
