{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gdcfgmediocorrespondencium</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gdCfgMedioCorrespondencium.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ gdCfgMedioCorrespondencium.nombre }}</td>
            </tr>
            <tr>
                <th>Gestionable</th>
                <td>{% if gdCfgMedioCorrespondencium.gestionable %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if gdCfgMedioCorrespondencium.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gdcfgmediocorrespondencia_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('gdcfgmediocorrespondencia_edit', { 'id': gdCfgMedioCorrespondencium.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
