{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgpai</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cfgPai.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cfgPai.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ cfgPai.codigo }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if cfgPai.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgpais_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cfgpais_edit', { 'id': cfgPai.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
