{% extends 'base.html.twig' %}

{% block body %}
    <h1>Condicioningreso</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ condicionIngreso.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ condicionIngreso.nombre }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if condicionIngreso.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('condicioningreso_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('condicioningreso_edit', { 'id': condicionIngreso.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
