{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgmodalidadtransportes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgModalidadTransporte in cfgModalidadTransportes %}
            <tr>
                <td><a href="{{ path('cfgmodalidadtransporte_show', { 'id': cfgModalidadTransporte.id }) }}">{{ cfgModalidadTransporte.id }}</a></td>
                <td>{{ cfgModalidadTransporte.nombre }}</td>
                <td>{% if cfgModalidadTransporte.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgmodalidadtransporte_show', { 'id': cfgModalidadTransporte.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgmodalidadtransporte_edit', { 'id': cfgModalidadTransporte.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgmodalidadtransporte_new') }}">Create a new cfgModalidadTransporte</a>
        </li>
    </ul>
{% endblock %}
