{% extends 'base.html.twig' %}

{% block body %}
    <h1>Almacen</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ almacen.id }}</td>
            </tr>
            <tr>
                <th>Rangoinicio</th>
                <td>{{ almacen.rangoInicio }}</td>
            </tr>
            <tr>
                <th>Rangofin</th>
                <td>{{ almacen.rangoFin }}</td>
            </tr>
            <tr>
                <th>Lote</th>
                <td>{{ almacen.lote }}</td>
            </tr>
            <tr>
                <th>Disponibles</th>
                <td>{% if almacen.disponibles %}{{ almacen.disponibles|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('almacen_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('almacen_edit', { 'id': almacen.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
