{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cfgclaves list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Observacion</th>
                <th>Fechacreacion</th>
                <th>Horacreacion</th>
                <th>Fechavencimiento</th>
                <th>Horavencimiento</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cfgClave in cfgClaves %}
            <tr>
                <td><a href="{{ path('cfgclave_show', { 'id': cfgClave.id }) }}">{{ cfgClave.id }}</a></td>
                <td>{{ cfgClave.codigo }}</td>
                <td>{{ cfgClave.observacion }}</td>
                <td>{% if cfgClave.fechaCreacion %}{{ cfgClave.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if cfgClave.horaCreacion %}{{ cfgClave.horaCreacion|date('H:i:s') }}{% endif %}</td>
                <td>{% if cfgClave.fechaVencimiento %}{{ cfgClave.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{% if cfgClave.horaVencimiento %}{{ cfgClave.horaVencimiento|date('H:i:s') }}{% endif %}</td>
                <td>{% if cfgClave.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cfgclave_show', { 'id': cfgClave.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cfgclave_edit', { 'id': cfgClave.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cfgclave_new') }}">Create a new cfgClave</a>
        </li>
    </ul>
{% endblock %}
