{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvcdocfgtipoinfractors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cvCdoCfgTipoInfractor in cvCdoCfgTipoInfractors %}
            <tr>
                <td><a href="{{ path('cvcdocfgtipoinfractor_show', { 'id': cvCdoCfgTipoInfractor.id }) }}">{{ cvCdoCfgTipoInfractor.id }}</a></td>
                <td>{{ cvCdoCfgTipoInfractor.nombre }}</td>
                <td>{% if cvCdoCfgTipoInfractor.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cvcdocfgtipoinfractor_show', { 'id': cvCdoCfgTipoInfractor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cvcdocfgtipoinfractor_edit', { 'id': cvCdoCfgTipoInfractor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvcdocfgtipoinfractor_new') }}">Create a new cvCdoCfgTipoInfractor</a>
        </li>
    </ul>
{% endblock %}
