{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mflinfraccions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mflInfraccion in mflInfraccions %}
            <tr>
                <td><a href="{{ path('mflinfraccion_show', { 'id': mflInfraccion.id }) }}">{{ mflInfraccion.id }}</a></td>
                <td>{{ mflInfraccion.nombre }}</td>
                <td>{{ mflInfraccion.codigo }}</td>
                <td>{{ mflInfraccion.descripcion }}</td>
                <td>{% if mflInfraccion.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mflinfraccion_show', { 'id': mflInfraccion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mflinfraccion_edit', { 'id': mflInfraccion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mflinfraccion_new') }}">Create a new mflInfraccion</a>
        </li>
    </ul>
{% endblock %}
