{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gddocumento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gdDocumento.id }}</td>
            </tr>
            <tr>
                <th>Fecharegistro</th>
                <td>{% if gdDocumento.fechaRegistro %}{{ gdDocumento.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numeroradicado</th>
                <td>{{ gdDocumento.numeroRadicado }}</td>
            </tr>
            <tr>
                <th>Consecutivo</th>
                <td>{{ gdDocumento.consecutivo }}</td>
            </tr>
            <tr>
                <th>Folios</th>
                <td>{{ gdDocumento.folios }}</td>
            </tr>
            <tr>
                <th>Numerooficio</th>
                <td>{{ gdDocumento.numeroOficio }}</td>
            </tr>
            <tr>
                <th>Diasvigencia</th>
                <td>{{ gdDocumento.diasVigencia }}</td>
            </tr>
            <tr>
                <th>Fechavencimiento</th>
                <td>{% if gdDocumento.fechaVencimiento %}{{ gdDocumento.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ gdDocumento.descripcion }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ gdDocumento.url }}</td>
            </tr>
            <tr>
                <th>Correocertificadollegada</th>
                <td>{% if gdDocumento.correoCertificadoLlegada %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Nombretransportadorallegada</th>
                <td>{{ gdDocumento.nombreTransportadoraLlegada }}</td>
            </tr>
            <tr>
                <th>Fechallegada</th>
                <td>{% if gdDocumento.fechaLlegada %}{{ gdDocumento.fechaLlegada|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numeroguiallegada</th>
                <td>{{ gdDocumento.numeroGuiaLlegada }}</td>
            </tr>
            <tr>
                <th>Correocertificadoenvio</th>
                <td>{% if gdDocumento.correoCertificadoEnvio %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Nombretransportadoraenvio</th>
                <td>{{ gdDocumento.nombreTransportadoraEnvio }}</td>
            </tr>
            <tr>
                <th>Fechaenvio</th>
                <td>{% if gdDocumento.fechaEnvio %}{{ gdDocumento.fechaEnvio|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Medioenvio</th>
                <td>{{ gdDocumento.medioEnvio }}</td>
            </tr>
            <tr>
                <th>Numeroguia</th>
                <td>{{ gdDocumento.numeroGuia }}</td>
            </tr>
            <tr>
                <th>Numerocarpeta</th>
                <td>{{ gdDocumento.numeroCarpeta }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if gdDocumento.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Entidadnombre</th>
                <td>{{ gdDocumento.entidadNombre }}</td>
            </tr>
            <tr>
                <th>Entidadcargo</th>
                <td>{{ gdDocumento.entidadCargo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gddocumento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('gddocumento_edit', { 'id': gdDocumento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
