{% extends 'base.html.twig' %}

{% block body %}
    <h1>Licenciaconduccions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Numerorunt</th>
                <th>Fechaexpedicion</th>
                <th>Fechavencimiento</th>
                <th>Estado</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for licenciaConduccion in licenciaConduccions %}
            <tr>
                <td><a href="{{ path('licenciaconduccion_show', { 'id': licenciaConduccion.id }) }}">{{ licenciaConduccion.id }}</a></td>
                <td>{{ licenciaConduccion.numero }}</td>
                <td>{{ licenciaConduccion.numeroRunt }}</td>
                <td>{% if licenciaConduccion.fechaExpedicion %}{{ licenciaConduccion.fechaExpedicion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if licenciaConduccion.fechaVencimiento %}{{ licenciaConduccion.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ licenciaConduccion.estado }}</td>
                <td>{% if licenciaConduccion.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('licenciaconduccion_show', { 'id': licenciaConduccion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('licenciaconduccion_edit', { 'id': licenciaConduccion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('licenciaconduccion_new') }}">Create a new licenciaConduccion</a>
        </li>
    </ul>
{% endblock %}
