{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mpersonalasignacion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mpersonalAsignacion.id }}</td>
            </tr>
            <tr>
                <th>Desde</th>
                <td>{{ mpersonalAsignacion.desde }}</td>
            </tr>
            <tr>
                <th>Hasta</th>
                <td>{{ mpersonalAsignacion.hasta }}</td>
            </tr>
            <tr>
                <th>Fechaasignacion</th>
                <td>{% if mpersonalAsignacion.fechaAsignacion %}{{ mpersonalAsignacion.fechaAsignacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Rangos</th>
                <td>{{ mpersonalAsignacion.rangos }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if mpersonalAsignacion.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mpersonalasignacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mpersonalasignacion_edit', { 'id': mpersonalAsignacion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
