{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svcfgclaseaccidentes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for svCfgClaseAccidente in svCfgClaseAccidentes %}
            <tr>
                <td><a href="{{ path('svcfgclaseaccidente_show', { 'id': svCfgClaseAccidente.id }) }}">{{ svCfgClaseAccidente.id }}</a></td>
                <td>{{ svCfgClaseAccidente.nombre }}</td>
                <td>{% if svCfgClaseAccidente.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('svcfgclaseaccidente_show', { 'id': svCfgClaseAccidente.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('svcfgclaseaccidente_edit', { 'id': svCfgClaseAccidente.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svcfgclaseaccidente_new') }}">Create a new svCfgClaseAccidente</a>
        </li>
    </ul>
{% endblock %}
