{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlocfgtipoalertas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloCfgTipoAlertum in vhloCfgTipoAlertas %}
            <tr>
                <td><a href="{{ path('vhlocfgtipoalerta_show', { 'id': vhloCfgTipoAlertum.id }) }}">{{ vhloCfgTipoAlertum.id }}</a></td>
                <td>{{ vhloCfgTipoAlertum.nombre }}</td>
                <td>{% if vhloCfgTipoAlertum.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlocfgtipoalerta_show', { 'id': vhloCfgTipoAlertum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlocfgtipoalerta_edit', { 'id': vhloCfgTipoAlertum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlocfgtipoalerta_new') }}">Create a new vhloCfgTipoAlertum</a>
        </li>
    </ul>
{% endblock %}
