{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mparqentradasalida</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mparqEntradaSalida.id }}</td>
            </tr>
            <tr>
                <th>Fechaingreso</th>
                <td>{% if mparqEntradaSalida.fechaIngreso %}{{ mparqEntradaSalida.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechasalida</th>
                <td>{% if mparqEntradaSalida.fechaSalida %}{{ mparqEntradaSalida.fechaSalida|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Horasalida</th>
                <td>{% if mparqEntradaSalida.horaSalida %}{{ mparqEntradaSalida.horaSalida|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numerosalida</th>
                <td>{{ mparqEntradaSalida.numeroSalida }}</td>
            </tr>
            <tr>
                <th>Numeroinventario</th>
                <td>{{ mparqEntradaSalida.numeroInventario }}</td>
            </tr>
            <tr>
                <th>Dias</th>
                <td>{{ mparqEntradaSalida.dias }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ mparqEntradaSalida.observaciones }}</td>
            </tr>
            <tr>
                <th>Valorparqueadero</th>
                <td>{{ mparqEntradaSalida.valorParqueadero }}</td>
            </tr>
            <tr>
                <th>Salida</th>
                <td>{% if mparqEntradaSalida.salida %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if mparqEntradaSalida.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mparqentradasalida_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mparqentradasalida_edit', { 'id': mparqEntradaSalida.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
