{% extends 'base.html.twig' %}

{% block body %}
    <h1>Frorecaudos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Valor</th>
                <th>Valormora</th>
                <th>Valorfinanciacion</th>
                <th>Valorcapital</th>
                <th>Valordescuento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for froRecaudo in froRecaudos %}
            <tr>
                <td><a href="{{ path('frorecaudo_show', { 'id': froRecaudo.id }) }}">{{ froRecaudo.id }}</a></td>
                <td>{% if froRecaudo.fecha %}{{ froRecaudo.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ froRecaudo.valor }}</td>
                <td>{{ froRecaudo.valorMora }}</td>
                <td>{{ froRecaudo.valorFinanciacion }}</td>
                <td>{{ froRecaudo.valorCapital }}</td>
                <td>{{ froRecaudo.valorDescuento }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('frorecaudo_show', { 'id': froRecaudo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('frorecaudo_edit', { 'id': froRecaudo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('frorecaudo_new') }}">Create a new froRecaudo</a>
        </li>
    </ul>
{% endblock %}
