{% extends 'base.html.twig' %}

{% block body %}
    <h1>Frorecaudo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ froRecaudo.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if froRecaudo.fecha %}{{ froRecaudo.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ froRecaudo.valor }}</td>
            </tr>
            <tr>
                <th>Valormora</th>
                <td>{{ froRecaudo.valorMora }}</td>
            </tr>
            <tr>
                <th>Valorfinanciacion</th>
                <td>{{ froRecaudo.valorFinanciacion }}</td>
            </tr>
            <tr>
                <th>Valorcapital</th>
                <td>{{ froRecaudo.valorCapital }}</td>
            </tr>
            <tr>
                <th>Valordescuento</th>
                <td>{{ froRecaudo.valorDescuento }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('frorecaudo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('frorecaudo_edit', { 'id': froRecaudo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
