<html>
    <header>
        <meta charset="utf-8">
    </header>
    <body>
        <br>
        {% if reporteMensual == false %}
            {% if pagadas %}
                <h3 style="text-align:center"> INFORME INGRESOS DIARIO {{ organismoTransito.nombre }}</h3>
                <h5 style="text-align:center;">General</h5>
                <br>
                <table border="1" style="text-align:center;">
                    <tr>
                        <td><b>Código</b></td>
                        <td><b>Tramites</b></td>
                        <td><b>Cantidad</b></td>
                        <td><b>Valor</b></td>
                        <td><b>Total</b></td>
                    </tr>
                    {% for tramite in arrayTramites %}
                        <tr>
                            <td>{{ tramite.id }}</td>
                            <td>{{ tramite.nombre }}</td>
                            <td>{{ tramite.cantidad }}</td>
                            <td>{{ tramite.valor }}</td>
                            <td>{{ tramite.total2 }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4"><b>TOTAL INGRESOS</b></td>
                        <td>{{ totalTramites }}</td>
                    </tr>
                </table>
            {% endif %}
            <br>
            <br>
            <table border="1" style="text-align:center;">
                <tr>
                    <td><b> Sustratos CDA </b></td>
                    <td><b> Cantidad </b></td>
                    <td><b> Valor </b></td>
                    <td><b> Total </b></td>
                </tr>
                {% for sustrato in arraySustratos %}
                    <tr>
                        <td>{{ sustrato.nombre }}</td>
                        <td>{{ sustrato.cantidad }}</td>
                        <td>{{ sustrato.valor }}</td>
                        <td>{{ sustrato.total }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3"><b>TOTAL SUSTRATOS</b></td>
                    <td>{{ totalSustratos }}</td>
                </tr>
            </table>
            <br>
            <br>
            <table border="1" style="text-align:center;">
                <tr>
                    <td><b>Id</b></td>
                    <td><b>Nombre Concepto</b></td>
                    <td><b>Cantidad</b></td>
                    <td><b>Valor</b></td>
                    <td><b>Total</b></td>
                </tr>
                {% for concepto in arrayConceptos %}
                        <tr>
                            <td>{{ concepto.id }}</td>
                            <td>{{ concepto.nombre }}</td>
                            <td>{{ concepto.cantidad}}</td>
                            <td>{{ concepto.valor }}</td>
                            <td>{{ concepto.total }}</td>
                        </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><b>TOTAL CONCEPTOS</b></td>
                    <td>{{ totalConceptos }}</td>
                </tr>
                <tr>
                    <td colspan="4"><b>TOTAL INGRESOS SUBDETRA</b></td>
                    <td>{{ totalTramites - totalSustratos }}</td>
                </tr>
            </table>
            <br>
            <br>
            <table border="1" style="text-align:center;">
                <tr>
                    <td><b>DEVOLUCIÓN</b></td>
                    <td>{{ cantAnuladas }}</td>
                </tr>
                <tr>
                    <td><b>DEVOLUCIÓN RETEFUENTE</b></td>
                    <td>{{ cantTraspasos }}</td>
                </tr>
            </table>
            <br>
            <br>
            <table border="1" style="text-align:center;">
                <tr>
                    <td><b>TOTAL FACTURAS PAGADAS</b></td>
                    <td>{{ totalFacturasPagadas }}</td>
                </tr>
                <tr>
                    <td><b>TOTAL FACTURAS VENCIDAS</b></td>
                    <td>{{ totalFacturasVencidas }}</td>
                </tr>
                <tr>
                    <td><b>TOTAL FACTURAS GENERADAS</b></td>
                    <td>{{ totalFacturas }}</td>
                </tr>
            </table>
        {% endif %}
        {# fin tramites diarios #}
        {% if reporteMensual %}
            <h2 style="text-align:center;">INFORME INGRESO MES DE {{ mesReporteDesde }} - {{ mesReporteHasta }} SEGÚN RECIBOS DE CAJA</h2>
            <h5 style="text-align:center;">Detallado</h5>
            <br>
            <b>Fecha de informe: </b> {{ mesReporteDesde }}<br>
            <b>Organismo tránsito: </b> {{ funcionario.organismoTransito.nombre }}<br>
            <b>Nombre del inspector: </b> {{ funcionario.ciudadano.primerNombre }} {{ funcionario.ciudadano.primerApellido }}<br>
            <b>Fecha de expedición del informe: </b>  {{ fechaActual }}
            <br>
            <br>
            <table border="1" style="text-align:center;">
                <tr>
                    <td><b> Nro. Factura </b></td>
                    <td><b> Fecha Pago </b></td>
                    <td><b> Placa/Cédula </b></td>
                    <td><b> Nro. Sustrato </b></td>
                    <td><b> Clasificaciones </b></td>
                    <td><b> Trámite </b></td>
                    <td><b> Fecha Trámite </b></td>
                    <td><b> Valor Pagado </b></td>
                    <td><b> Número Solicitud Runt </b></td>
                </tr>
                {% for tramite in arrayReporteMensual %}
                    <tr>
                        <td>{{ tramite.numeroFactura }}</td>
                        <td>{{ tramite.fecha | date('Y-m-d') }}</td>
                        <td>{{ tramite.placaCedula }}</td>
                        <td>{{ tramite.numeroSustrato }}</td>
                        <td>{{ tramite.moduloSustrato }}</td>
                        <td>{{ tramite.nombre }}</td>
                        <td>{{ tramite.fechaTramite | date('Y-m-d') }}</td>
                        <td>{{ tramite.valorPagado }}</td>
                        <td>{{ tramite.numeroRunt }}</td>
                    </tr>
                {% endfor %}
                 <tr>
                    <td colspan="7"><b>TOTAL </b></td>
                    <td>{{ totalReporteMensual }}</td>
                </tr>
            </table>
        {% endif %}
    </body>
</html>

