<html>
    <header>
        <meta charset="utf-8">
    </header>
    <body>
        <br>
        <h3 style="text-align:center"> REPORTE INGRESOS</h3>
        {% if reporteGeneral == true %}
            <h5 style="text-align:center;">General</h5>
        {% endif %}
        {% if reporteDetallado == true %}
            <h5 style="text-align:center;">Detallado</h5>
        {% endif %}
        
        {# inicio reportes general #}
        {% if reporteGeneral == true %}
            {% for dato in data %}
                <h4>SEDE {{ dato['organismoTransito']  }}</h4>

                <table border="1" style="text-align:center;">
                    <tr>
                        <td><b>Código</b></td>
                        <td><b>Tramites</b></td>
                        <td><b>Cantidad</b></td>
                        <td><b>Valor</b></td>
                        <td><b>Total</b></td>
                    </tr>
                    {% for tramiteFinalizado in dato['tramitesFinalizados'] %}
                        <tr>
                            <td>{{ tramiteFinalizado['codigo'] }}</td> 
                            <td>{{ tramiteFinalizado['nombre'] }}</td> 
                            <td>{{ tramiteFinalizado['cantidad'] }}</td>                    
                            <td>{{ tramiteFinalizado['valor'] }}</td>                    
                            <td>{{ tramiteFinalizado['total'] }}</td>                    
                        </tr>  
                    {% endfor %}
                    <tr>
                        <td colspan="4"><b>TOTAL INGRESOS</b></td>
                        <td><b>{{ dato['totalTramitesFinalizados'] }}</b></td>
                    </tr>
                </table>  
                <br>
                <br>
                <table border="1" style="text-align:center;">
                    <tr>
                        <td><b> Código</b></td>
                        <td><b> Sustratos CDA </b></td>
                        <td><b> Cantidad </b></td>
                        <td><b> Valor </b></td>
                        <td><b> Total </b></td>
                    </tr>
                    {% for sustrato in dato['sustratos'] %}
                        <tr>
                            <td>{{ sustrato['id'] }}</td> 
                            <td>{{ sustrato['nombre'] }}</td> 
                            <td>{{ sustrato['cantidad'] }}</td>                    
                            <td>{{ sustrato['valor'] }}</td>                    
                            <td>{{ sustrato['total'] }}</td>                    
                        </tr>  
                    {% endfor %}
                    <tr>
                        <td colspan="4"><b>TOTAL SUSTRATOS</b></td>
                        <td><b>{{ dato['totalSustratos'] }}</b></td>
                    </tr>
                </table>
                <br>
                <br>
                <table border="1" style="text-align:center;">
                    <tr>
                        <td><b> Código</b></td>
                        <td><b> Nombre Concepto </b></td>
                        <td><b> Cantidad </b></td>
                        <td><b> Valor Unitario</b></td>
                        <td><b> Total </b></td>
                    </tr>
                    {% for concepto in dato['conceptos'] %}
                        <tr>
                            <td>{{ concepto['id'] }}</td> 
                            <td>{{ concepto['nombre'] }}</td> 
                            <td>{{ concepto['cantidad'] }}</td>                    
                            <td>{{ concepto['valor'] }}</td>                    
                            <td>{{ concepto['total'] }}</td>                    
                        </tr>  
                    {% endfor %}
                    <tr>
                    <td colspan="4"><b>TOTAL CONCEPTOS</b></td>
                    <td><b>{{ dato['totalConceptos'] }}</b></td>
                </tr>
                <tr>
                    <td colspan="4"><b>TOTAL INGRESOS {{ dato['organismoTransito'] }}</b></td>
                    <td><b>{{ dato['totalTramitesFinalizados'] - dato['totalSustratos'] }}</b></td>
                </tr>
                </table>
                <br>
            <br>

            <table border="1" style="text-align:center;">
                <tr>
                    <td><b>DEVOLUCIÓN</b></td>
                    <td>{{ dato['cantidadFacturasDevolucionadas'] }}</td>
                </tr>
                <tr>
                    <td><b>DEVOLUCIÓN RETEFUENTE</b></td>
                    <td>{{ dato['cantidadFacturasRetefuente'] }}</td>
                </tr>
            </table>
            <br>
            <br>
            <table border="1" style="text-align:center;">
                <tr>
                    <td><b>CANTIDAD FACTURAS PAGADAS</b></td>
                    <td>{{ dato['cantidadFacturasPagadas'] }}</td>
                </tr>
                <tr>
                    <td><b>CANTIDAD FACTURAS VENCIDAS</b></td>
                    <td>{{ dato['cantidadFacturasVencidas'] }}</td>
                </tr>
                <tr>
                    <td><b>CANTIDAD FACTURAS GENERADAS</b></td>
                    <td>{{ dato['cantidadFacturasGeneradas'] }}</td>
                </tr>
            </table>
            {% endfor %}
        {% endif %}
        {# fin tramites general #}
        {# inicio tramites detallado #}
        {% if reporteDetallado == true %}
            <br>
            {# <b>Organismo tránsito: </b> {{ funcionario.organismoTransito.nombre }}<br> #}
            <b>Nombre del inspector: </b> {{ funcionario.ciudadano.primerNombre }} {{ funcionario.ciudadano.primerApellido }}<br>
            <b>Fecha de expedición del informe: </b>  {{ fechaActual }}
            <br>
            <br>
            {% for dato in data %}
                <h4>SEDE {{ dato['organismoTransito']  }}</h4>
                    <table border="1" style="text-align:center;">
                        <tr>
                            <td><b> NRO. FACTURA</b></td>
                            <td><b> FECHA PAGO</b></td>
                            <td><b> PLACA/CÉDULA </b></td>
                            <td><b> NRO. SUSTRATO </b></td>
                            <td><b> CLASIFICACIONES </b></td>
                            <td><b> NRO. SOLICITUD RUNT </b></td>
                            <td><b> NOMBRE TRÁMITE </b></td>
                            <td><b> FECHA TRÁMITE </b></td>
                            <td><b> VALOR PAGADO </b></td>
                        </tr>
                    {% for tramiteFinalizado in dato['tramitesFinalizados'] %}  
                        <tr>
                            <td>{{ tramiteFinalizado['numero'] }}</td>
                            <td>{{ tramiteFinalizado['fechaPago'] | date('Y-m-d') }}</td>
                            <td>
                                {% if tramiteFinalizado['placa'] %}
                                    {{ tramiteFinalizado['placa'] }}
                                {% endif %}
                            </td>
                            <td>{{ tramiteFinalizado['numeroSustrato'] }}</td>
                            <td>{{ tramiteFinalizado['abreviatura'] }}</td>
                            <td>{{ tramiteFinalizado['numeroRunt'] }}</td>
                            <td>{{ tramiteFinalizado['nombreTramite'] }}</td>
                            <td>{{ tramiteFinalizado['fechaTramite'] | date('Y-m-d') }}</td>
                            <td>{{ tramiteFinalizado['valorPagado'] }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                    <td colspan="8"><b>TOTAL </b></td>
                    <td><b>{{ dato['totalTramitesFinalizados'] }}</b></td>
                </tr>
                </table>
            {% endfor %}

            {# <h2 style="text-align:center;">INFORME INGRESO MES DE {{ mesReporteDesde }} - {{ mesReporteHasta }} SEGÚN RECIBOS DE CAJA</h2>
            <h5 style="text-align:center;">Detallado</h5>
            <br>
            <b>Organismo tránsito: </b> {{ funcionario.organismoTransito.nombre }}<br>
            <b>Nombre del inspector: </b> {{ funcionario.ciudadano.primerNombre }} {{ funcionario.ciudadano.primerApellido }}<br>
            <b>Fecha de expedición del informe: </b>  {{ fechaActual }}
            <br>
            <br>
            <table border="1" style="text-align:center;">
                <tr>
                    <td><b> NRO. FACTURA</b></td>
                    <td><b> FECHA PAGO</b></td>
                    <td><b> PLACA/CÉDULA </b></td>
                    <td><b> NRO. SUSTRATO </b></td>
                    <td><b> CLASIFICACIONES </b></td>
                    <td><b> NRO. SOLICITUD RUNT </b></td>
                    <td><b> NOMBRE TRÁMITE </b></td>
                    <td><b> FECHA TRÁMITE </b></td>
                    <td><b> VALOR PAGADO </b></td>
                </tr>
                {% for tramite in tramitesFinalizados %}
                    <tr>
                        <td>{{ tramite.numero }}</td>
                        <td>{{ tramite.fechaPago | date('Y-m-d') }}</td>
                        <td>
                            {% if tramite.identificacion %}
                                {{ tramite.solicitante.identificacion }}
                            {% endif %}
                            {% if tramite.placa %}
                                {{ tramite.placa }}
                            {% endif %}
                        </td>
                        <td>{{ tramite.numeroSustrato }}</td>
                        <td>{{ tramite.abreviatura }}</td>
                        <td>{{ tramite.numeroRunt }}</td>
                        <td>{{ tramite.nombreTramite }}</td>
                        <td>{{ tramite.fechaTramite | date('Y-m-d') }}</td>
                        <td>{{ tramite.valorPagado }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="8"><b>TOTAL </b></td>
                    <td><b>{{ totalTramitesFinalizados }}</b></td>
                </tr>
            </table> #}
        {% endif %}
        {# fin tramites detallado #}
    </body>
</html>

