<html>
    <header>
        <meta charset="utf-8">
    </header>
    <body>
        <br>
        {% if reporteGeneral == true %}
            {% if tramitesFinalizados %}
                {% if organismoTransito == null %}
                    <h3 style="text-align:center"> REPORTE INGRESOS POR SEDES OPERATIVAS</h3>
                {% else %}
                    <h3 style="text-align:center"> REPORTE INGRESOS DE {{ organismoTransito.nombre }}</h3>
                {% endif %}
                <h5 style="text-align:center;">General</h5>
                <br>
                <table border="1" style="text-align:center;">
                    <tr>
                        <td><b>Código</b></td>
                        <td><b>Tramites</b></td>
                        <td><b>Cantidad</b></td>
                        <td><b>Valor</b></td>
                        <td><b>Total</b></td>
                    </tr>
                    {% for tramite in tramitesFinalizados %}
                        <tr>
                            <td>{{ tramite.codigo }}</td>
                            <td>{{ tramite.nombre }}</td>
                            <td>{{ tramite.cantidad }}</td>
                            <td>{{ tramite.valor }}</td>
                            <td>{{ tramite.total }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4"><b>TOTAL INGRESOS</b></td>
                        <td><b>{{ totalTramitesFinalizados }}</b></td>
                    </tr>
                </table>
            {% endif %}
            <br>
            <br>
            <table border="1" style="text-align:center;">
                <tr>
                    <td><b> Código</b></td>
                    <td><b> Sustratos CDA </b></td>
                    <td><b> Cantidad </b></td>
                    <td><b> Valor </b></td>
                    <td><b> Total </b></td>
                </tr>
                {% for sustrato in sustratos %}
                    <tr>
                        <td>{{ sustrato.id }}</td>
                        <td>{{ sustrato.nombre }}</td>
                        <td>{{ sustrato.cantidad }}</td>
                        <td>{{ sustrato.valor }}</td>
                        <td>{{ sustrato.total }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><b>TOTAL SUSTRATOS</b></td>
                    <td><b>{{ totalSustratos }}</b></td>
                </tr>
            </table>
            <br>
            <br>
            <table border="1" style="text-align:center;">
                <tr>
                    <td><b>Código</b></td>
                    <td><b>Nombre Concepto</b></td>
                    <td><b>Cantidad</b></td>
                    <td><b>Valor Unitario</b></td>
                    <td><b>Total</b></td>
                </tr>
                {% for concepto in conceptos %}
                        <tr>
                            <td>{{ concepto.id }}</td>
                            <td>{{ concepto.nombre }}</td>
                            <td>{{ concepto.cantidad}}</td>
                            <td>{{ concepto.valor }}</td>
                            <td>{{ concepto.total }}</td>
                        </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><b>TOTAL CONCEPTOS</b></td>
                    <td><b>{{ totalConceptos }}</b></td>
                </tr>
                <tr>
                    <td colspan="4"><b>TOTAL INGRESOS SUBDETRA</b></td>
                    <td><b>{{ totalTramitesFinalizados - totalSustratos }}</b></td>
                </tr>
            </table>
            <br>
            <br>
            <table border="1" style="text-align:center;">
                <tr>
                    <td><b>DEVOLUCIÓN</b></td>
                    <td>{{ cantidadFacturasDevolucionadas }}</td>
                </tr>
                <tr>
                    <td><b>DEVOLUCIÓN RETEFUENTE</b></td>
                    <td>{{ cantidadFacturasRetefuente }}</td>
                </tr>
            </table>
            <br>
            <br>
            <table border="1" style="text-align:center;">
                <tr>
                    <td><b>CANTIDAD TOTAL FACTURAS PAGADAS</b></td>
                    <td>{{ cantidadFacturasPagadas }}</td>
                </tr>
                <tr>
                    <td><b>CANTIDAD TOTAL FACTURAS VENCIDAS</b></td>
                    <td>{{ cantidadFacturasVencidas }}</td>
                </tr>
                <tr>
                    <td><b>CANTIDAD TOTAL FACTURAS GENERADAS</b></td>
                    <td>{{ cantidadFacturasGeneradas }}</td>
                </tr>
            </table>
        {% endif %}
        {# fin tramites diarios #}
        {% if reporteDetallado == true %}
            <h2 style="text-align:center;">INFORME INGRESO MES DE {{ mesReporteDesde }} - {{ mesReporteHasta }} SEGÚN RECIBOS DE CAJA</h2>
            <h5 style="text-align:center;">Detallado</h5>
            <br>
            <b>Organismo tránsito: </b> {{ funcionario.organismoTransito.nombre }}<br>
            <b>Nombre del inspector: </b> {{ funcionario.ciudadano.primerNombre }} {{ funcionario.ciudadano.primerApellido }}<br>
            <b>Fecha de expedición del informe: </b>  {{ fechaActual }}
            <br>
            <br>
            <table border="1" style="text-align:center;">
                <tr>
                    <td><b> NRO. FACTURA</b></td>
                    <td><b> FECHA PAGO</b></td>
                    <td><b> PLACA/CÉDULA </b></td>
                    <td><b> NRO. SUSTRATO </b></td>
                    <td><b> CLASIFICACIONES </b></td>
                    <td><b> NRO. SOLICITUD RUNT </b></td>
                    <td><b> NOMBRE TRÁMITE </b></td>
                    <td><b> FECHA TRÁMITE </b></td>
                    <td><b> VALOR PAGADO </b></td>
                </tr>
                {% for tramite in tramitesFinalizados %}
                    <tr>
                        <td>{{ tramite.numero }}</td>
                        <td>{{ tramite.fechaPago | date('Y-m-d') }}</td>
                        <td>
                            {# {% if tramite.identificacion %}
                                {{ tramite.solicitante.identificacion }}
                            {% endif %} #}
                            {% if tramite.placa %}
                                {{ tramite.placa }}
                            {% endif %}
                        </td>
                        <td>{{ tramite.numeroSustrato }}</td>
                        <td>{{ tramite.abreviatura }}</td>
                        <td>{{ tramite.numeroRunt }}</td>
                        <td>{{ tramite.nombreTramite }}</td>
                        <td>{{ tramite.fechaTramite | date('Y-m-d') }}</td>
                        <td>{{ tramite.valorPagado }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="8"><b>TOTAL </b></td>
                    <td><b>{{ totalTramitesFinalizados }}</b></td>
                </tr>
            </table>
        {% endif %}
    </body>
</html>

