<html>
    <header>
        <meta charset="utf-8">
    </header>
    <body>
        <h2 style="text-align:center;">Reporte comparendos</h2>
        <br>
        <br>
        <table border="1" style="text-align:center;">
            <tr>
                <td><b>Nro. Factura</b></td>
                <td><b>Nro. Comparendo</b></td>
                <td><b>Indentificacion Infractor</b></td>
                <td><b>Total</b></td>
            </tr>
            {% for infraccion in arrayInfracciones %}
                <tr>
                    <td>{{ infraccion.numeroFactura }}</td>
                    <td>{{ infraccion.numeroConsecutivo }}</td>
                    <td>{{ infraccion.infractorIdentificacion }}</td>
                    <td>{{ infraccion.total }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3"><b>TOTAL</b></td>
                <td>{{ totalInfracciones }}</td>
            </tr>
        </table>
    </body>
</html>
