{% extends 'base.html.twig' %}

{% block body %}
    <h1>Svsenialinventariobodega</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ svSenialInventarioBodega.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if svSenialInventarioBodega.fecha %}{{ svSenialInventarioBodega.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Consecutivo</th>
                <td>{{ svSenialInventarioBodega.consecutivo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('svsenialinventariobodega_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('svsenialinventariobodega_edit', { 'id': svSenialInventarioBodega.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
