{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imoinsumo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imoInsumo.id }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ imoInsumo.estado }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ imoInsumo.numero }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if imoInsumo.fecha %}{{ imoInsumo.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ imoInsumo.categoria }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imoinsumo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('imoinsumo_edit', { 'id': imoInsumo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
