{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imolotes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Numeroacta</th>
                <th>Fecha</th>
                <th>Rangoinicio</th>
                <th>Rangofin</th>
                <th>Referencia</th>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imoLote in imoLotes %}
            <tr>
                <td><a href="{{ path('imolote_show', { 'id': imoLote.id }) }}">{{ imoLote.id }}</a></td>
                <td>{{ imoLote.estado }}</td>
                <td>{{ imoLote.numeroActa }}</td>
                <td>{% if imoLote.fecha %}{{ imoLote.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ imoLote.rangoInicio }}</td>
                <td>{{ imoLote.rangoFin }}</td>
                <td>{{ imoLote.referencia }}</td>
                <td>{{ imoLote.tipo }}</td>
                <td>{{ imoLote.cantidad }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('imolote_show', { 'id': imoLote.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('imolote_edit', { 'id': imoLote.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imolote_new') }}">Create a new imoLote</a>
        </li>
    </ul>
{% endblock %}
