{% extends 'base.html.twig' %}

{% block body %}
    <h1>MsvInventarioSenials list</h1>

    <table>
        <thead>
            <tr>
                <th>Xdestino</th>
                <th>Fecha</th>
                <th>Unidad</th>
                <th>Color</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Direccion</th>
                <th>Codigo</th>
                <th>Logo</th>
                <th>Nombre</th>
                <th>Valor</th>
                <th>Estado</th>
                <th>Cantidad</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for msvInventarioSenial in msvInventarioSenials %}
            <tr>
                <td><a href="{{ path('yes_show', { 'id': msvInventarioSenial.id }) }}">{{ msvInventarioSenial.xDestino }}</a></td>
                <td>{% if msvInventarioSenial.fecha %}{{ msvInventarioSenial.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ msvInventarioSenial.unidad }}</td>
                <td>{{ msvInventarioSenial.color }}</td>
                <td>{{ msvInventarioSenial.latitud }}</td>
                <td>{{ msvInventarioSenial.longitud }}</td>
                <td>{{ msvInventarioSenial.direccion }}</td>
                <td>{{ msvInventarioSenial.codigo }}</td>
                <td>{{ msvInventarioSenial.logo }}</td>
                <td>{{ msvInventarioSenial.nombre }}</td>
                <td>{{ msvInventarioSenial.valor }}</td>
                <td>{{ msvInventarioSenial.estado }}</td>
                <td>{{ msvInventarioSenial.cantidad }}</td>
                <td>{{ msvInventarioSenial.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('yes_show', { 'id': msvInventarioSenial.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('yes_edit', { 'id': msvInventarioSenial.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('yes_new') }}">Create a new msvInventarioSenial</a>
        </li>
    </ul>
{% endblock %}
