{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlotprangos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Rangoinicio</th>
                <th>Rangofin</th>
                <th>Numeroresolucioncupo</th>
                <th>Fecharesolucioncupo</th>
                <th>Observaciones</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloTpRango in vhloTpRangos %}
            <tr>
                <td><a href="{{ path('vhlotprango_show', { 'id': vhloTpRango.id }) }}">{{ vhloTpRango.id }}</a></td>
                <td>{{ vhloTpRango.rangoInicio }}</td>
                <td>{{ vhloTpRango.rangoFin }}</td>
                <td>{{ vhloTpRango.numeroResolucionCupo }}</td>
                <td>{% if vhloTpRango.fechaResolucionCupo %}{{ vhloTpRango.fechaResolucionCupo|date('Y-m-d') }}{% endif %}</td>
                <td>{{ vhloTpRango.observaciones }}</td>
                <td>{% if vhloTpRango.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlotprango_show', { 'id': vhloTpRango.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
