{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlotprango</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vhloTpRango.id }}</td>
            </tr>
            <tr>
                <th>Rangoinicio</th>
                <td>{{ vhloTpRango.rangoInicio }}</td>
            </tr>
            <tr>
                <th>Rangofin</th>
                <td>{{ vhloTpRango.rangoFin }}</td>
            </tr>
            <tr>
                <th>Numeroresolucioncupo</th>
                <td>{{ vhloTpRango.numeroResolucionCupo }}</td>
            </tr>
            <tr>
                <th>Fecharesolucioncupo</th>
                <td>{% if vhloTpRango.fechaResolucionCupo %}{{ vhloTpRango.fechaResolucionCupo|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ vhloTpRango.observaciones }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if vhloTpRango.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlotprango_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
