{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vhlolimitacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vhloLimitacion in vhloLimitacions %}
            <tr>
                <td><a href="{{ path('vhlolimitacion_show', { 'id': vhloLimitacion.id }) }}">{{ vhloLimitacion.id }}</a></td>
                <td>{% if vhloLimitacion.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vhlolimitacion_show', { 'id': vhloLimitacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vhlolimitacion_edit', { 'id': vhloLimitacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vhlolimitacion_new') }}">Create a new vhloLimitacion</a>
        </li>
    </ul>
{% endblock %}
