{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipodestinos list</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoDestino in tipoDestinos %}
            <tr>
                <td><a href="{{ path('tipodestino_show', { 'id': tipoDestino.id }) }}">{{ tipoDestino.nombre }}</a></td>
                <td>{% if tipoDestino.estado %}Yes{% else %}No{% endif %}</td>
                <td>{{ tipoDestino.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tipodestino_show', { 'id': tipoDestino.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tipodestino_edit', { 'id': tipoDestino.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipodestino_new') }}">Create a new tipoDestino</a>
        </li>
    </ul>
{% endblock %}
