{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipodestino</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ tipoDestino.nombre }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if tipoDestino.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ tipoDestino.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipodestino_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tipodestino_edit', { 'id': tipoDestino.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
