{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvcdocfgdescuentos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Porcentaje</th>
                <th>Fechainicial</th>
                <th>Fechafinal</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cvCdoCfgDescuento in cvCdoCfgDescuentos %}
            <tr>
                <td><a href="{{ path('cvcdocfgdescuento_show', { 'id': cvCdoCfgDescuento.id }) }}">{{ cvCdoCfgDescuento.id }}</a></td>
                <td>{{ cvCdoCfgDescuento.porcentaje }}</td>
                <td>{% if cvCdoCfgDescuento.fechaInicial %}{{ cvCdoCfgDescuento.fechaInicial|date('Y-m-d') }}{% endif %}</td>
                <td>{% if cvCdoCfgDescuento.fechaFinal %}{{ cvCdoCfgDescuento.fechaFinal|date('Y-m-d') }}{% endif %}</td>
                <td>{% if cvCdoCfgDescuento.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cvcdocfgdescuento_show', { 'id': cvCdoCfgDescuento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cvcdocfgdescuento_edit', { 'id': cvCdoCfgDescuento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvcdocfgdescuento_new') }}">Create a new cvCdoCfgDescuento</a>
        </li>
    </ul>
{% endblock %}
