{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cvcdocfgdescuento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cvCdoCfgDescuento.id }}</td>
            </tr>
            <tr>
                <th>Porcentaje</th>
                <td>{{ cvCdoCfgDescuento.porcentaje }}</td>
            </tr>
            <tr>
                <th>Fechainicial</th>
                <td>{% if cvCdoCfgDescuento.fechaInicial %}{{ cvCdoCfgDescuento.fechaInicial|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechafinal</th>
                <td>{% if cvCdoCfgDescuento.fechaFinal %}{{ cvCdoCfgDescuento.fechaFinal|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if cvCdoCfgDescuento.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cvcdocfgdescuento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cvcdocfgdescuento_edit', { 'id': cvCdoCfgDescuento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
