{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ciudadano list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numeroidentificacion</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ciudadano in ciudadanos %}
            <tr>
                <td><a href="{{ path('ciudadano_show', { 'id': ciudadano.id }) }}">{{ ciudadano.id }}</a></td>
                <td>{{ ciudadano.numeroIdentificacion }}</td>
                <td>{{ ciudadano.nombres }}</td>
                <td>{{ ciudadano.apellidos }}</td>
                <td>{{ ciudadano.direccion }}</td>
                <td>{{ ciudadano.telefono }}</td>
                <td>{{ ciudadano.correo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ciudadano_show', { 'id': ciudadano.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ciudadano_edit', { 'id': ciudadano.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ciudadano_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
