{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ciudadano</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ciudadano.id }}</td>
            </tr>
            <tr>
                <th>Numeroidentificacion</th>
                <td>{{ ciudadano.numeroIdentificacion }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ ciudadano.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ ciudadano.apellidos }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ ciudadano.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ ciudadano.telefono }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ ciudadano.correo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ciudadano_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ciudadano_edit', { 'id': ciudadano.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
