{% extends 'base.html.twig' %}

{% block body %}
    <h1>CiudadanoVehiculo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ciudadanoVehiculo.id }}</td>
            </tr>
            <tr>
                <th>Licenciatransito</th>
                <td>{{ ciudadanoVehiculo.licenciaTransito }}</td>
            </tr>
            <tr>
                <th>Fechapropiedadinicial</th>
                <td>{% if ciudadanoVehiculo.fechaPropiedadInicial %}{{ ciudadanoVehiculo.fechaPropiedadInicial|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechapropiedadfinal</th>
                <td>{% if ciudadanoVehiculo.fechaPropiedadFinal %}{{ ciudadanoVehiculo.fechaPropiedadFinal|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Estadopropiedad</th>
                <td>{{ ciudadanoVehiculo.estadoPropiedad }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ciudadanovehiculo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ciudadanovehiculo_edit', { 'id': ciudadanoVehiculo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
