{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userlccfgrestriccion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userLcCfgRestriccion.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ userLcCfgRestriccion.nombre }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ userLcCfgRestriccion.codigo }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if userLcCfgRestriccion.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userlccfgrestriccion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('userlccfgrestriccion_edit', { 'id': userLcCfgRestriccion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
